In [1]:
import pandas as pd

datos = pd.read_csv (r'ESI_2020.csv',skipinitialspace=True)
datos.head()

,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,via_tran,...,lug_prod,pais_res,subcont_res,cont_res,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad
0,Salida,Extranjero,2020,Enero,22,Hombre,El Salvador,América Central,América,Vía Aérea,...,Lima,El Salvador,América Central,América,Aeropuerto Internacional Mariscal Sucre,Pichincha,Quito,No inmigrante 12-II,Personal de apoyo administrativo no clasificad...,55
1,Salida,Extranjero,2020,Enero,3,Mujer,Chile,América del Sur,América,Vía Aérea,...,Santiago,Ecuador,América del Sur,América,Aeropuerto Internacional José Joaquín de Olmedo,Guayas,Guayaquil,Convenio Chileno Ecuatoriano,Profesionales de la ensenanza no clasificados ...,72
2,Entrada,Extranjero,2020,Enero,5,Mujer,Chile,América del Sur,América,Vía Aérea,...,Panamá City,Ecuador,América del Sur,América,Aeropuerto Internacional Mariscal Sucre,Pichincha,Quito,Convenio Chileno Ecuatoriano,Secretarios (generales),69
3,Entrada,Extranjero,2020,Enero,5,Hombre,Chile,América del Sur,América,Vía Aérea,...,Santiago,Ecuador,América del Sur,América,Aeropuerto Internacional Mariscal Sucre,Pichincha,Quito,Convenio Chileno Ecuatoriano,Disenadores y decoradores de interior,45
4,Entrada,Extranjero,2020,Enero,7,Mujer,Chile,América del Sur,América,Vía Aérea,...,Lima,Ecuador,América del Sur,América,Aeropuerto Internacional Mariscal Sucre,Pichincha,Quito,Convenio Chileno Ecuatoriano,Personal de apoyo administrativo no clasificad...,48

In [2]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2021476 entries, 0 to 2021475
Data columns (total 24 columns):
tip_movi        object
tip_naci        object
anio_movi       int64
mes_movi        object
dia_movi        int64
sex_migr        object
nac_migr        object
subcont_nac     object
cont_nac        object
via_tran        object
mot_viam        object
pais_prod       object
subcont_prod    object
cont_prod       object
lug_prod        object
pais_res        object
subcont_res     object
cont_res        object
jef_migr        object
pro_jefm        object
can_jefm        object
cla_migr        object
ocu_migr        object
edad            int64
dtypes: int64(3), object(21)
memory usage: 370.1+ MB

In [3]:
# Límite de Flourish para mapas 3D: 2'000.000 de filas

datos_salidas = datos[datos['tip_movi'] == "Salida"] # 1'042.983
datos_entradas = datos[datos['tip_movi'] == "Entrada"] # 978.493

In [4]:
datos_salidas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1042983 entries, 0 to 2021475
Data columns (total 24 columns):
tip_movi        1042983 non-null object
tip_naci        1042983 non-null object
anio_movi       1042983 non-null int64
mes_movi        1042983 non-null object
dia_movi        1042983 non-null int64
sex_migr        1042983 non-null object
nac_migr        1042983 non-null object
subcont_nac     1042983 non-null object
cont_nac        1042983 non-null object
via_tran        1042983 non-null object
mot_viam        1042983 non-null object
pais_prod       1042983 non-null object
subcont_prod    1042983 non-null object
cont_prod       1042983 non-null object
lug_prod        1042983 non-null object
pais_res        1042983 non-null object
subcont_res     1042983 non-null object
cont_res        1042983 non-null object
jef_migr        1042983 non-null object
pro_jefm        1042983 non-null object
can_jefm        1042983 non-null object
cla_migr        1042980 non-null object
ocu_migr        1042983 non-null object
edad            1042983 non-null int64
dtypes: int64(3), object(21)
memory usage: 198.9+ MB

In [5]:
datos_entradas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 978493 entries, 2 to 2021474
Data columns (total 24 columns):
tip_movi        978493 non-null object
tip_naci        978493 non-null object
anio_movi       978493 non-null int64
mes_movi        978493 non-null object
dia_movi        978493 non-null int64
sex_migr        978493 non-null object
nac_migr        978493 non-null object
subcont_nac     978493 non-null object
cont_nac        978493 non-null object
via_tran        978493 non-null object
mot_viam        978493 non-null object
pais_prod       978493 non-null object
subcont_prod    978493 non-null object
cont_prod       978493 non-null object
lug_prod        978493 non-null object
pais_res        978493 non-null object
subcont_res     978493 non-null object
cont_res        978493 non-null object
jef_migr        978493 non-null object
pro_jefm        978493 non-null object
can_jefm        978493 non-null object
cla_migr        978491 non-null object
ocu_migr        978493 non-null object
edad            978493 non-null int64
dtypes: int64(3), object(21)
memory usage: 186.6+ MB

In [6]:
# Ciudades más visitadas

ranking_destinos = datos_salidas['lug_prod'].value_counts()
ranking_destinos

Tumbes               112610
Miami Florida        111128
New York New York    103389
Pasto                 64577
Madrid                60558
                      ...
Tianjin                   1
Toledo Parana             1
Santa Ana                 1
Bamenda                   1
Bharatpur                 1
Name: lug_prod, Length: 1894, dtype: int64

In [7]:
df_ranking_destinos = pd.DataFrame(ranking_destinos)
df_ranking_destinos = df_ranking_destinos.reset_index()
df_ranking_destinos.columns = ['destino', 'cantidad']

In [8]:
df_ranking_destinos.head()

             destino  cantidad
0             Tumbes    112610
1      Miami Florida    111128
2  New York New York    103389
3              Pasto     64577
4             Madrid     60558

In [9]:
# Inspección visual

for index, row in df_ranking_destinos.iterrows():
    print(index, row['destino'], row['cantidad'])

0 Tumbes 112610
1 Miami Florida 111128
2 New York New York 103389
3 Pasto 64577
4 Madrid 60558
5 Mexico City 46212
6 Bogotá Dc 44039
7 Fort Lauderdale Florida 43056
8 Lima 27585
9 Santiago 24805
10 Panamá City 22876
11 Newark New Jersey 22034
12 Cancun 16123
13 Orlando Florida 14577
14 Buenos Aires 14511
15 Piura 13575
16 Los Ángeles California 11635
17 Toronto 11402
18 Barcelona 10711
19 Houston Texas 10362
20 Sao Paulo 8752
21 Milán 8729
22 Chicago Illinois 8675
23 Dallas Texas 7880
24 Amsterdam 7682
25 Atlanta Georgia 7582
26 London 7200
27 Villavicencio 6398
28 La Habana 5887
29 Paris 5835
30 Washington D C 5799
31 Cali 5096
32 Caracas 4642
33 Medellín 4431
34 Boston Massachusetts 3845
35 Frankfurt 3613
36 San Jose 3396
37 Cartagena de Indias 3138
38 San Francisco California 3103
39 Roma 2462
40 Zurich 2443
41 Tampa Florida 2360
42 Montreal 2243
43 Minneapolis Minnesota 2219
44 Paita 2196
45 San Salvador 2167
46 Río De Janeiro 2115
47 Valencia 2046
48 Berlín 2013
49 Charlotte North Carolina 1954
50 Guatemala 1922
51 Sin especificar 1826
52 Mexicali 1821
53 Múnich 1792
54 Montevideo 1787
55 Las Vegas Nevada 1787
56 La Paz 1773
57 Santo Domingo 1756
58 Ciudad de Colón 1749
59 Philadelphia Pennsylvania 1677
60 Denver Colorado 1656
61 Brussels 1628
62 Palma de Mallorca 1591
63 Shanghai 1573
64 Asunción 1559
65 Alicante 1542
66 Geneva 1460
67 Punta Cana 1288
68 Cuzco 1276
69 Guadalajara 1148
70 Hamburgo 1115
71 Vancouver 1080
72 San Juan 1079
73 Seattle Washington 1050
74 Raleigh North Carolina 1039
75 Baltimore Maryland 1025
76 Santacruz 1024
77 New Orleans Louisiana 989
78 Austin Texas 963
79 Yonkers New York 940
80 Barranquilla 937
81 Moscow 915
82 Salt Lake City Utah 913
83 Pamplona 847
84 Tel Aviv 799
85 Dusseldorf 791
86 Stockholm 785
87 Jersey City New Jersey 784
88 Jacksonville Florida 783
89 Monterrey 757
90 Tegucigalpa 757
91 Phoenix Arizona 750
92 Bilbao 726
93 Copenhagen 701
94 Vienna 699
95 Detroit Michigan 689
96 Genoa 677
97 San Diego California 645
98 Buenaventura 642
99 Málaga 642
100 Nashville Davidson County Tennessee 638
101 Calgary 624
102 Lisbon 602
103 Portland Oregón 593
104 Sydney 590
105 Fort Collins Colorado 566
106 Pereira 554
107 Beijing 548
108 Allentown Pennsylvania 541
109 Rosario 529
110 Bologna 523
111 Buffalo New York 517
112 Venice 513
113 Holguin 509
114 Alexandria Virginia 507
115 Murcia 505
116 Tokyo 503
117 Bucaramanga 502
118 Seoul 493
119 Córdoba 470
120 Miami Gardens Florida 456
121 San Antonio Texas 454
122 Dubai 450
123 Kansas City Kansas 449
124 Managua 445
125 Cleveland Ohio 434
126 Brasilia 433
127 Arica 418
128 Sao Bernardo Do Campo Sao Paulo 402
129 Indianápolis Indiana 398
130 Manzanillo 398
131 Stuttgart 395
132 Seville 395
133 Manchester 394
134 Guangzhou 391
135 Santa Marta 390
136 Marseille 384
137 Prague 377
138 Porto Alegre Río Grande Do Sul 371
139 Ottawa 362
140 Cúcuta 362
141 Istanbul 361
142 Akron Ohio 356
143 Madison Wisconsin 348
144 Charleston South Carolina 343
145 Cincinnati Ohio 342
146 Islas Marquezas 340
147 Lyon 333
148 Puerto Vallarta 331
149 Aguas Internacionales 331
150 Mendoza 317
151 Oslo 304
152 Pittsburgh Pennsylvania 304
153 Foz Do Iguazú Parana 294
154 Valencia Venezuela 291
155 Nassau 289
156 Edmonton 288
157 Tijuana 273
158 Merida 272
159 Long Beach California 269
160 Albuquerque New México 268
161 Willemstad 260
162 Aruba 259
163 Kiev 253
164 Antofagasta 252
165 St Louis Missouri 247
166 A Coruña 238
167 Maracaibo 236
168 Hartford Connecticut 236
169 Basel 234
170 Campeche 232
171 Guarulhos Sao Paulo 231
172 Toulouse 226
173 Bordeaux 222
174 Ipiales 219
175 Helsinki 215
176 San Sebastián 214
177 Ica 212
178 Columbus Ohio 210
179 Abilene Texas 208
180 Bruges 207
181 Manila 207
182 Gothenburg 200
183 Virginia Beach Virginia 200
184 Acapulco 197
185 New Haven Connecticut 196
186 Amarillo Texas 194
187 Quebec City 192
188 Aguascalientes 190
189 Almería 189
190 Budapest 189
191 San Pedro Sula 188
192 Richmond Virginia 188
193 Sacramento California 187
194 Bremerhaven 186
195 Arequipa 183
196 Trujillo 182
197 Birmingham 181
198 Santa Clara 177
199 Xiamen 175
200 Independence Missouri 175
201 Callao 174
202 Armenia 173
203 Belo Horizonte Minas Gerais 172
204 Dublín 172
205 Turín 171
206 Hanover 170
207 Elizabeth New Jersey 167
208 Edison New Jersey 167
209 Florence 165
210 Nantes 164
211 Corpus Christi Texas 161
212 Las Palmas 159
213 León 158
214 San Bernardo 157
215 Santos Sao Paulo 156
216 Brisbane 156
217 Concepción 153
218 Nice 151
219 Puntarenas 150
220 Winnipeg 149
221 Warsaw 148
222 Melbourne 145
223 Curitiba Paraná 143
224 Núremberg 141
225 Toluca 141
226 Hangzhou 137
227 Cairo 137
228 Iquique 134
229 Ciudad Benito Juarez 133
230 Orange California 133
231 Algeciras 131
232 Cajamarca 129
233 Chiclayo 129
234 Tucson Arizona 129
235 Bridgeport Connecticut 127
236 Vigo 125
237 Alcorcon 125
238 Richmond California 124
239 Porto 123
240 Buenavista 123
241 Bello 123
242 Auckland 120
243 Eskilstuna 119
244 Oklahoma City Oklahoma 118
245 Granada 118
246 Bremen 115
247 Oviedo 115
248 West Palm Beach Florida 115
249 Honolulu Hawaii 115
250 Calama 112
251 Tulsa Oklahoma 111
252 Santiago de Los Caballeros 108
253 San Jose California 107
254 Albacete 107
255 Americana Sao Paulo 106
256 Omaha Nebraska 103
257 Bangkok 102
258 Alajuela 102
259 Valledupar 102
260 Juarez 102
261 Bergisch Gladbach 102
262 Aachen 100
263 Taipei 99
264 Altamira Para 99
265 Athens 98
266 Santander 98
267 Río Branco Acre 97
268 Kingston Jamaica 95
269 New Delhi 95
270 Manaos Amazonas 94
271 Greensboro North Carolina 94
272 Varsovia 93
273 Halifax 92
274 Edinburgh 92
275 Punta Arenas 92
276 Zaragoza 91
277 Bellevue Washington 90
278 Louisville Jefferson County Kentucky 89
279 Montego Bay 89
280 Jackson Mississippi 89
281 Doha 88
282 Bucharest 86
283 Manizales 86
284 Reno Nevada 86
285 Saint Petersburg 86
286 Cary North Carolina 86
287 Lexington Fayette County Kentucky 85
288 Luxembourg 85
289 Hong Kong 85
290 Villahermosa 84
291 Hong Kong Sar 84
292 Rochester New York 84
293 Queretaro 82
294 Rochester Minnesota 81
295 Alcalá de Henares 80
296 Augsburg 80
297 Barrie 79
298 San Martin 79
299 Stamford Connecticut 79
300 Amersfoort 79
301 Puebla 77
302 Beirut 77
303 Birmingham Alabama 77
304 Boise City Boise Idaho 76
305 El Paso Texas 75
306 Memphis Tennessee 75
307 Milwaukee Wisconsin 75
308 Mazatlan 75
309 Chihuahua 74
310 Valparaíso 74
311 Colorado Springs Colorado 74
312 Christmas Island 73
313 Veracruz 73
314 Iquitos 73
315 Abu Dhabi 73
316 Aberdeen 73
317 Caldera 73
318 Playa del Carmen 72
319 Aalborg 72
320 Barrancabermeja 72
321 Quilpué 72
322 Ravenna 72
323 Puerto Montt 71
324 Kansas City Missouri 71
325 Providence Rhode Island 70
326 Wichita Kansas 70
327 Durham North Carolina 70
328 Singapore 70
329 Delhi 69
330 Hollywood Florida 69
331 Pekin 68
332 Chimbote 68
333 Mumbai 68
334 Santa Cruz de Tenerife 67
335 Little Rock Arkansas 67
336 Tacna 67
337 Aix En Provence 66
338 San Luis Potosi 66
339 Bridgetown 66
340 Florianópolis Santa Catarina 65
341 Zagreb 64
342 Santa Ana California 64
343 Acheng 64
344 Anchorage Alaska 64
345 Krakow 63
346 Cochabamba 62
347 Salvador Bahía 62
348 Santa Fe 61
349 Brampton 61
350 Aracatuba Sao Paulo 60
351 Tapachula 60
352 Ecatepec 60
353 Abaetetuba Para 60
354 Hamilton 59
355 Paterson New Jersey 59
356 Port St Lucie Florida 59
357 Saint Paul Minnesota 59
358 Grand Rapids Michigan 59
359 Adelaide 58
360 Minsk 58
361 Dayton Ohio 58
362 Stavanger 57
363 Cártago 56
364 Columbia Missouri 56
365 Chengdu 56
366 Montpellier 56
367 Des Moines Iowa 56
368 Johannesburg 55
369 Port Of Spain 55
370 Lausanne 55
371 Tacoma Washington 54
372 Tallinn 54
373 Bahía Blanca 54
374 Hermosillo 54
375 Jakarta 54
376 Sofía 53
377 Kuala Lumpur 53
378 Fortaleza Ceara 52
379 Bern 51
380 Anaheim California 51
381 Bialystok 51
382 Quetzaltenango 51
383 Maastricht 51
384 Columbia South Carolina 50
385 Bage Río Grande Do Sul 50
386 San Miguelito City 50
387 Riga 50
388 Monteria 50
389 Green Bay Wisconsin 50
390 Recife Pernambuco 49
391 Talca 49
392 Leeds 48
393 Spokane Washington 48
394 Abbotsford 48
395 Lafayette Louisiana 47
396 Montgomery Alabama 47
397 Port Au Prince 47
398 La Plata 46
399 Columbus Georgia 46
400 Glasgow 46
401 Sao Carlos Sao Paulo 45
402 Graz 45
403 Savannah Georgia 45
404 Brownsville Texas 45
405 Billings Montana 45
406 Bristol 44
407 Salta 44
408 San Juan Puerto Rico 43
409 Belice 43
410 Eugene Oregón 43
411 Ibagué 43
412 Naples 43
413 Oakland California 43
414 Saskatoon 43
415 Alagoinhas Bahía 42
416 Argenteuil 42
417 Springfield Missouri 42
418 Ontario California 42
419 Alvorada Río Grande Do Sul 42
420 Newcastle Upon Tyne 42
421 Viña del Mar 41
422 Syracuse New York 41
423 Gdansk 41
424 Pusan Busan 41
425 Chinandega 41
426 Bergen 41
427 Springfield Illinois 40
428 Dammam 40
429 Georgetown 40
430 Norwich 40
431 Tehran 40
432 Arhus 40
433 Gainesville Florida 40
434 Bergamo 40
435 Amiens 40
436 Perúgia 40
437 Angers 39
438 Strasbourg 39
439 Antwerp 39
440 Ann Arbor Michigan 39
441 Fort Wayne Indiana 38
442 Algiers 38
443 Torreon 38
444 Jerez de la Frontera 38
445 Las Tunas 38
446 Canberra 38
447 Neiva 38
448 Chandler Arizona 37
449 Naperville Illinois 37
450 Lahore 37
451 Cologne 36
452 Corrientes 36
453 Midland Texas 36
454 Bari 36
455 Nairobi 35
456 Nara 35
457 Bratislava 35
458 Belfast 35
459 Knoxville Tennessee 34
460 Inchon Incheon 34
461 Temuco 34
462 Nanjing 33
463 Athens Clarke County Georgia 33
464 Celaya 33
465 Bielsko Biala 33
466 Sioux Falls South Dakota 33
467 Abakan 33
468 Barquisimeto 33
469 Norwalk California 32
470 Brescia 32
471 Wilmington North Carolina 32
472 Avignon 32
473 Badajoz 31
474 Chattanooga Tennessee 31
475 Araras Sao Paulo 31
476 Bayamon 31

477 Mcallen Texas 31
478 Talara 31
479 Bali 31
480 Odense 30
481 Alchevsk 30
482 Manchester New Hampshire 30
483 Aden 30
484 San Bernardino California 30
485 Burlington 30
486 Reykjavik 30
487 Fort Worth Texas 30
488 Trondheim 30
489 Toulon 30
490 Cairns 30
491 Terrebonne 30
492 Culiacan 30
493 Nagoya 29
494 Basildon 29
495 Belgrade 28
496 South Bend Indiana 28
497 Granada Nicaragua 28
498 Bonn 28
499 Mar del Plata 27
500 Tempe Arizona 27
501 Tallahassee Florida 27
502 Kelowna 27
503 Huntsville Alabama 27
504 Cuernavaca 27
505 Mulheim 27
506 Terrassa 27
507 Galisbay 27
508 Bielefeld 27
509 Sobral Ceara 27
510 La Romana 27
511 Salamanca 27
512 Bauru Sao Paulo 26
513 Split 26
514 La Serena 26
515 Muscat 26
516 Blackburn 26
517 Oaxaca 26
518 Malmo 26
519 Paramaribo 26
520 Arecibo 26
521 Choloma 26
522 Kobe 25
523 Yokohama 25
524 Waco Texas 25
525 Durango 25
526 Oranjestad 25
527 Burbank California 25
528 Perth 25
529 Oakville 25
530 Fairfield California 24
531 Erie Pennsylvania 24
532 Duisburg 24
533 Fes 24
534 Norman Oklahoma 24
535 Valladolid 24
536 Amman 24
537 Vancouver Washington 24
538 Morelia 24
539 Odessa 24
540 Devonshire 24
541 Messina 23
542 Berdyansk 23
543 Denton Texas 23
544 Camaguey 23
545 Coquimbo 23
546 Belgorod 23
547 Guanghan 23
548 Baton Rouge Louisiana 22
549 Cambridge 22
550 Osaka 22
551 Salto Uruguay 22
552 Evansville Indiana 22
553 Cangzhou 22
554 Guaruja Sao Paulo 22
555 Palermo 22
556 Cádiz 22
557 Bonaire 22
558 Bytom 21
559 Nueva San Salvador 21
560 Ganzhou 21
561 Mulhouse 21
562 Kuwait City 21
563 Copiapo 21
564 Salzburg 21
565 Arlington Texas 21
566 Vilnius 21
567 Parma 20
568 Waterbury Connecticut 20
569 Tuxtla Gutierrez 20
570 Cabo Frio Río De Janeiro 20
571 Bacau 20
572 Logroño 20
573 Provo Utah 20
574 Brest 20
575 Xico 20
576 Natal Río Grande Do Norte 20
577 Apopa 19
578 Juliaca 19
579 Tirana 19
580 Adoni 19
581 Thunder Bay 19
582 San Cristobal 19
583 Maipú 19
584 Minatitlan 19
585 Papeete 18
586 Catania 18
587 Ajax 18
588 Almada 18
589 Espoo 18
590 Apeldoorn 18
591 Pucallpa 18
592 Avellaneda 18
593 Windsor 18
594 Hialeah Florida 18
595 San Miguel de Tucumán 18
596 Mecca 18
597 Innsbruck 18
598 Chillan 18
599 Santa Bárbara Doeste Sao Paulo 17
600 Montreux 17
601 Cape Coral Florida 17
602 Fresno California 17
603 Palmdale California 17
604 Cagliari 17
605 Sabara Minas Gerais 17
606 Beian 17
607 Cabimas 17
608 Ciudad del Carmen 17
609 Casablanca 17
610 Ljubljana 17
611 Cork 17
612 Merida Venezuela 17
613 Besancon 17
614 Tarapoto 17
615 Springfield Massachusetts 17
616 Cedar Rapids Iowa 17
617 Olomouc 17
618 Tampico 17
619 Cape Town 16
620 Andong 16
621 Guantanamo 16
622 Concord California 16
623 Winston Salem North Carolina 16
624 Pembroke Pines Florida 16
625 Shahe 16
626 Burgos 16
627 Dakar 16
628 Ulsan 16
629 Liege 16
630 Islamabad 16
631 Regina 15
632 Kampala 15
633 Thaiti 15
634 Grand Prairie Texas 15
635 New Bombay 15
636 College Station Texas 15
637 Curico 15
638 Osijek 15
639 Clarksville Tennessee 15
640 Mobile Alabama 15
641 Lincoln Nebraska 15
642 Los Alcarrizos 15
643 Abidjan 15
644 San Miguel 15
645 Linz 14
646 Tarragona 14
647 Vitoria Espirito Santo 14
648 Daly City California 14
649 Ansan 14
650 Rijeka 14
651 Andorra la Vella 14
652 Wellington 14
653 Tyler Texas 14
654 Oruro 14
655 Accra 14
656 Barakaldo 14
657 Fontana California 14
658 Almetyevsk 14
659 Buraydah 14
660 Suzano Sao Paulo 14
661 Hagen 14
662 Caguas 14
663 Ageo 14
664 Ángeles City 14
665 Everett Washington 14
666 Marigot 14
667 Lansing Michigan 14
668 Cartagena 13
669 Chennai 13
670 Zacatecas 13
671 Lubbock Texas 13
672 Babruysk 13
673 Ahuachapan 13
674 Poznan 13
675 Magdeburg 13
676 Paranagua Parana 13
677 Philipsburg 13
678 Christchurch 13
679 Toledo Ohio 13
680 Ashkelon 13
681 Clearwater Florida 13
682 Vitoria Da Conquista Bahía 13
683 Sao Caetano Do Sul Sao Paulo 13
684 Neuquén 13
685 Huddersfield 13
686 Guarapuava Sao Paulo 13
687 Brno 13
688 Hanzhong 13
689 Mesa Arizona 13
690 Worcester Massachusetts 13
691 Arvada Colorado 13
692 Coral Springs Florida 13
693 Providenciales 13
694 Kaunas 12
695 St Johns 12
696 Cienfuegos 12
697 Arnhem 12
698 Guangshui 12
699 Georgetown Grand Cayman 12
700 Jaén 12
701 Debrecen 12
702 Resistencia 12
703 Rotterdam 12
704 Verona 12
705 Shreveport Louisiana 12
706 Adana 12
707 Blackpool 12
708 Oldham 12
709 Popayan 12
710 Dresden 12
711 Killeen Texas 12
712 Leipzig 12
713 Funchal 11
714 Ciudad Delgado 11
715 Grand Cayman 11
716 Acarigua 11
717 Changchun 11
718 Zhuhai 11
719 Durres 11
720 Barra Mansa Río de Janeiro 11
721 Colima 11
722 Westminster Colorado 11
723 Almere 11
724 Belem Para 11
725 Fremont California 11
726 Mckinney Texas 11
727 Fayetteville North Carolina 11
728 Latina 11
729 Braga 11
730 Ashdod 11
731 Lakewood Colorado 11
732 Ciudad Obregon 11
733 Manama 11
734 Los Mochis 11
735 Aletay 11
736 Abohar 10
737 Shenzhen 10
738 Bakersfield California 10
739 Ap Lei Chau 10
740 Saint Etienne 10
741 Podgorica 10
742 Cotonou 10
743 Praia 10
744 Bochum 10
745 Qianjiang 10
746 Coro 10
747 New Taipei 10
748 Liverpool 10
749 Carolina Puerto Rico 10
750 Nijmegen 10
751 Kingston Upon Hull 10
752 Ribeirao Das Neves Sao Paulo 10
753 Chernihiv 10
754 Guaynabo 10
755 Daugavpils 10
756 Abuja 10
757 Chengde 10
758 Kempton Park 10
759 West Covina California 10
760 Atibaia Sao Paulo 10
761 Rabat 10
762 Peoria Arizona 10
763 Pine Cay 10
764 Dunedin 9
765 Middle Caicos 9
766 Barinas 9
767 Buon Ma Thuot 9
768 Whitby 9
769 Olinda Pernambuco 9
770 Fuzhou Jiangxi 9
771 High Wycombe 9
772 Arad 9
773 Vitoria Gasteiz 9
774 Araure 9
775 Chorzow 9
776 Barretos Sao Paulo 9
777 Choluteca 9
778 Le Mans 9
779 Bila Tserkva 9
780 Sunnyvale California 9
781 Bydgoszcz 9
782 Salva León de Higuey 9
783 Mainz 9
784 Carolina 9
785 Sao Vicente Sao Paulo 9
786 Antioch California 9
787 Abbottabad 9
788 Akesu 9
789 Riyadh 9
790 Honghu 9
791 Jerusalén 9
792 Recklinghausen 9
793 Alexandria 9
794 Matamoros 9
795 Miramar Florida 9
796 Ho Chi Minh City 9
797 Schaerbeek 8
798 San Felipe de Puerto Plata 8
799 Salerno 8
800 Cambridge Massachusetts 8
801 Liberec 8
802 Barcelona Venezuela 8
803 Trento 8
804 Barcadera 8
805 Santa Rosa California 8
806 Laredo Texas 8
807 San Luis Río Colorado 8
808 Ambon 8
809 Bangalore 8
810 Palmas Tocantins 8
811 Achinsk 8
812 Simi Valley California 8
813 Maracay 8
814 Hancheng China 8
815 Le Havre 8
816 Jeddah 8
817 Klaipeda 8
818 Tokorozawa 8
819 Dhaka 8
820 Darwin 8
821 Kigali 8
822 Chalco de Diaz Covarrubias 8
823 Cardiff 8
824 Batyam 8
825 Nova Iguacu Río de Janeiro 8
826 Clermont Ferrand 8
827 Ghent 8
828 Badalona 8
829 Rennes 8
830 Salem Oregón 8
831 Coimbra 8
832 Malabo 8
833 Cherkasy 8
834 Arkhangelsk 8
835 Ankara 8
836 Macae Río de Janeiro 8
837 Port Moresby 8
838 Baku 8
839 Tulancingo 8
840 El Progreso 8
841 Changhua 8
842 Belford Roxo Río de Janeiro 8
843 Szczecin 8
844 Burgas 8
845 Angarsk 7
846 Miass 7
847 Resende Río De Janeiro 7
848 Marrakech 7
849 Abiko 7
850 Monza 7
851 North Las Vegas Nevada 7
852 Agra 7
853 Ciudad Acuña 7
854 Bournemouth 7
855 Ilheus Bahía 7
856 Panevezys 7
857 Sanmenxia 7
858 Woodbridge Township New Jersey 7
859 Chiayi 7
860 Pescara 7
861 Pilsen 7
862 Freiburg Im Breisgau 7
863 Walbrzych 7
864 Palmira 7
865 Burnaby 7
866 Kaohsiung 7
867 Downey California 7
868 Taranto 7
869 Amadora 7
870 Riverside California 7
871 Stockton California 7
872 Maribor 7
873 Huizhou 7
874 Aurora Colorado 7
875 Beihai 7
876 West Valley City Utah 7
877 Kosice 7
878 Moreno Valley California 7
879 Sao Goncalo Río de Janeiro 7
880 Coquitlam 7
881 Maringa Parana 7
882 Santiago del Estero 7
883 Grenoble 7
884 Heidelberg 7
885 Attard 7
886 Elalto 7
887 Lancaster California 7
888 Tartu 7
889 Ananindeua Para 7
890 Pearland Texas 7
891 Georgetown Penang 7
892 Czestochowa 7
893 Baghdad 7
894 Anyang South Korea 7
895 Elche 7
896 Rancagua 7
897 Livorno 7
898 Hualien 7
899 Ensenada 7
900 Nancy 7
901 Chernivtsi 7
902 Campo Grande Mato Grosso Do Sul 7
903 Augusta Richmond County Georgia 7
904 Orebro 7
905 Criciuma Santa Catarina 6
906 Reynosa 6
907 Bahawalnagar 6
908 Armavir 6
909 Braganca Paulista Sao Paulo 6
910 Hong Kong Central 6
911 Kingston 6
912 Xalapa 6
913 Kamianets Podilskyi 6
914 Phnompenh 6
915 Lagos 6
916 Mejicanos 6
917 Agadir 6
918 Guadalupe 6
919 Mesquite Texas 6
920 Colombo Sri Lanka 6
921 Vasteras 6
922 Saint Thomas 6
923 Sapucaia Do Sul Río Grande Do Sul 6
924 Thousand Oaks California 6
925 Lleida 6
926 Gijón 6
927 Ahvaz 6
928 Lanús 6
929 Valdivia 6
930 Novara 6
931 Barueri Sao Paulo 6
932 Vicenza 6
933 Potosí 6
934 Mónaco 6
935 Causeway Bay 6
936 Fresnillo 6
937 Sincelejo 6
938 Santa Rita Paraiba 6
939 Olathe Kansas 6
940 Ailinglapalap Island 6
941 Oxford 6
942 Aksaray 6
943 Pleven 6
944 Corona California 6
945 Santa Clara California 6
946 Aizuwakamatsu 6
947 Multan 6
948 Castellón de la Plana 6
949 Maputo 6
950 Balzan 6
951 Fuenlabrada 6
952 Aracaju Sergipe 6
953 Peoria Illinois 6
954 Breda 6
955 Boa Vista Roraima 6
956 Vantaa 5
957 Bottrop 5
958 Sabadell 5
959 Getafe 5
960 Benimellal 5
961 Padua 5
962 Wanxian 5
963 Munster 5
964 Skopje 5
965 Berkeley California 5
966 Eskisehir 5
967 Machida 5
968 Pachuca 5
969 Airok 5
970 Brighton And Hove 5
971 Santa Cruz 5
972 Barisal 5
973 Oxnard California 5
974 Vinh 5

975 Noord 5
976 Gold Coast Tweed 5
977 Rostock 5
978 Xian 5
979 Canberra Queanbeyan 5
980 Pueblo Colorado 5
981 Huntington Beach California 5
982 Alorsetar 5
983 St Petersburg Florida 5
984 Mataró 5
985 Abadan 5
986 Haicheng 5
987 Florencia Caquetá 5
988 Piedras Negras 5
989 Cayenne 5
990 Shenyang 5
991 Dar Es Salaam 5
992 Los Ángeles 5
993 Kerch 5
994 Krasnodar 5
995 Glendale Arizona 5
996 Ibirite Minas Gerais 5
997 Banjul 5
998 Lille 5
999 Río Claro Sao Paulo 5
1000 Ufa 5
1001 Anda 5
1002 Chai Wan 5
1003 Akashi 5
1004 Ostrava 5
1005 Erfurt 5
1006 Dos Quebradas 5
1007 Antakya 5
1008 Almaty 5
1009 Saint George 5
1010 Sheikhupura 5
1011 Goiania Goias 5
1012 Orleans 5
1013 Addis Ababa 5
1014 Petrolina Pernambuco 5
1015 Zarqa 5
1016 Taian 5
1017 Bloemfontein 5
1018 Akishima 5
1019 Hodeidah 5
1020 Changweon 5
1021 Newcastle 5
1022 Garland Texas 5
1023 Adiyaman 5
1024 Chincha Alta 5
1025 Grenville 5
1026 Couva 4
1027 Bulawayo 4
1028 Ciudad Nicolas Romero 4
1029 Freeport 4
1030 Qingdao 4
1031 Ipatinga Minas Gerais 4
1032 Plano Texas 4
1033 Timisoara 4
1034 Santo Andre Sao Paulo 4
1035 Leicester 4
1036 Maidstone 4
1037 Hayward California 4
1038 Sarajevo 4
1039 Zwolle 4
1040 Bahawalpur 4
1041 Caguas Puerto Rico 4
1042 Osorno 4
1043 Plovdiv 4
1044 Baicheng 4
1045 San Cristóbal de la Laguna 4
1046 Yerevan 4
1047 Wiesbaden 4
1048 Hortolandia Sao Paulo 4
1049 Mage Río de Janeiro 4
1050 Shangzhi 4
1051 Omsk 4
1052 Sao Jose de Ribamar Maranhao 4
1053 Juba 4
1054 Perpignan 4
1055 San Fernando 4
1056 Salt Cay 4
1057 Ayacucho 4
1058 Benoni 4
1059 Osasco Sao Paulo 4
1060 Pompano Beach Florida 4
1061 Damascus 4
1062 Chetumal 4
1063 Visalia California 4
1064 Kryvyi Rih 4
1065 Adapazari 4
1066 Dominica 4
1067 Wendeng 4
1068 Samara 4
1069 Gravatai Río Grande Do Sul 4
1070 Beaumont Texas 4
1071 Budaun 4
1072 Santiago de Cuba 4
1073 Baoding 4
1074 Gaziantep 4
1075 Sorocaba Sao Paulo 4
1076 Araraquara Sao Paulo 4
1077 Belgaum 4
1078 Baiyin 4
1079 Dijon 4
1080 Iguala 4
1081 La Ceiba 4
1082 Monrovia 4
1083 Yogyakarta 4
1084 Bayamo 4
1085 Santa Coloma de Gramenet 4
1086 Dabrowa Gornicza 4
1087 Luanda 4
1088 Tunis 4
1089 Kyoto 4
1090 Buga 4
1091 Bobo Dioulasso 4
1092 Aurora Illinois 4
1093 Taboao Da Serra Sao Paulo 4
1094 Tampere 4
1095 Pouso Alegre Minas Gerais 4
1096 Tripolilebanon 4
1097 Anshan 4
1098 Saguenay 4
1099 Essen 4
1100 Nimes 4
1101 Leganés 4
1102 Oshawa 4
1103 Lublin 4
1104 Douala 4
1105 Scottsdale Arizona 4
1106 Terni 4
1107 Cumana 4
1108 Cebu City 4
1109 Maua Sao Paulo 4
1110 Vallejo California 3
1111 Saanich 3
1112 Chelyabinsk 3
1113 Tortola 3
1114 Cacak 3
1115 Shiraz 3
1116 Ghotki 3
1117 Sao Leopoldo Río Grande Do Sul 3
1118 Wroclaw 3
1119 Limoges 3
1120 Niigata 3
1121 Boksburg 3
1122 Ulm 3
1123 Fernando de la Mora 3
1124 Nesfield 3
1125 Akita 3
1126 Tachikawa 3
1127 Chilpancingo 3
1128 Campinas Sao Paulo 3
1129 Belmopan 3
1130 Lages Santa Catarina 3
1131 Tulua 3
1132 Puerto Cabello 3
1133 Sint Nicolaas 3
1134 Bokaro Steel City 3
1135 Furth 3
1136 Bamako 3
1137 Ramallah 3
1138 Ciudad del Este 3
1139 Koszalin 3
1140 Bhalwal 3
1141 Guangyuan 3
1142 Horlivka 3
1143 Jeongju 3
1144 Latur 3
1145 Villeurbanne 3
1146 Bradford 3
1147 Sao Jose Do Río Preto Sao Paulo 3
1148 Kathmandu 3
1149 Antipolo City Rizal 3
1150 Módena 3
1151 Dortmund 3
1152 Beawar 3
1153 Dimitrovgrad 3
1154 Mayaguez 3
1155 Hiroshima 3
1156 Cam Pha 3
1157 Junagadh 3
1158 Joao Pessoa Paraiba 3
1159 Neuss 3
1160 Cubatao Sao Paulo 3
1161 Varan 3
1162 Afyon 3
1163 Sassari 3
1164 Overland Park Kansas 3
1165 Lambaré 3
1166 Emeishan City 3
1167 Passo Fundo Río Grande Do Sul 3
1168 Gyumri 3
1169 Groningen 3
1170 Soledad Atlantico 3
1171 Bago 3
1172 Cheonan 3
1173 Markham 3
1174 Tainan 3
1175 Bolton 3
1176 Zhenjiang 3
1177 Tehuacan 3
1178 Christ Church 3
1179 Baidoa 3
1180 Portlouis 3
1181 Cay Bay 3
1182 Sarh 3
1183 Gilbert Arizona 3
1184 Ipswich 3
1185 Kathlehong 3
1186 Boulogne Billancourt 3
1187 Baishan 3
1188 Fujin 3
1189 Hildesheim 3
1190 Anapolis Goias 3
1191 Iskenderun 3
1192 Sao Luis Maranhao 3
1193 Maradi 3
1194 Kralendijk 3
1195 Amol 3
1196 Batumi 3
1197 Reading 3
1198 Latakia 3
1199 Toda 3
1200 Saint Georges 3
1201 Lowell Massachusetts 3
1202 San Pedro de Macoris 3
1203 Grozny 3
1204 Namur 3
1205 Ciudad Valles 3
1206 Tarawa Sur 3
1207 Kyongju Gyeongju 3
1208 Fukuoka 3
1209 Mazarisharif 3
1210 Braunschweig 3
1211 Limassol 3
1212 Gaborone 3
1213 Castries 3
1214 Nicosia 3
1215 Cabuyao City Laguna 3
1216 Ahmedabad 3
1217 Teresopolis Río de Janeiro 3
1218 Uppsala 3
1219 Trier 3
1220 Lahti 3
1221 Quilmes 3
1222 Agartala 3
1223 Jyvaskyla 3
1224 Reims 3
1225 Chechon 3
1226 Erlangen 3
1227 Gongzhuling 3
1228 Carrollton Texas 3
1229 Sao Jose Dos Campos Sao Paulo 3
1230 Trieste 3
1231 Pune 3
1232 Stara Zagora 3
1233 Erbil 3
1234 Itaborai Río De Janeiro 3
1235 Darmstadt 3
1236 Chicoloapan de Juarez 3
1237 Sharjah 3
1238 Kharkiv 3
1239 Bneibrak 3
1240 Diadema Sao Paulo 3
1241 Osnabruck 3
1242 Balikpapan 3
1243 Maicao 3
1244 Rimini 3
1245 Maseru 3
1246 Herat 2
1247 Lome 2
1248 Asau 2
1249 Hsinchu 2
1250 Batam 2
1251 Panjin 2
1252 La Florida 2
1253 Tilburg 2
1254 Plymouth 2
1255 Cheongju 2
1256 Mersin 2
1257 Santa Clarita California 2
1258 Kiel 2
1259 San Ignacio 2
1260 Basra 2
1261 Mahe 2
1262 Saint Peter 2
1263 Londrina Parana 2
1264 Maturin 2
1265 Conakry 2
1266 Phoenix Islands 2
1267 Los Teques 2
1268 Kassel 2
1269 Itu Sao Paulo 2
1270 Vung Tau 2
1271 Bangui 2
1272 Leverkusen 2
1273 Barysaw 2
1274 Guarenas 2
1275 Teresina Piaui 2
1276 Erzincan 2
1277 Vitebsk 2
1278 Komsomolsk On Amur 2
1279 Basse Terre 2
1280 San Cristobal de las Casas 2
1281 Munger 2
1282 Chenzhou 2
1283 Taichung 2
1284 Haerbin 2
1285 Imperatriz Maranhao 2
1286 Amarah 2
1287 Hanoi 2
1288 Berezniki 2
1289 Shuangcheng 2
1290 Coimbatore 2
1291 Zaporizhia 2
1292 Chapeco Santa Catarina 2
1293 Lusaka 2
1294 Hengshui 2
1295 Chaguanas 2
1296 Middlesbrough 2
1297 Zhangshu 2
1298 Anyang China 2
1299 Tarija 2
1300 Cheju 2
1301 Brasov 2
1302 Mississauga 2
1303 Campina Grande Paraiba 2
1304 Costa Mesa California 2
1305 Milton Keynes 2
1306 Guelph 2
1307 Toyokawa 2
1308 Naucalpan 2
1309 Cuiabá Mato Grosso 2
1310 Rostov On Don 2
1311 Beaubassin 2
1312 Baoji 2
1313 Móstoles 2
1314 Valera 2
1315 Opole 2
1316 Elgin Illinois 2
1317 Silang Cavite 2
1318 West Bromwich 2
1319 Saltillo 2
1320 Perm 2
1321 Alexandra 2
1322 Elazig 2
1323 Pristina 2
1324 Mogilevmahilyow 2
1325 San Nicolas de los Garza 2
1326 Petare 2
1327 Haarlem 2
1328 San Francisco de Macoris 2
1329 Ruse 2
1330 Exeter 2
1331 Wafangdian 2
1332 Wuhan 2
1333 Mariehamn Maarianhamina 2
1334 Okinawa 2
1335 Gliwice 2
1336 Messaad 2
1337 Dessie 2
1338 Balakovo 2
1339 Eindhoven 2
1340 Giza 2
1341 Hamm 2
1342 Jhubei 2
1343 Santa Cruz Do Sul 2
1344 Winterthur 2
1345 Huancayo 2
1346 Barbuda 2
1347 Riffa 2
1348 Karlsruhe 2
1349 Santa Luzia Minas Gerais 2
1350 Durg 2
1351 Greater Sudbury 2
1352 Orizaba 2
1353 Foshan 2
1354 Ankang 2
1355 Suzhou Anhui 2
1356 Grand Case 2
1357 Dordrecht 2
1358 Baranovichi 2
1359 Oberhausen 2
1360 Ain Beida 2
1361 Pomona California 2
1362 Nottingham 2
1363 Fu An 2
1364 Aparecida de Goiania Goias 2
1365 Regensburg 2
1366 Hyderabad India 2
1367 Floridablanca 2
1368 San Lorenzo 2
1369 El Bosque 2
1370 Mombasa 2
1371 Limerick 2
1372 Abia 2
1373 Montreuil 2
1374 San Pablo de las Salinas 2
1375 Pasadena California 2
1376 Mannheim 2
1377 Grandes Cayes 2
1378 Prato 2
1379 Vinnytsia 2
1380 Gonaives 2
1381 Miramar 2
1382 Mandaluyong City 2
1383 Smolensk 2
1384 Neyveli 2
1385 Sucre 2
1386 Hargeisa 2
1387 Nilopolis Río de Janeiro 2
1388 Leiden 2
1389 Peñalolén 2
1390 Schwerin 2
1391 Envigado 2
1392 Bacolod City 2
1393 Ji An Jiangxi 2
1394 Lodz 2
1395 Fuzhou Fujian 2
1396 Dundee 2
1397 Radom 2
1398 Medina 2
1399 Hue 2
1400 Huelva 2
1401 Changde 2
1402 Shanwei 2
1403 Nagasaki 2
1404 Niihama 2
1405 Gottingen 2
1406 Dehiwala Mount Lavinia 2
1407 Harare 2
1408 El Monte California 2
1409 Indaiatuba Sao Paulo 2
1410 Tobago 2
1411 Yangon Rangoon 2
1412 Chania 2
1413 Roseville California 2
1414 Lubeck 2
1415 Handa 2
1416 Ajdabiya 2
1417 Shangqiu 2
1418 Antigua 2
1419 Taiz 2
1420 Sumare Sao Paulo 2
1421 Trois Rivieres 2
1422 Cluj Napoca 2
1423 Warren Michigan 2
1424 Bugibba 2
1425 Garden Grove California 2
1426 Wollongong 2
1427 Chiniot 2
1428 Zinder 2
1429 Girardot 2
1430 Gelsenkirchen 2
1431 Urgench 2
1432 Changzhi 2
1433 Liaocheng 2
1434 Sanming 2
1435 Bhagalpur 2
1436 Baia Mare 2
1437 Hat Yai 2
1438 Lilongwe 2
1439 Paderborn 2
1440 Wurzburg 2
1441 Zapopan 2
1442 Sapporo 2
1443 Cockburn Town 2
1444 Khmelnytskyi 2
1445 San Giljan 2
1446 Botosani 1
1447 Pasadena Texas 1
1448 Richmond Hill 1
1449 Corozal 1
1450 Ferraz de Vasconcelos Sao Paulo 1
1451 Salzgitter 1
1452 San Juan Bautista Tuxtepec 1
1453 Saint Lucia 1
1454 Canillo 1
1455 Dodoma 1
1456 Corlu 1
1457 Padang 1
1458 Shchyolkovo 1
1459 Pingxiang 1
1460 Luton 1
1461 Joliet Illinois 1
1462 Vaughan 1
1463 Lobito 1
1464 Chatsworth Durban 1
1465 Can Tho 1
1466 Ivano Frankivsk 1
1467 Birgu 1
1468 Portsmouth 1
1469 Guaymas 1
1470 Burewala 1
1471 Kalisz 1
1472 Kuala Belait 1
1473 Zhangzhou 1
1474 Masjed Soleyman 1
1475 Mykolaiv 1
1476 Arrah 1
1477 Druif 1
1478 Yamaguchi 1
1479 Sterlitamak 1
1480 Ojo de Agua 1
1481 Oulu 1
1482 Orenburg 1
1483 Enschede 1
1484 Ciudad Madero 1
1485 Duitama 1
1486 Prokopyevsk 1
1487 Da Nang 1
1488 Nuevo Laredo 1
1489 Teixeira de Freitas 1
1490 Surabaya 1
1491 Olsztyn 1
1492 Ipoh 1
1493 Birgunj 1
1494 Catanduva Sao Paulo 1
1495 Suncheon South Korea 1
1496 Batman 1
1497 Benin City 1
1498 Ferrara 1
1499 Gallis Bay 1
1500 Buzau 1
1501 Koblenz 1
1502 Oujda 1
1503 Dniprodzerzhynsk 1
1504 Camacari Bahía 1
1505 Zabrze 1
1506 Zhangjiajie 1
1507 Suzhou Jiangsu 1
1508 Abomey 1
1509 Nagano 1
1510 Little Cayman 1
1511 Qamishli 1
1512 Dumont D Urville Station 1
1513 Bizerte 1
1514 Capiatá 1
1515 Abeokuta 1
1516 Chibi 1
1517 Geelong 1
1518 Wolverhampton 1
1519 Fanning Islands 1
1520 Chelmsford 1
1521 Antalya 1
1522 Arayat Pampanga 1
1523 Fanling 1
1524 Arzamas 1
1525 Thehague 1
1526 Sunshine Coast 1
1527 Bulandshahr 1
1528 Dili 1
1529 Asahikawa 1
1530 Santa Maria Río Grande Do Sul 1
1531 Poza Rica 1
1532 Kofu 1
1533 Laiwu 1
1534 Dalian 1
1535 Changzhou 1
1536 Zaozhuang 1
1537 Kota Bharu 1
1538 Jena 1
1539 Maceio Alagoas 1
1540 Stavropol 1
1541 Hung Hom 1
1542 Rouen 1
1543 Balashikha 1
1544 Obninsk 1
1545 Diego Martin 1
1546 L Hospitalet de Llobregat 1
1547 Shangluo 1
1548 Valletta 1
1549 Arno 1
1550 Peel 1
1551 Galati 1
1552 Erzurum 1
1553 Maanshan 1
1554 Kingstown 1
1555 Aydin 1
1556 Gorzow Wielkopolski 1
1557 Godhra 1
1558 Preston 1
1559 Melitopol 1
1560 Kielce 1
1561 Misato 1
1562 Kanazawa 1
1563 Sao Jose Santa Catarina 1
1564 Blumenau Santa Catarina 1
1565 Talcahuano 1
1566 Kochi India 1
1567 Quanzhou 1
1568 Fort de France 1
1569 Jiangyou 1
1570 Maraba Para 1
1571 Pindamonhangaba Sao Paulo 1
1572 Zanzibar 1
1573 Quezon City 1
1574 A Larish 1
1575 Gustavia 1
1576 Samarkand 1
1577 Nongoma 1
1578 Arusha 1
1579 Itapevi Sao Paulo 1
1580 Sloviansk 1
1581 Tours 1
1582 Daito 1
1583 Bushiribana 1
1584 Baranagar 1
1585 Jaipur 1
1586 Ha Kwai Chung 1
1587 Okazaki 1
1588 Itabuna Bahía 1
1589 Limeira Sao Paulo 1
1590 Joetsu 1
1591 Johore Bharu 1
1592 Ciudad Victoria 1
1593 Farah 1
1594 Goma 1
1595 Balzers 1
1596 Malang 1
1597 Penza 1
1598 Douliou 1
1599 Cabo De Santo Agostinho Pernambuco 1
1600 Ting Kau 1
1601 Drobeta Turnu Severin 1
1602 Atyrau 1
1603 Escaldes Engordany 1
1604 Katowice 1
1605 Orange Walk 1
1606 Fuchu Tokyo 1
1607 Kota Kinabalu 1
1608 Dehradun 1
1609 Ain Oussera 1
1610 Sint Eustatius 1
1611 Bafoussam 1
1612 Taebaek 1
1613 Utrecht 1
1614 Kadamrasul 1
1615 Hindupur 1
1616 Khutsong 1
1617 Tbilisi 1
1618 Irbid 1
1619 Huangshan 1
1620 Bayamon Puerto Rico 1
1621 Port Victoria 1
1622 Huozhou 1
1623 Oradea 1
1624 Braila 1
1625 La Pintana 1
1626 Al Fayyum 1
1627 Thessaloniki 1
1628 Bimbo 1
1629 Torrance California 1
1630 Aweil 1
1631 Bhopal 1
1632 Sorsogon City Sorsogon 1
1633 Balikesir 1
1634 Chaohu 1
1635 Bally 1
1636 Sabha 1
1637 Kallithea 1
1638 Ambala 1
1639 Oita 1
1640 Higashihiroshima 1
1641 Taejon Daejeon 1
1642 Sana A 1
1643 Catia La Mar 1
1644 Mahabad 1
1645 Fuji 1
1646 Arima 1
1647 Point Fortin 1
1648 Kyzyl 1
1649 Asyut 1
1650 Astana 1
1651 Abemama 1
1652 Beersheba 1
1653 Huludao 1
1654 Cuautitlan 1
1655 Miskolc 1
1656 Ahmednagar 1
1657 Bandjarmasin 1
1658 Port Sudan 1
1659 Kuching 1
1660 Kisumu 1
1661 Khartoum 1
1662 Seongnam 1
1663 Izmir 1
1664 Shangrao 1
1665 Malacca City 1
1666 Irian Jaya 1
1667 Brahmapur 1
1668 Embu Das Artes Sao Paulo 1
1669 Cha Kwo Ling 1
1670 Peterborough 1
1671 Queimados Río De Janeiro 1
1672 Chiang Mai 1
1673 Niteroi Río de Janeiro 1
1674 Virgin Gorda 1
1675 Al Ain 1
1676 Lviv 1
1677 Da Lat 1
1678 Baie de Prony 1
1679 Al Fashir 1
1680 Puno 1
1681 Tangier 1
1682 Nouakchott 1
1683 Ghazni 1
1684 Kislovodsk 1
1685 Safi 1
1686 Chuxiong 1
1687 Guaratingueta Sao Paulo 1
1688 Gilgit 1
1689 Timón Maranhao 1
1690 Al Mansurah 1
1691 Bohicon 1
1692 Guanare 1
1693 Khon Kaen 1
1694 Weihui 1
1695 Solingen 1

1696 Lida 1
1697 Townsville 1
1698 Chongqing 1
1699 Mandalay 1
1700 Vila Nova de Gaia 1
1701 Okara 1
1702 Damanhur 1
1703 Mogi Guacu Sao Paulo 1
1704 Kecskemet 1
1705 Valencia City Bukidnon 1
1706 Wolfsburg 1
1707 Gaya 1
1708 Mandaue City 1
1709 Richmond 1
1710 Sao Joao de Meriti Río De Janeiro 1
1711 Mostar 1
1712 Stoke On Trent 1
1713 Sertaozinho Sao Paulo 1
1714 Kunsan Gunsan 1
1715 Oskemen 1
1716 Aktau 1
1717 Tau 1
1718 Portsaid 1
1719 Pinhais Parana 1
1720 Uberlandia Minas Gerais 1
1721 Tepexpan 1
1722 Durban 1
1723 San Buenaventura Ventura California 1
1724 Plock 1
1725 Gaza 1
1726 Jiamusi 1
1727 Moroni 1
1728 Firozabad 1
1729 Kandy 1
1730 Irving Texas 1
1731 Jhenida 1
1732 St Catharines 1
1733 Ramatgan 1
1734 Mianyang 1
1735 Maunath Bhanjan 1
1736 Cabanatuan City Nueva Ecija 1
1737 Tokuyama 1
1738 Gomez Palacio 1
1739 Pelotas Río Grande Do Sul 1
1740 Las Condes 1
1741 Vryheid 1
1742 Changshu 1
1743 Cabinda 1
1744 Kokshetau 1
1745 Haiphong 1
1746 Hidalgo del Parral 1
1747 Yosu 1
1748 Zaanstad 1
1749 Warangal 1
1750 Wau 1
1751 Kaifeng 1
1752 Saint Philip 1
1753 Novomoskovsk 1
1754 Ilagan Isabela 1
1755 Changsha 1
1756 Blida 1
1757 Muntinlupa City 1
1758 Cherthala 1
1759 Tando Adam Khan 1
1760 Chatham Kent 1
1761 Sochi 1
1762 Ndjamena 1
1763 Pakanbaru 1
1764 Sosnowiec 1
1765 Annaba 1
1766 Jaboatao Dos Guararapes Pernambuco 1
1767 Berbera 1
1768 Ciudad Cuauhtemoc 1
1769 Cayman Brac 1
1770 Haridwar 1
1771 Gweru 1
1772 Fuyang 1
1773 Suihua 1
1774 Qurghonteppa 1
1775 Malita Davao del Sur 1
1776 Taonan 1
1777 Triesen 1
1778 Makhachkala 1
1779 Poole 1
1780 Pitesti 1
1781 Pavlohrad 1
1782 Balurghat 1
1783 Mabalacat Pampanga 1
1784 La Horquetta 1
1785 Ondal 1
1786 Oceanside California 1
1787 Keelung 1
1788 Nagpur 1
1789 Pohang 1
1790 Petrozavodsk 1
1791 Zhoukou 1
1792 Torun 1
1793 Fergana 1
1794 San Pedro Garza Garcia 1
1795 Tanga 1
1796 Meiktila 1
1797 Uzhhorod 1
1798 Gatineau 1
1799 Ashgabat 1
1800 Roseau 1
1801 Dudley 1
1802 Vadodara 1
1803 Gojra 1
1804 Yucca 1
1805 Donetsk 1
1806 Kannur 1
1807 Ludwigshafen 1
1808 Mariupol 1
1809 Elektrostal 1
1810 Brazzaville 1
1811 Veliky Novgorod 1
1812 Embu 1
1813 Launceston 1
1814 Aranuka 1
1815 Greater Hobart 1
1816 Navotas City 1
1817 Sanya 1
1818 Chonchu Jeonju 1
1819 Richards Bay 1
1820 Remscheid 1
1821 Kirov 1
1822 Carrefour 1
1823 Ebetsu 1
1824 Haifa 1
1825 Tatui Sao Paulo 1
1826 Thornton Colorado 1
1827 Kaili 1
1828 Nabadwip 1
1829 Cirebon 1
1830 Huánuco 1
1831 Anlu 1
1832 Kairouan 1
1833 Enshi 1
1834 Harbour Island 1
1835 Gdynia 1
1836 Trabzon 1
1837 Moers 1
1838 Yongzhou 1
1839 Nanchang 1
1840 Henderson Nevada 1
1841 Cascavel Paraná 1
1842 Southampton 1
1843 Bolu 1
1844 Contagem Minas Gerais 1
1845 Chandan Nagar 1
1846 Charleroi 1
1847 Derby 1
1848 Basseterre Saint Kitts 1
1849 Maykop 1
1850 Vladimir 1
1851 Sterling Heights Michigan 1
1852 Cap Haitien 1
1853 Apucarana Paraná 1
1854 Arak 1
1855 Huangshi Hubei 1
1856 Kediri 1
1857 Bankura 1
1858 Caen 1
1859 Nogales 1
1860 Rehovot 1
1861 Nakuru 1
1862 Laval 1
1863 Ndola 1
1864 Toledo City Cebu 1
1865 Tripoli 1
1866 Ouargla 1
1867 Salihorsk 1
1868 Ciudad Guayana 1
1869 Toowoomba 1
1870 Grudziadz 1
1871 Rancho Cucamonga California 1
1872 Siauliai 1
1873 Carcar Cebu 1
1874 Delmas 1
1875 Dorp Rincon 1
1876 Mangora 1
1877 Dera Ghazi Khan 1
1878 Binzhou 1
1879 Davis Station 1
1880 Santa Catarina 1
1881 Tlalnepantla 1
1882 Vanadzor 1
1883 Yau Ma Tei 1
1884 Sfax 1
1885 Bacoor Cavite 1
1886 Fullerton California 1
1887 Wuzhou 1
1888 Siping 1
1889 Tianjin 1
1890 Toledo Parana 1
1891 Santa Ana 1
1892 Bamenda 1
1893 Bharatpur 1

In [10]:
# Limpieza

# Elimino filas que tienen destino "Sin especificar"
df_ranking_destinos = df_ranking_destinos[df_ranking_destinos['destino'] != "Sin especificar"]

In [11]:
# Elimino filas en blanco
df_ranking_destinos.replace(r'^s*$', float('NaN'), regex = True)
df_ranking_destinos.dropna(inplace = True)

In [12]:
# Reemplazo Islas Marquezas por Islas Marquesas
df_ranking_destinos['destino'] = df_ranking_destinos['destino'].str.replace('Islas Marquezas','Islas Marquesas')

In [13]:
# Reemplazo Batyam por Bat Yam
df_ranking_destinos['destino'] = df_ranking_destinos['destino'].str.replace('Batyam','Bat Yam')

In [14]:
# Reemplazo Elalto por El Alto
df_ranking_destinos['destino'] = df_ranking_destinos['destino'].str.replace('Elalto','El Alto')

In [15]:
# Reemplazo Benimellal por Beni Melal
df_ranking_destinos['destino'] = df_ranking_destinos['destino'].str.replace('Benimellal','Beni Melal')

In [16]:
# Reemplazo Alorsetar por Alor Setar
df_ranking_destinos['destino'] = df_ranking_destinos['destino'].str.replace('Alorsetar','Alor Setar')

In [17]:
# Reemplazo Changweon por Changwon
df_ranking_destinos['destino'] = df_ranking_destinos['destino'].str.replace('Changweon','Changwon')

In [18]:
# Reemplazo Tripolilebanon por Tripoli
df_ranking_destinos['destino'] = df_ranking_destinos['destino'].str.replace('Tripolilebanon','Tripoli')

In [19]:
# Reemplazo Mazarisharif por Mazari Sharif
df_ranking_destinos['destino'] = df_ranking_destinos['destino'].str.replace('Mazarisharif','Mazari Sharif')

In [20]:
# Reemplazo Ramatgan por Ramat Gan
df_ranking_destinos['destino'] = df_ranking_destinos['destino'].str.replace('Ramatgan','Ramat Gan')

In [21]:
# Reemplazo Thehague por The Hague
df_ranking_destinos['destino'] = df_ranking_destinos['destino'].str.replace('Thehague','The Hague')

In [22]:
# Reemplazo Jhenida por Jhenaidah
df_ranking_destinos['destino'] = df_ranking_destinos['destino'].str.replace('Jhenida','Jhenaidah')

In [23]:
# Reemplazo Pakanbaru por Pekanbaru
df_ranking_destinos['destino'] = df_ranking_destinos['destino'].str.replace('Pakanbaru','Pekanbaru')

In [24]:
# Reemplazo Chonchu Jeonju por Jeonju
df_ranking_destinos['destino'] = df_ranking_destinos['destino'].str.replace('Chonchu Jeonju','Jeonju')

In [25]:
# Reemplazo Islas Marquezas por Islas Marquesas
df_ranking_destinos['destino'] = df_ranking_destinos['destino'].str.replace('Aletay','Altay')

In [26]:
# Reemplazo Bneibrak por Bnei Brak
df_ranking_destinos['destino'] = df_ranking_destinos['destino'].str.replace('Bneibrak','Bnei Brak')

In [27]:
# Reemplazo Kathlehong por Katlehong
df_ranking_destinos['destino'] = df_ranking_destinos['destino'].str.replace('Kathlehong','Katlehong')

In [28]:
# Reemplazo Chechon por Jecheon
df_ranking_destinos['destino'] = df_ranking_destinos['destino'].str.replace('Chechon','Jecheon')

In [29]:
#Reemplazo Mogilevmahilyow
df_ranking_destinos['destino'] = df_ranking_destinos['destino'].str.replace('Mogilevmahilyow','Mogilev')

In [30]:
# Reemplazo
df_ranking_destinos['destino'] = df_ranking_destinos['destino'].str.replace('Salva León de Higuey','Salvaleón de Higuey')

In [31]:
# Reemplazo
df_ranking_destinos['destino'] = df_ranking_destinos['destino'].str.replace('Kyongju Gyeongju','Gyeongju')

In [32]:
# Elimino Aguas Internacionales
df_ranking_destinos = df_ranking_destinos[df_ranking_destinos['destino'] != "Aguas Internacionales"]

In [33]:
df_ranking_destinos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1892 entries, 0 to 1893
Data columns (total 2 columns):
destino     1892 non-null object
cantidad    1892 non-null int64
dtypes: int64(1), object(1)
memory usage: 44.3+ KB

In [34]:
# Obtener latitud y longitud de ciudades más visitadas
# División por límites de query de consulta geocoding

# Parte 1
df_ranking_destinos_1 = df_ranking_destinos.iloc[0:945]

# Parte 2
df_ranking_destinos_2 = df_ranking_destinos.iloc[945:1893]
#df_ranking_destinos_2 = df_ranking_destinos.iloc[1769:1893]

In [35]:
# Inspección visual

for index, row in df_ranking_destinos_2.iterrows():
    print(index,row['destino'], row['cantidad'])

947 Multan 6
948 Castellón de la Plana 6
949 Maputo 6
950 Balzan 6
951 Fuenlabrada 6
952 Aracaju Sergipe 6
953 Peoria Illinois 6
954 Breda 6
955 Boa Vista Roraima 6
956 Vantaa 5
957 Bottrop 5
958 Sabadell 5
959 Getafe 5
960 Beni Melal 5
961 Padua 5
962 Wanxian 5
963 Munster 5
964 Skopje 5
965 Berkeley California 5
966 Eskisehir 5
967 Machida 5
968 Pachuca 5
969 Airok 5
970 Brighton And Hove 5
971 Santa Cruz 5
972 Barisal 5
973 Oxnard California 5
974 Vinh 5
975 Noord 5
976 Gold Coast Tweed 5
977 Rostock 5
978 Xian 5
979 Canberra Queanbeyan 5
980 Pueblo Colorado 5
981 Huntington Beach California 5
982 Alor Setar 5
983 St Petersburg Florida 5
984 Mataró 5
985 Abadan 5
986 Haicheng 5
987 Florencia Caquetá 5
988 Piedras Negras 5
989 Cayenne 5
990 Shenyang 5
991 Dar Es Salaam 5
992 Los Ángeles 5
993 Kerch 5
994 Krasnodar 5
995 Glendale Arizona 5
996 Ibirite Minas Gerais 5
997 Banjul 5
998 Lille 5
999 Río Claro Sao Paulo 5
1000 Ufa 5
1001 Anda 5
1002 Chai Wan 5
1003 Akashi 5
1004 Ostrava 5
1005 Erfurt 5
1006 Dos Quebradas 5
1007 Antakya 5
1008 Almaty 5
1009 Saint George 5
1010 Sheikhupura 5
1011 Goiania Goias 5
1012 Orleans 5
1013 Addis Ababa 5
1014 Petrolina Pernambuco 5
1015 Zarqa 5
1016 Taian 5
1017 Bloemfontein 5
1018 Akishima 5
1019 Hodeidah 5
1020 Changwon 5
1021 Newcastle 5
1022 Garland Texas 5
1023 Adiyaman 5
1024 Chincha Alta 5
1025 Grenville 5
1026 Couva 4
1027 Bulawayo 4
1028 Ciudad Nicolas Romero 4
1029 Freeport 4
1030 Qingdao 4
1031 Ipatinga Minas Gerais 4
1032 Plano Texas 4
1033 Timisoara 4
1034 Santo Andre Sao Paulo 4
1035 Leicester 4
1036 Maidstone 4
1037 Hayward California 4
1038 Sarajevo 4
1039 Zwolle 4
1040 Bahawalpur 4
1041 Caguas Puerto Rico 4
1042 Osorno 4
1043 Plovdiv 4
1044 Baicheng 4
1045 San Cristóbal de la Laguna 4
1046 Yerevan 4
1047 Wiesbaden 4
1048 Hortolandia Sao Paulo 4
1049 Mage Río de Janeiro 4
1050 Shangzhi 4
1051 Omsk 4
1052 Sao Jose de Ribamar Maranhao 4
1053 Juba 4
1054 Perpignan 4
1055 San Fernando 4
1056 Salt Cay 4
1057 Ayacucho 4
1058 Benoni 4
1059 Osasco Sao Paulo 4
1060 Pompano Beach Florida 4
1061 Damascus 4
1062 Chetumal 4
1063 Visalia California 4
1064 Kryvyi Rih 4
1065 Adapazari 4
1066 Dominica 4
1067 Wendeng 4
1068 Samara 4
1069 Gravatai Río Grande Do Sul 4
1070 Beaumont Texas 4
1071 Budaun 4
1072 Santiago de Cuba 4
1073 Baoding 4
1074 Gaziantep 4
1075 Sorocaba Sao Paulo 4
1076 Araraquara Sao Paulo 4
1077 Belgaum 4
1078 Baiyin 4
1079 Dijon 4
1080 Iguala 4
1081 La Ceiba 4
1082 Monrovia 4
1083 Yogyakarta 4
1084 Bayamo 4
1085 Santa Coloma de Gramenet 4
1086 Dabrowa Gornicza 4
1087 Luanda 4
1088 Tunis 4
1089 Kyoto 4
1090 Buga 4
1091 Bobo Dioulasso 4
1092 Aurora Illinois 4
1093 Taboao Da Serra Sao Paulo 4
1094 Tampere 4
1095 Pouso Alegre Minas Gerais 4
1096 Tripoli 4
1097 Anshan 4
1098 Saguenay 4
1099 Essen 4
1100 Nimes 4
1101 Leganés 4
1102 Oshawa 4
1103 Lublin 4
1104 Douala 4
1105 Scottsdale Arizona 4
1106 Terni 4
1107 Cumana 4
1108 Cebu City 4
1109 Maua Sao Paulo 4
1110 Vallejo California 3
1111 Saanich 3
1112 Chelyabinsk 3
1113 Tortola 3
1114 Cacak 3
1115 Shiraz 3
1116 Ghotki 3
1117 Sao Leopoldo Río Grande Do Sul 3
1118 Wroclaw 3
1119 Limoges 3
1120 Niigata 3
1121 Boksburg 3
1122 Ulm 3
1123 Fernando de la Mora 3
1124 Nesfield 3
1125 Akita 3
1126 Tachikawa 3
1127 Chilpancingo 3
1128 Campinas Sao Paulo 3
1129 Belmopan 3
1130 Lages Santa Catarina 3
1131 Tulua 3
1132 Puerto Cabello 3
1133 Sint Nicolaas 3
1134 Bokaro Steel City 3
1135 Furth 3
1136 Bamako 3
1137 Ramallah 3
1138 Ciudad del Este 3
1139 Koszalin 3
1140 Bhalwal 3
1141 Guangyuan 3
1142 Horlivka 3
1143 Jeongju 3
1144 Latur 3
1145 Villeurbanne 3
1146 Bradford 3
1147 Sao Jose Do Río Preto Sao Paulo 3
1148 Kathmandu 3
1149 Antipolo City Rizal 3
1150 Módena 3
1151 Dortmund 3
1152 Beawar 3
1153 Dimitrovgrad 3
1154 Mayaguez 3
1155 Hiroshima 3
1156 Cam Pha 3
1157 Junagadh 3
1158 Joao Pessoa Paraiba 3
1159 Neuss 3
1160 Cubatao Sao Paulo 3
1161 Varan 3
1162 Afyon 3
1163 Sassari 3
1164 Overland Park Kansas 3
1165 Lambaré 3
1166 Emeishan City 3
1167 Passo Fundo Río Grande Do Sul 3
1168 Gyumri 3
1169 Groningen 3
1170 Soledad Atlantico 3
1171 Bago 3
1172 Cheonan 3
1173 Markham 3
1174 Tainan 3
1175 Bolton 3
1176 Zhenjiang 3
1177 Tehuacan 3
1178 Christ Church 3
1179 Baidoa 3
1180 Portlouis 3
1181 Cay Bay 3
1182 Sarh 3
1183 Gilbert Arizona 3
1184 Ipswich 3
1185 Katlehong 3
1186 Boulogne Billancourt 3
1187 Baishan 3
1188 Fujin 3
1189 Hildesheim 3
1190 Anapolis Goias 3
1191 Iskenderun 3
1192 Sao Luis Maranhao 3
1193 Maradi 3
1194 Kralendijk 3
1195 Amol 3
1196 Batumi 3
1197 Reading 3
1198 Latakia 3
1199 Toda 3
1200 Saint Georges 3
1201 Lowell Massachusetts 3
1202 San Pedro de Macoris 3
1203 Grozny 3
1204 Namur 3
1205 Ciudad Valles 3
1206 Tarawa Sur 3
1207 Gyeongju 3
1208 Fukuoka 3
1209 Mazari Sharif 3
1210 Braunschweig 3
1211 Limassol 3
1212 Gaborone 3
1213 Castries 3
1214 Nicosia 3
1215 Cabuyao City Laguna 3
1216 Ahmedabad 3
1217 Teresopolis Río de Janeiro 3
1218 Uppsala 3
1219 Trier 3
1220 Lahti 3
1221 Quilmes 3
1222 Agartala 3
1223 Jyvaskyla 3
1224 Reims 3
1225 Jecheon 3
1226 Erlangen 3
1227 Gongzhuling 3
1228 Carrollton Texas 3
1229 Sao Jose Dos Campos Sao Paulo 3
1230 Trieste 3
1231 Pune 3
1232 Stara Zagora 3
1233 Erbil 3
1234 Itaborai Río De Janeiro 3
1235 Darmstadt 3
1236 Chicoloapan de Juarez 3
1237 Sharjah 3
1238 Kharkiv 3
1239 Bnei Brak 3
1240 Diadema Sao Paulo 3
1241 Osnabruck 3
1242 Balikpapan 3
1243 Maicao 3
1244 Rimini 3
1245 Maseru 3
1246 Herat 2
1247 Lome 2
1248 Asau 2
1249 Hsinchu 2
1250 Batam 2
1251 Panjin 2
1252 La Florida 2
1253 Tilburg 2
1254 Plymouth 2
1255 Cheongju 2
1256 Mersin 2
1257 Santa Clarita California 2
1258 Kiel 2
1259 San Ignacio 2
1260 Basra 2
1261 Mahe 2
1262 Saint Peter 2
1263 Londrina Parana 2
1264 Maturin 2
1265 Conakry 2
1266 Phoenix Islands 2
1267 Los Teques 2
1268 Kassel 2
1269 Itu Sao Paulo 2
1270 Vung Tau 2
1271 Bangui 2
1272 Leverkusen 2
1273 Barysaw 2
1274 Guarenas 2
1275 Teresina Piaui 2
1276 Erzincan 2
1277 Vitebsk 2
1278 Komsomolsk On Amur 2
1279 Basse Terre 2
1280 San Cristobal de las Casas 2
1281 Munger 2
1282 Chenzhou 2
1283 Taichung 2
1284 Haerbin 2
1285 Imperatriz Maranhao 2
1286 Amarah 2
1287 Hanoi 2
1288 Berezniki 2
1289 Shuangcheng 2
1290 Coimbatore 2
1291 Zaporizhia 2
1292 Chapeco Santa Catarina 2
1293 Lusaka 2
1294 Hengshui 2
1295 Chaguanas 2
1296 Middlesbrough 2
1297 Zhangshu 2
1298 Anyang China 2
1299 Tarija 2
1300 Cheju 2
1301 Brasov 2
1302 Mississauga 2
1303 Campina Grande Paraiba 2
1304 Costa Mesa California 2
1305 Milton Keynes 2
1306 Guelph 2
1307 Toyokawa 2
1308 Naucalpan 2
1309 Cuiabá Mato Grosso 2
1310 Rostov On Don 2
1311 Beaubassin 2
1312 Baoji 2
1313 Móstoles 2
1314 Valera 2
1315 Opole 2
1316 Elgin Illinois 2
1317 Silang Cavite 2
1318 West Bromwich 2
1319 Saltillo 2
1320 Perm 2
1321 Alexandra 2
1322 Elazig 2
1323 Pristina 2
1324 Mogilev 2
1325 San Nicolas de los Garza 2
1326 Petare 2
1327 Haarlem 2
1328 San Francisco de Macoris 2
1329 Ruse 2
1330 Exeter 2
1331 Wafangdian 2
1332 Wuhan 2
1333 Mariehamn Maarianhamina 2
1334 Okinawa 2
1335 Gliwice 2
1336 Messaad 2
1337 Dessie 2
1338 Balakovo 2
1339 Eindhoven 2
1340 Giza 2
1341 Hamm 2
1342 Jhubei 2
1343 Santa Cruz Do Sul 2
1344 Winterthur 2
1345 Huancayo 2
1346 Barbuda 2
1347 Riffa 2
1348 Karlsruhe 2
1349 Santa Luzia Minas Gerais 2
1350 Durg 2
1351 Greater Sudbury 2
1352 Orizaba 2
1353 Foshan 2
1354 Ankang 2
1355 Suzhou Anhui 2
1356 Grand Case 2
1357 Dordrecht 2
1358 Baranovichi 2
1359 Oberhausen 2
1360 Ain Beida 2
1361 Pomona California 2
1362 Nottingham 2
1363 Fu An 2
1364 Aparecida de Goiania Goias 2
1365 Regensburg 2
1366 Hyderabad India 2
1367 Floridablanca 2
1368 San Lorenzo 2
1369 El Bosque 2
1370 Mombasa 2
1371 Limerick 2
1372 Abia 2
1373 Montreuil 2
1374 San Pablo de las Salinas 2
1375 Pasadena California 2
1376 Mannheim 2
1377 Grandes Cayes 2
1378 Prato 2
1379 Vinnytsia 2
1380 Gonaives 2
1381 Miramar 2
1382 Mandaluyong City 2
1383 Smolensk 2
1384 Neyveli 2
1385 Sucre 2
1386 Hargeisa 2
1387 Nilopolis Río de Janeiro 2
1388 Leiden 2
1389 Peñalolén 2
1390 Schwerin 2
1391 Envigado 2
1392 Bacolod City 2
1393 Ji An Jiangxi 2
1394 Lodz 2
1395 Fuzhou Fujian 2
1396 Dundee 2
1397 Radom 2
1398 Medina 2
1399 Hue 2
1400 Huelva 2
1401 Changde 2
1402 Shanwei 2
1403 Nagasaki 2
1404 Niihama 2
1405 Gottingen 2
1406 Dehiwala Mount Lavinia 2
1407 Harare 2
1408 El Monte California 2
1409 Indaiatuba Sao Paulo 2
1410 Tobago 2
1411 Yangon Rangoon 2
1412 Chania 2
1413 Roseville California 2
1414 Lubeck 2
1415 Handa 2
1416 Ajdabiya 2
1417 Shangqiu 2
1418 Antigua 2
1419 Taiz 2
1420 Sumare Sao Paulo 2
1421 Trois Rivieres 2
1422 Cluj Napoca 2
1423 Warren Michigan 2
1424 Bugibba 2
1425 Garden Grove California 2
1426 Wollongong 2
1427 Chiniot 2
1428 Zinder 2
1429 Girardot 2
1430 Gelsenkirchen 2
1431 Urgench 2
1432 Changzhi 2
1433 Liaocheng 2
1434 Sanming 2
1435 Bhagalpur 2
1436 Baia Mare 2
1437 Hat Yai 2
1438 Lilongwe 2
1439 Paderborn 2
1440 Wurzburg 2
1441 Zapopan 2
1442 Sapporo 2
1443 Cockburn Town 2
1444 Khmelnytskyi 2
1445 San Giljan 2
1446 Botosani 1
1447 Pasadena Texas 1
1448 Richmond Hill 1
1449 Corozal 1
1450 Ferraz de Vasconcelos Sao Paulo 1
1451 Salzgitter 1
1452 San Juan Bautista Tuxtepec 1
1453 Saint Lucia 1
1454 Canillo 1
1455 Dodoma 1
1456 Corlu 1
1457 Padang 1
1458 Shchyolkovo 1
1459 Pingxiang 1
1460 Luton 1
1461 Joliet Illinois 1
1462 Vaughan 1
1463 Lobito 1
1464 Chatsworth Durban 1
1465 Can Tho 1
1466 Ivano Frankivsk 1
1467 Birgu 1
1468 Portsmouth 1
1469 Guaymas 1
1470 Burewala 1
1471 Kalisz 1
1472 Kuala Belait 1
1473 Zhangzhou 1
1474 Masjed Soleyman 1
1475 Mykolaiv 1
1476 Arrah 1
1477 Druif 1
1478 Yamaguchi 1
1479 Sterlitamak 1
1480 Ojo de Agua 1

1481 Oulu 1
1482 Orenburg 1
1483 Enschede 1
1484 Ciudad Madero 1
1485 Duitama 1
1486 Prokopyevsk 1
1487 Da Nang 1
1488 Nuevo Laredo 1
1489 Teixeira de Freitas 1
1490 Surabaya 1
1491 Olsztyn 1
1492 Ipoh 1
1493 Birgunj 1
1494 Catanduva Sao Paulo 1
1495 Suncheon South Korea 1
1496 Batman 1
1497 Benin City 1
1498 Ferrara 1
1499 Gallis Bay 1
1500 Buzau 1
1501 Koblenz 1
1502 Oujda 1
1503 Dniprodzerzhynsk 1
1504 Camacari Bahía 1
1505 Zabrze 1
1506 Zhangjiajie 1
1507 Suzhou Jiangsu 1
1508 Abomey 1
1509 Nagano 1
1510 Little Cayman 1
1511 Qamishli 1
1512 Dumont D Urville Station 1
1513 Bizerte 1
1514 Capiatá 1
1515 Abeokuta 1
1516 Chibi 1
1517 Geelong 1
1518 Wolverhampton 1
1519 Fanning Islands 1
1520 Chelmsford 1
1521 Antalya 1
1522 Arayat Pampanga 1
1523 Fanling 1
1524 Arzamas 1
1525 The Hague 1
1526 Sunshine Coast 1
1527 Bulandshahr 1
1528 Dili 1
1529 Asahikawa 1
1530 Santa Maria Río Grande Do Sul 1
1531 Poza Rica 1
1532 Kofu 1
1533 Laiwu 1
1534 Dalian 1
1535 Changzhou 1
1536 Zaozhuang 1
1537 Kota Bharu 1
1538 Jena 1
1539 Maceio Alagoas 1
1540 Stavropol 1
1541 Hung Hom 1
1542 Rouen 1
1543 Balashikha 1
1544 Obninsk 1
1545 Diego Martin 1
1546 L Hospitalet de Llobregat 1
1547 Shangluo 1
1548 Valletta 1
1549 Arno 1
1550 Peel 1
1551 Galati 1
1552 Erzurum 1
1553 Maanshan 1
1554 Kingstown 1
1555 Aydin 1
1556 Gorzow Wielkopolski 1
1557 Godhra 1
1558 Preston 1
1559 Melitopol 1
1560 Kielce 1
1561 Misato 1
1562 Kanazawa 1
1563 Sao Jose Santa Catarina 1
1564 Blumenau Santa Catarina 1
1565 Talcahuano 1
1566 Kochi India 1
1567 Quanzhou 1
1568 Fort de France 1
1569 Jiangyou 1
1570 Maraba Para 1
1571 Pindamonhangaba Sao Paulo 1
1572 Zanzibar 1
1573 Quezon City 1
1574 A Larish 1
1575 Gustavia 1
1576 Samarkand 1
1577 Nongoma 1
1578 Arusha 1
1579 Itapevi Sao Paulo 1
1580 Sloviansk 1
1581 Tours 1
1582 Daito 1
1583 Bushiribana 1
1584 Baranagar 1
1585 Jaipur 1
1586 Ha Kwai Chung 1
1587 Okazaki 1
1588 Itabuna Bahía 1
1589 Limeira Sao Paulo 1
1590 Joetsu 1
1591 Johore Bharu 1
1592 Ciudad Victoria 1
1593 Farah 1
1594 Goma 1
1595 Balzers 1
1596 Malang 1
1597 Penza 1
1598 Douliou 1
1599 Cabo De Santo Agostinho Pernambuco 1
1600 Ting Kau 1
1601 Drobeta Turnu Severin 1
1602 Atyrau 1
1603 Escaldes Engordany 1
1604 Katowice 1
1605 Orange Walk 1
1606 Fuchu Tokyo 1
1607 Kota Kinabalu 1
1608 Dehradun 1
1609 Ain Oussera 1
1610 Sint Eustatius 1
1611 Bafoussam 1
1612 Taebaek 1
1613 Utrecht 1
1614 Kadamrasul 1
1615 Hindupur 1
1616 Khutsong 1
1617 Tbilisi 1
1618 Irbid 1
1619 Huangshan 1
1620 Bayamon Puerto Rico 1
1621 Port Victoria 1
1622 Huozhou 1
1623 Oradea 1
1624 Braila 1
1625 La Pintana 1
1626 Al Fayyum 1
1627 Thessaloniki 1
1628 Bimbo 1
1629 Torrance California 1
1630 Aweil 1
1631 Bhopal 1
1632 Sorsogon City Sorsogon 1
1633 Balikesir 1
1634 Chaohu 1
1635 Bally 1
1636 Sabha 1
1637 Kallithea 1
1638 Ambala 1
1639 Oita 1
1640 Higashihiroshima 1
1641 Taejon Daejeon 1
1642 Sana A 1
1643 Catia La Mar 1
1644 Mahabad 1
1645 Fuji 1
1646 Arima 1
1647 Point Fortin 1
1648 Kyzyl 1
1649 Asyut 1
1650 Astana 1
1651 Abemama 1
1652 Beersheba 1
1653 Huludao 1
1654 Cuautitlan 1
1655 Miskolc 1
1656 Ahmednagar 1
1657 Bandjarmasin 1
1658 Port Sudan 1
1659 Kuching 1
1660 Kisumu 1
1661 Khartoum 1
1662 Seongnam 1
1663 Izmir 1
1664 Shangrao 1
1665 Malacca City 1
1666 Irian Jaya 1
1667 Brahmapur 1
1668 Embu Das Artes Sao Paulo 1
1669 Cha Kwo Ling 1
1670 Peterborough 1
1671 Queimados Río De Janeiro 1
1672 Chiang Mai 1
1673 Niteroi Río de Janeiro 1
1674 Virgin Gorda 1
1675 Al Ain 1
1676 Lviv 1
1677 Da Lat 1
1678 Baie de Prony 1
1679 Al Fashir 1
1680 Puno 1
1681 Tangier 1
1682 Nouakchott 1
1683 Ghazni 1
1684 Kislovodsk 1
1685 Safi 1
1686 Chuxiong 1
1687 Guaratingueta Sao Paulo 1
1688 Gilgit 1
1689 Timón Maranhao 1
1690 Al Mansurah 1
1691 Bohicon 1
1692 Guanare 1
1693 Khon Kaen 1
1694 Weihui 1
1695 Solingen 1
1696 Lida 1
1697 Townsville 1
1698 Chongqing 1
1699 Mandalay 1
1700 Vila Nova de Gaia 1
1701 Okara 1
1702 Damanhur 1
1703 Mogi Guacu Sao Paulo 1
1704 Kecskemet 1
1705 Valencia City Bukidnon 1
1706 Wolfsburg 1
1707 Gaya 1
1708 Mandaue City 1
1709 Richmond 1
1710 Sao Joao de Meriti Río De Janeiro 1
1711 Mostar 1
1712 Stoke On Trent 1
1713 Sertaozinho Sao Paulo 1
1714 Kunsan Gunsan 1
1715 Oskemen 1
1716 Aktau 1
1717 Tau 1
1718 Portsaid 1
1719 Pinhais Parana 1
1720 Uberlandia Minas Gerais 1
1721 Tepexpan 1
1722 Durban 1
1723 San Buenaventura Ventura California 1
1724 Plock 1
1725 Gaza 1
1726 Jiamusi 1
1727 Moroni 1
1728 Firozabad 1
1729 Kandy 1
1730 Irving Texas 1
1731 Jhenaidah 1
1732 St Catharines 1
1733 Ramat Gan 1
1734 Mianyang 1
1735 Maunath Bhanjan 1
1736 Cabanatuan City Nueva Ecija 1
1737 Tokuyama 1
1738 Gomez Palacio 1
1739 Pelotas Río Grande Do Sul 1
1740 Las Condes 1
1741 Vryheid 1
1742 Changshu 1
1743 Cabinda 1
1744 Kokshetau 1
1745 Haiphong 1
1746 Hidalgo del Parral 1
1747 Yosu 1
1748 Zaanstad 1
1749 Warangal 1
1750 Wau 1
1751 Kaifeng 1
1752 Saint Philip 1
1753 Novomoskovsk 1
1754 Ilagan Isabela 1
1755 Changsha 1
1756 Blida 1
1757 Muntinlupa City 1
1758 Cherthala 1
1759 Tando Adam Khan 1
1760 Chatham Kent 1
1761 Sochi 1
1762 Ndjamena 1
1763 Pekanbaru 1
1764 Sosnowiec 1
1765 Annaba 1
1766 Jaboatao Dos Guararapes Pernambuco 1
1767 Berbera 1
1768 Ciudad Cuauhtemoc 1
1769 Cayman Brac 1
1770 Haridwar 1
1771 Gweru 1
1772 Fuyang 1
1773 Suihua 1
1774 Qurghonteppa 1
1775 Malita Davao del Sur 1
1776 Taonan 1
1777 Triesen 1
1778 Makhachkala 1
1779 Poole 1
1780 Pitesti 1
1781 Pavlohrad 1
1782 Balurghat 1
1783 Mabalacat Pampanga 1
1784 La Horquetta 1
1785 Ondal 1
1786 Oceanside California 1
1787 Keelung 1
1788 Nagpur 1
1789 Pohang 1
1790 Petrozavodsk 1
1791 Zhoukou 1
1792 Torun 1
1793 Fergana 1
1794 San Pedro Garza Garcia 1
1795 Tanga 1
1796 Meiktila 1
1797 Uzhhorod 1
1798 Gatineau 1
1799 Ashgabat 1
1800 Roseau 1
1801 Dudley 1
1802 Vadodara 1
1803 Gojra 1
1804 Yucca 1
1805 Donetsk 1
1806 Kannur 1
1807 Ludwigshafen 1
1808 Mariupol 1
1809 Elektrostal 1
1810 Brazzaville 1
1811 Veliky Novgorod 1
1812 Embu 1
1813 Launceston 1
1814 Aranuka 1
1815 Greater Hobart 1
1816 Navotas City 1
1817 Sanya 1
1818 Jeonju 1
1819 Richards Bay 1
1820 Remscheid 1
1821 Kirov 1
1822 Carrefour 1
1823 Ebetsu 1
1824 Haifa 1
1825 Tatui Sao Paulo 1
1826 Thornton Colorado 1
1827 Kaili 1
1828 Nabadwip 1
1829 Cirebon 1
1830 Huánuco 1
1831 Anlu 1
1832 Kairouan 1
1833 Enshi 1
1834 Harbour Island 1
1835 Gdynia 1
1836 Trabzon 1
1837 Moers 1
1838 Yongzhou 1
1839 Nanchang 1
1840 Henderson Nevada 1
1841 Cascavel Paraná 1
1842 Southampton 1
1843 Bolu 1
1844 Contagem Minas Gerais 1
1845 Chandan Nagar 1
1846 Charleroi 1
1847 Derby 1
1848 Basseterre Saint Kitts 1
1849 Maykop 1
1850 Vladimir 1
1851 Sterling Heights Michigan 1
1852 Cap Haitien 1
1853 Apucarana Paraná 1
1854 Arak 1
1855 Huangshi Hubei 1
1856 Kediri 1
1857 Bankura 1
1858 Caen 1
1859 Nogales 1
1860 Rehovot 1
1861 Nakuru 1
1862 Laval 1
1863 Ndola 1
1864 Toledo City Cebu 1
1865 Tripoli 1
1866 Ouargla 1
1867 Salihorsk 1
1868 Ciudad Guayana 1
1869 Toowoomba 1
1870 Grudziadz 1
1871 Rancho Cucamonga California 1
1872 Siauliai 1
1873 Carcar Cebu 1
1874 Delmas 1
1875 Dorp Rincon 1
1876 Mangora 1
1877 Dera Ghazi Khan 1
1878 Binzhou 1
1879 Davis Station 1
1880 Santa Catarina 1
1881 Tlalnepantla 1
1882 Vanadzor 1
1883 Yau Ma Tei 1
1884 Sfax 1
1885 Bacoor Cavite 1
1886 Fullerton California 1
1887 Wuzhou 1
1888 Siping 1
1889 Tianjin 1
1890 Toledo Parana 1
1891 Santa Ana 1
1892 Bamenda 1
1893 Bharatpur 1

In [32]:
pip install geopy

Requirement already satisfied: geopy in /opt/anaconda3/lib/python3.7/site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /opt/anaconda3/lib/python3.7/site-packages (from geopy) (1.52)
Note: you may need to restart the kernel to use updated packages.

In [134]:
# Import the required library
from geopy.geocoders import Nominatim

# Initialize Nominatim API
geolocator = Nominatim(user_agent="MyApp")

location = geolocator.geocode("Mogilev")

print("The latitude of the location is: ", location.latitude)
print("The longitude of the location is: ", location.longitude)

The latitude of the location is:  53.9090245
The longitude of the location is:  30.3429838

In [112]:
# Lazo para obtener coordenadas - Grupo 1

destinos = []
for index, row in df_ranking_destinos_1.iterrows():
    location = geolocator.geocode(row['destino'])
    print(index, row['destino'], row['cantidad'], location.latitude, location.longitude)

    destino_fila = {'destino':row['destino'],'cantidad':row['cantidad'], 'latitud':location.latitude, 'longitud':location.longitude}
    destinos.append(destino_fila)

0 Tumbes 112610 -3.833333 -80.5
1 Miami Florida 111128 25.7741728 -80.19362
2 New York New York 103389 36.1021436 -115.17449463280128
3 Pasto 64577 1.2146013 -77.2782755
4 Madrid 60558 40.4167047 -3.7035825
5 Mexico City 46212 19.4326296 -99.1331785
6 Bogotá Dc 44039 4.6533326 -74.083652
7 Fort Lauderdale Florida 43056 26.1223084 -80.1433786
8 Lima 27585 -12.0621065 -77.0365256
9 Santiago 24805 -33.4377756 -70.6504502
10 Panamá City 22876 8.9714493 -79.5341802
11 Newark New Jersey 22034 40.735657 -74.1723667
12 Cancun 16123 21.1617854 -86.8510468
13 Orlando Florida 14577 28.5421109 -81.3790304
14 Buenos Aires 14511 -34.6075682 -58.4370894
15 Piura 13575 -5.0 -80.333333
16 Los Ángeles California 11635 34.0536909 -118.242766
17 Toronto 11402 43.6534817 -79.3839347
18 Barcelona 10711 41.3828939 2.1774322
19 Houston Texas 10362 29.7589382 -95.3676974
20 Sao Paulo 8752 -23.5506507 -46.6333824
21 Milán 8729 45.4641943 9.1896346
22 Chicago Illinois 8675 41.8755616 -87.6244212
23 Dallas Texas 7880 -23.6475942 -46.5101346
24 Amsterdam 7682 52.3727598 4.8936041
25 Atlanta Georgia 7582 33.7489924 -84.3902644
26 London 7200 51.5073219 -0.1276474
27 Villavicencio 6398 4.1315113 -73.6206667
28 La Habana 5887 23.135305 -82.3589631
29 Paris 5835 48.8588897 2.3200410217200766
30 Washington D C 5799 38.8950368 -77.0365427
31 Cali 5096 3.4517923 -76.5324943
32 Caracas 4642 10.506098 -66.9146017
33 Medellín 4431 6.2443382 -75.573553
34 Boston Massachusetts 3845 42.3602534 -71.0582912
35 Frankfurt 3613 50.1106444 8.6820917
36 San Jose 3396 37.3361905 -121.890583
37 Cartagena de Indias 3138 10.4195841 -75.5271224
38 San Francisco California 3103 37.7790262 -122.419906
39 Roma 2462 41.8933203 12.4829321
40 Zurich 2443 47.3744489 8.5410422
41 Tampa Florida 2360 27.9477595 -82.458444
42 Montreal 2243 45.5031824 -73.5698065
43 Minneapolis Minnesota 2219 44.9772995 -93.2654692
44 Paita 2196 -5.0099903 -80.9733735
45 San Salvador 2167 13.6989939 -89.1914249
46 Río De Janeiro 2115 -22.9110137 -43.2093727
47 Valencia 2046 39.4697065 -0.3763353
48 Berlín 2013 52.5170365 13.3888599
49 Charlotte North Carolina 1954 35.2272086 -80.8430827
50 Guatemala 1922 15.687100699999998 -90.12265453178017
52 Mexicali 1821 32.6248622 -115.448325
53 Múnich 1792 48.1371079 11.5753822
54 Las Vegas Nevada 1787 36.1672559 -115.148516
55 Montevideo 1787 -34.9058916 -56.1913095
56 La Paz 1773 -16.4955455 -68.1336229
57 Santo Domingo 1756 18.4801972 -69.942111
58 Ciudad de Colón 1749 22.72015855 -80.90434132489891
59 Philadelphia Pennsylvania 1677 39.9527237 -75.1635262
60 Denver Colorado 1656 39.7392364 -104.9848623
61 Brussels 1628 50.8465573 4.351697
62 Palma de Mallorca 1591 39.5695818 2.6500745
63 Shanghai 1573 31.2322758 121.4692071
64 Asunción 1559 -25.2800459 -57.6343814
65 Alicante 1542 38.3436365 -0.4881708
66 Geneva 1460 46.2017559 6.1466014
67 Punta Cana 1288 18.556551 -68.3691611
68 Cuzco 1276 -13.5169353 -71.97927381639681
69 Guadalajara 1148 20.6720375 -103.338396
70 Hamburgo 1115 53.550341 10.000654
71 Vancouver 1080 49.2608724 -123.113952
72 San Juan 1079 18.465299 -66.116666
73 Seattle Washington 1050 47.6038321 -122.3300624
74 Raleigh North Carolina 1039 35.7803977 -78.6390989
75 Baltimore Maryland 1025 39.2908816 -76.610759
76 Santacruz 1024 1.27757385 -77.72891340825922
77 New Orleans Louisiana 989 29.9759983 -90.0782127
78 Austin Texas 963 30.2711286 -97.7436995
79 Yonkers New York 940 40.9312099 -73.8987469
80 Barranquilla 937 10.9799669 -74.8013085
81 Moscow 915 55.7504461 37.6174943
82 Salt Lake City Utah 913 40.7596198 -111.8867975
83 Pamplona 847 42.8184538 -1.6442556
84 Tel Aviv 799 32.0852997 34.7818064
85 Dusseldorf 791 51.2254018 6.7763137
86 Stockholm 785 59.3251172 18.0710935
87 Jersey City New Jersey 784 40.7215682 -74.047455
88 Jacksonville Florida 783 30.3321838 -81.655651
89 Tegucigalpa 757 14.1056861 -87.204676
90 Monterrey 757 25.6802019 -100.315258
91 Phoenix Arizona 750 33.4484367 -112.0741417
92 Bilbao 726 43.2630018 -2.9350039
93 Copenhagen 701 55.6867243 12.5700724
94 Vienna 699 48.2083537 16.3725042
95 Detroit Michigan 689 42.3315509 -83.0466403
96 Genoa 677 44.40726 8.9338624
97 San Diego California 645 32.7174202 -117.1627728
98 Buenaventura 642 40.1766024 -4.8498756
99 Málaga 642 36.7213028 -4.4216366
100 Nashville Davidson County Tennessee 638 36.1622767 -86.7742984
101 Calgary 624 51.0460954 -114.065465
102 Lisbon 602 38.7077507 -9.1365919
103 Portland Oregón 593 45.5202471 -122.6741949
104 Sydney 590 -33.8548157 151.2164539
105 Fort Collins Colorado 566 40.5508527 -105.0668085
106 Pereira 554 4.8142613 -75.6946776
107 Beijing 548 39.906217 116.3912757
108 Allentown Pennsylvania 541 40.6022059 -75.4712794
109 Rosario 529 -32.9595004 -60.6615415
110 Bologna 523 44.4938203 11.3426327
111 Buffalo New York 517 42.8867166 -78.8783922
112 Venice 513 45.4371908 12.3345898
113 Holguin 509 20.91155765 -75.78919775863332
114 Alexandria Virginia 507 38.8051095 -77.0470229
115 Murcia 505 37.9923795 -1.1305431
116 Tokyo 503 35.6828387 139.7594549
117 Bucaramanga 502 7.1114611 -73.1172869
118 Seoul 493 37.5666791 126.9782914
119 Córdoba 470 37.8845813 -4.7760138
120 Miami Gardens Florida 456 25.9423108 -80.23976495072381
121 San Antonio Texas 454 18.174167 -96.129722
122 Dubai 450 25.2653471 55.2924914
123 Kansas City Kansas 449 39.100105 -94.5781416
124 Managua 445 12.1459907 -86.2746665
125 Cleveland Ohio 434 41.4996562 -81.6936813
126 Brasilia 433 -10.3333333 -53.2
127 Arica 418 -18.4785288 -70.3211394
128 Sao Bernardo Do Campo Sao Paulo 402 -23.7080345 -46.5506747
129 Manzanillo 398 41.586343 -4.189038
130 Indianápolis Indiana 398 39.7683331 -86.1583502
131 Stuttgart 395 48.7784485 9.1800132
132 Seville 395 37.3886303 -5.9953403
133 Manchester 394 53.4794892 -2.2451148
134 Guangzhou 391 23.1301964 113.2592945
135 Santa Marta 390 17.0920157 -88.6118965
136 Marseille 384 43.2961743 5.3699525
137 Prague 377 50.0874654 14.4212535
138 Porto Alegre Río Grande Do Sul 371 -30.0324999 -51.2303767
139 Cúcuta 362 7.8971458 -72.5080387
140 Ottawa 362 45.4211435 -75.6900574
141 Istanbul 361 41.0096334 28.9651646
142 Akron Ohio 356 41.083064 -81.518485
143 Madison Wisconsin 348 -37.8130896 -72.6744916
144 Charleston South Carolina 343 32.7876012 -79.9402728
145 Cincinnati Ohio 342 39.1014537 -84.5124602
146 Islas Marquesas 340 -9.73116465 -138.9787470714598
147 Lyon 333 45.7578137 4.8320114
149 Puerto Vallarta 331 20.6407176 -105.220306
150 Mendoza 317 -34.787093049999996 -68.43818677312292
151 Oslo 304 59.9133301 10.7389701
152 Pittsburgh Pennsylvania 304 40.3693889 -80.6243098
153 Foz Do Iguazú Parana 294 -25.5401479 -54.5858139
154 Valencia Venezuela 291 10.170026 -68.0003987
155 Nassau 289 25.0783456 -77.3383331
156 Edmonton 288 53.535411 -113.507996
157 Tijuana 273 32.5010188 -116.964662
158 Merida 272 38.9174665 -6.3443977
159 Long Beach California 269 33.7690164 -118.191604
160 Albuquerque New México 268 35.212870949999996 -106.71324849574629
161 Willemstad 260 12.110006949999999 -68.9370850600204
162 Aruba 259 12.4902998 -69.9609842
163 Kiev 253 50.4500336 30.5241361
164 Antofagasta 252 -23.6463741 -70.3980033
165 St Louis Missouri 247 38.6264256 -90.1995853
166 A Coruña 238 43.3709703 -8.3959425
167 Maracaibo 236 10.6498095 -71.6443596
168 Hartford Connecticut 236 41.764582 -72.6908547
169 Basel 234 47.5581077 7.5878261
170 Campeche 232 19.330194 -89.94351380117641
171 Guarulhos Sao Paulo 231 -23.4430602 -46.524459
172 Toulouse 226 43.6044622 1.4442469
173 Bordeaux 222 44.841225 -0.5800364
174 Ipiales 219 0.8278641 -77.6402069
175 Helsinki 215 60.1674881 24.9427473
176 San Sebastián 214 43.3224219 -1.9838889
177 Ica 212 -14.338611 -75.648333
178 Columbus Ohio 210 39.9622601 -83.0007065
179 Abilene Texas 208 32.44645 -99.7475905
180 Manila 207 14.5907332 120.9809674
181 Bruges 207 51.2085526 3.226772
182 Virginia Beach Virginia 200 36.8529841 -75.9774183
183 Gothenburg 200 57.7072326 11.9670171
184 Acapulco 197 16.8680495 -99.8940182
185 New Haven Connecticut 196 41.3082138 -72.9250518
186 Amarillo Texas 194 35.2072185 -101.8338246
187 Quebec City 192 46.8137431 -71.2084061
188 Aguascalientes 190 22.0000001 -102.5000001
189 Almería 189 36.8414197 -2.4628135

190 Budapest 189 47.4979937 19.0403594
191 San Pedro Sula 188 15.5062156 -88.0248937
192 Richmond Virginia 188 37.5385087 -77.43428
193 Sacramento California 187 38.5810606 -121.493895
194 Bremerhaven 186 53.5505392 8.5851945
195 Arequipa 183 -16.3988667 -71.5369607
196 Trujillo 182 39.4605657 -5.8816626
197 Birmingham 181 52.4796992 -1.9026911
198 Santa Clara 177 37.2333253 -121.6846349
199 Xiamen 175 24.4801069 118.0853479
200 Independence Missouri 175 39.0924792 -94.4137923
201 Callao 174 -12.0522626 -77.1391133
202 Armenia 173 40.7696272 44.6736646
203 Belo Horizonte Minas Gerais 172 -19.9227318 -43.9450948
204 Dublín 172 53.3497645 -6.2602732
205 Turín 171 45.0677551 7.6824892
206 Hanover 170 52.3744779 9.7385532
207 Elizabeth New Jersey 167 40.6639916 -74.2107006
208 Edison New Jersey 167 40.538457 -74.39450186737218
209 Florence 165 43.7698712 11.2555757
210 Nantes 164 47.2186371 -1.5541362
211 Corpus Christi Texas 161 27.7951482 -97.3942053
212 Las Palmas 159 27.9580004 -15.6062305376665
213 León 158 42.63414505 -5.971415104539984
214 San Bernardo 157 1.533534 -77.01845480416105
215 Brisbane 156 -27.4689682 153.0234991
216 Santos Sao Paulo 156 -23.960833 -46.333889
217 Concepción 153 -36.8270795 -73.0502399
218 Nice 151 43.7009358 7.2683912
219 Puntarenas 150 9.0954373 -84.2004310002738
220 Winnipeg 149 49.8955367 -97.1384584
221 Warsaw 148 52.2319581 21.0067249
222 Melbourne 145 -37.8142176 144.9631608
223 Curitiba Paraná 143 -25.4295963 -49.2712724
224 Núremberg 141 49.453872 11.077298
225 Toluca 141 19.292545 -99.6569007
226 Hangzhou 137 30.2489634 120.2052342
227 Cairo 137 30.0443879 31.2357257
228 Iquique 134 -20.2140657 -70.1524646
229 Ciudad Benito Juarez 133 25.6467011 -100.0907766
230 Orange California 133 33.7500378 -117.8704931
231 Algeciras 131 36.1311725 -5.4473991
232 Tucson Arizona 129 32.2228765 -110.9748477
233 Chiclayo 129 -6.766417 -79.8408308
234 Cajamarca 129 -6.25 -78.833333
235 Bridgeport Connecticut 127 41.1670412 -73.2048348
236 Vigo 125 42.2376602 -8.7247205
237 Alcorcon 125 40.3492998 -3.8284295
238 Richmond California 124 37.9357576 -122.347748
239 Bello 123 40.9217017 -1.4987972
240 Buenavista 123 40.7672996 -5.6112011
241 Porto 123 41.1494512 -8.6107884
242 Auckland 120 -36.852095 174.7631803
243 Eskilstuna 119 59.3717379 16.5051474
244 Granada 118 37.1734995 -3.5995337
245 Oklahoma City Oklahoma 118 35.4729886 -97.5170536
246 Oviedo 115 43.3604218 -5.8450534
247 West Palm Beach Florida 115 26.715364 -80.0532942
248 Honolulu Hawaii 115 21.304547 -157.855676
249 Bremen 115 53.0758196 8.8071646
250 Calama 112 -22.4623917 -68.9272181
251 Tulsa Oklahoma 111 36.1556805 -95.9929113
252 Santiago de Los Caballeros 108 25.5575181 -107.3768061
253 Albacete 107 38.9950921 -1.8559154
254 San Jose California 107 37.3361905 -121.890583
255 Americana Sao Paulo 106 -22.7392463 -47.3306032
256 Omaha Nebraska 103 41.2587459 -95.9383758
257 Bangkok 102 13.7525438 100.4934734
258 Juarez 102 19.29348285 -100.46459244066614
259 Valledupar 102 10.34311145 -73.37579338828454
260 Bergisch Gladbach 102 50.9929303 7.1277379
261 Alajuela 102 10.460632 -84.46725504158994
262 Aachen 100 50.776351 6.083862
263 Altamira Para 99 -3.204065 -52.209961
264 Taipei 99 25.0375198 121.5636796
265 Athens 98 37.9839412 23.7283052
266 Santander 98 43.4620412 -3.8099719
267 Río Branco Acre 97 -9.9765362 -67.8220778
268 New Delhi 95 28.6138954 77.2090057
269 Kingston Jamaica 95 17.9712148 -76.7928128
270 Greensboro North Carolina 94 36.0726355 -79.7919754
271 Manaos Amazonas 94 -3.1316333 -59.9825041
272 Varsovia 93 52.2319581 21.0067249
273 Halifax 92 44.648618 -63.5859487
274 Punta Arenas 92 -53.1625688 -70.907822
275 Edinburgh 92 55.9533456 -3.1883749
276 Zaragoza 91 41.6521342 -0.8809428
277 Bellevue Washington 90 47.6144219 -122.192337
278 Jackson Mississippi 89 32.2990021 -90.1847691
279 Louisville Jefferson County Kentucky 89 38.209237 -85.7038502
280 Montego Bay 89 18.4724603 -77.9217357
281 Doha 88 25.2856329 51.5264162
282 Cary North Carolina 86 35.7882893 -78.7812081
283 Reno Nevada 86 39.5261206 -119.8126581
284 Saint Petersburg 86 59.938732 30.316229
285 Bucharest 86 44.4361414 26.1027202
286 Manizales 86 5.0668907 -75.5066661
287 Lexington Fayette County Kentucky 85 38.0464066 -84.4970393
288 Hong Kong 85 22.2793278 114.1628131
289 Luxembourg 85 49.8158683 6.1296751
290 Hong Kong Sar 84 22.350627 114.1849161
291 Villahermosa 84 18.0018152 -92.9330401483751
292 Rochester New York 84 43.157285 -77.615214
293 Queretaro 82 20.5927744 -100.3902245
294 Rochester Minnesota 81 44.0234387 -92.4630182
295 Alcalá de Henares 80 40.4818396 -3.3644973
296 Augsburg 80 48.3668041 10.8986971
297 Amersfoort 79 52.163773899999995 5.3965879493517015
298 San Martin 79 18.085493 -63.05129209796061
299 Barrie 79 44.3893113 -79.6901736
300 Stamford Connecticut 79 41.0534302 -73.5387341
301 Birmingham Alabama 77 33.5206824 -86.8024326
302 Puebla 77 18.833333 -98.0
303 Beirut 77 33.8959203 35.47843
304 Boise City Boise Idaho 76 43.648974 -116.2248881
305 Milwaukee Wisconsin 75 43.0349931 -87.922497
306 El Paso Texas 75 -15.7586435 -47.887553
307 Mazatlan 75 23.2313053 -106.4153144
308 Memphis Tennessee 75 35.1490215 -90.0516285
309 Chihuahua 74 28.5000001 -106.0000001
310 Colorado Springs Colorado 74 38.8339578 -104.825348
311 Valparaíso 74 -33.0458456 -71.6196749
312 Aberdeen 73 57.1482429 -2.0928095
313 Veracruz 73 19.333333 -96.666667
314 Iquitos 73 -3.749365 -73.2444145
315 Abu Dhabi 73 24.4538352 54.3774014
316 Caldera 73 -27.0675545 -70.8222047
317 Christmas Island 73 -10.49124145 105.6173514897963
318 Ravenna 72 44.364060699999996 12.059009490863945
319 Playa del Carmen 72 20.6308643 -87.0779503
320 Quilpué 72 -33.0498135 -71.4415282
321 Aalborg 72 57.0462626 9.9215263
322 Barrancabermeja 72 7.0673313 -73.8525627
323 Puerto Montt 71 -41.4718121 -72.939621
324 Kansas City Missouri 71 39.100105 -94.5781416
325 Singapore 70 1.357107 103.8194992
326 Durham North Carolina 70 35.996653 -78.9018053
327 Providence Rhode Island 70 41.8239891 -71.4128343
328 Wichita Kansas 70 37.6922361 -97.3375448
329 Hollywood Florida 69 26.0112014 -80.1494901
330 Delhi 69 28.6517178 77.2219388
331 Pekin 68 39.906217 116.3912757
332 Chimbote 68 -9.0744966 -78.593609
333 Mumbai 68 19.0759899 72.8773928
334 Santa Cruz de Tenerife 67 28.469648 -16.2540884
335 Little Rock Arkansas 67 34.7465071 -92.2896267
336 Tacna 67 -18.0138521 -70.2511614
337 Bridgetown 66 13.0977832 -59.6184184
338 San Luis Potosi 66 22.5000001 -100.4949145
339 Aix En Provence 66 43.5298424 5.4474738
340 Florianópolis Santa Catarina 65 -27.4943991 -48.7163155
341 Anchorage Alaska 64 61.2163129 -149.894852
342 Santa Ana California 64 33.7494951 -117.8732213
343 Acheng 64 45.4750756 127.1603971
344 Zagreb 64 45.8131847 15.9771774
345 Krakow 63 50.0619474 19.9368564
346 Salvador Bahía 62 -12.9822499 -38.4812772
347 Cochabamba 62 -17.3936114 -66.1568983
348 Brampton 61 43.6858146 -79.7599337
349 Santa Fe 61 -30.3154739 -61.1645076
350 Ecatepec 60 19.5994083 -99.0487281
351 Aracatuba Sao Paulo 60 -21.207992 -50.4390225
352 Abaetetuba Para 60 -1.721828 -48.878843
353 Tapachula 60 14.9258055 -92.32219567868036
354 Saint Paul Minnesota 59 44.9497487 -93.0931028
355 Paterson New Jersey 59 40.9167654 -74.171811
356 Grand Rapids Michigan 59 42.9632405 -85.6678639
357 Port St Lucie Florida 59 27.2939333 -80.3503283
358 Hamilton 59 43.2560802 -79.8728583
359 Dayton Ohio 58 39.7589478 -84.1916069
360 Adelaide 58 -34.9281805 138.5999312
361 Minsk 58 53.9024716 27.5618225
362 Stavanger 57 59.1020129 5.712611357275702
363 Cártago 56 36.8548083 10.3309924
364 Montpellier 56 43.6112422 3.8767337
365 Des Moines Iowa 56 41.5910323 -93.6046655
366 Columbia Missouri 56 38.9464035 -92.3484631580807
367 Chengdu 56 30.6598628 104.0633717
368 Johannesburg 55 -26.205 28.049722
369 Port Of Spain 55 10.6572678 -61.5180173
370 Lausanne 55 46.5218269 6.6327025
371 Bahía Blanca 54 -38.7176522 -62.2654871
372 Hermosillo 54 29.0948207 -110.9692202
373 Tallinn 54 59.4372155 24.7453688
374 Jakarta 54 -6.1753942 106.827183
375 Tacoma Washington 54 47.2495798 -122.4398746
376 Kuala Lumpur 53 3.1516964 101.6942371
377 Sofía 53 42.6978634 23.3221789

378 Fortaleza Ceara 52 -3.7304512 -38.5217989
379 Anaheim California 51 33.8347516 -117.911732
380 Bern 51 46.9482713 7.4514512
381 Maastricht 51 50.8512438 5.6909768
382 Quetzaltenango 51 14.7360257 -91.6152074
383 Bialystok 51 53.127505049999996 23.147050870161664
384 Bage Río Grande Do Sul 50 -31.3314264 -54.1062808
385 San Miguelito City 50 14.6128711 -90.4976119
386 Columbia South Carolina 50 38.889744050000004 -77.04086075512475
387 Monteria 50 8.7509361 -75.8786806
388 Riga 50 56.9493977 24.1051846
389 Green Bay Wisconsin 50 44.5126379 -88.0125794
390 Recife Pernambuco 49 -8.0584933 -34.8848193
391 Talca 49 -35.4266305 -71.6661153
392 Abbotsford 48 49.0521162 -122.329479
393 Spokane Washington 48 47.6571934 -117.4235106
394 Leeds 48 53.7974185 -1.5437941
395 Port Au Prince 47 18.547327 -72.3395928
396 Montgomery Alabama 47 32.3669656 -86.3006485
397 Lafayette Louisiana 47 30.2240897 -92.0198427
398 Columbus Georgia 46 32.4610708 -84.9880449
399 La Plata 46 -34.9206797 -57.9537638
400 Glasgow 46 55.8609825 -4.2488787
401 Brownsville Texas 45 25.9140256 -97.4890856
402 Billings Montana 45 45.7874957 -108.49607
403 Sao Carlos Sao Paulo 45 -22.0180395 -47.891154
404 Graz 45 47.0708678 15.4382786
405 Savannah Georgia 45 32.0809263 -81.0911768
406 Bristol 44 51.4538022 -2.5972985
407 Salta 44 -25.1076701 -64.3494964
408 Saskatoon 43 52.131802 -106.660767
409 Oakland California 43 37.8044557 -122.2713563
410 Naples 43 40.8358846 14.2487679
411 Belice 43 16.8259793 -88.7600927
412 Ibagué 43 4.478767899999999 -75.23271918807455
413 Eugene Oregón 43 44.0505054 -123.0950506
414 San Juan Puerto Rico 43 18.465299 -66.116666
415 Ontario California 42 34.065846 -117.6484304
416 Argenteuil 42 48.9479069 2.2481797
417 Alvorada Río Grande Do Sul 42 -29.9981184 -51.0772509
418 Springfield Missouri 42 37.2166779 -93.2920373
419 Alagoinhas Bahía 42 -12.133526 -38.420772
420 Newcastle Upon Tyne 42 54.9738474 -1.6131572
421 Bergen 41 60.3943055 5.3259192
422 Chinandega 41 12.8890816 -86.9577726
423 Viña del Mar 41 -33.0244535 -71.5517636
424 Gdansk 41 54.36119285 18.62860883362069
425 Pusan Busan 41 35.1157823 129.04265
426 Syracuse New York 41 43.0481221 -76.1474244
427 Amiens 40 49.8941708 2.2956951
428 Gainesville Florida 40 29.6519684 -82.3249846
429 Georgetown 40 6.8137426 -58.1624465
430 Perúgia 40 43.1070321 12.402996209906487
431 Springfield Illinois 40 39.7990175 -89.6439575
432 Bergamo 40 45.756655699999996 9.754219200862249
433 Tehran 40 35.6892523 51.3896004
434 Dammam 40 26.4367824 50.1039991
435 Norwich 40 52.628606 1.29227
436 Arhus 40 56.1496278 10.2134046
437 Angers 39 47.4739884 -0.5515588
438 Ann Arbor Michigan 39 42.2681569 -83.7312291
439 Antwerp 39 51.2211097 4.3997081
440 Strasbourg 39 48.584614 7.7507127
441 Torreon 38 35.7947315 -107.21208446076524
442 Canberra 38 -35.2975906 149.1012676
443 Fort Wayne Indiana 38 41.0799898 -85.1386015
444 Jerez de la Frontera 38 36.6816936 -6.1377402
445 Neiva 38 2.9263127 -75.2891733
446 Algiers 38 36.7753606 3.0601882
447 Las Tunas 38 21.08870445 -76.81216477200348
448 Lahore 37 31.5656822 74.3141829
449 Naperville Illinois 37 41.7728699 -88.1479278
450 Chandler Arizona 37 33.3061605 -111.84125
451 Midland Texas 36 32.023939549999994 -102.09648921925708
452 Cologne 36 50.938361 6.959974
453 Corrientes 36 -28.5912315 -57.9394658
454 Bari 36 41.1257843 16.8620293
455 Nairobi 35 -1.2832533 36.8172449
456 Bratislava 35 48.1516988 17.1093063
457 Nara 35 -0.5275000000000001 166.93479227083333
458 Belfast 35 54.596391 -5.9301829
459 Inchon Incheon 34 37.4766821 126.6168874
460 Temuco 34 -38.7362611 -72.590546
461 Knoxville Tennessee 34 35.9603948 -83.9210261
462 Sioux Falls South Dakota 33 43.5460587 -96.7313928
463 Athens Clarke County Georgia 33 33.9458693 -83.3557816
464 Bielsko Biala 33 49.822118 19.0448936
465 Nanjing 33 32.0615652 118.7915079
466 Barquisimeto 33 10.0740372 -69.3215667
467 Abakan 33 53.7206497 91.4403553
468 Celaya 33 20.5218445 -100.8139609
469 Norwalk California 32 33.9092802 -118.0849169
470 Wilmington North Carolina 32 34.2257282 -77.9447107
471 Avignon 32 43.9492493 4.8059012
472 Brescia 32 45.77958045 10.4258729694612
473 Mcallen Texas 31 26.2043691 -98.230082
474 Badajoz 31 38.8780585 -6.9702048
475 Araras Sao Paulo 31 -22.3569477 -47.3838889
476 Bali 31 48.8588897 2.3200410217200766
477 Chattanooga Tennessee 31 35.0457219 -85.3094883
478 Talara 31 -4.5796872 -81.2718335
479 Bayamon 31 18.3990551 -66.1560326
480 San Bernardino California 30 34.8253019 -116.0833144
481 Alchevsk 30 48.4696662 38.7993994
482 Culiacan 30 24.7978965 -107.393395
483 Reykjavik 30 64.145981 -21.9422367
484 Burlington 30 44.4761601 -73.212906
485 Cairns 30 -16.9206657 145.7721854
486 Odense 30 55.3997225 10.3852104
487 Aden 30 12.833333 44.916667
488 Trondheim 30 63.4305658 10.3951929
489 Toulon 30 43.1257311 5.9304919
490 Terrebonne 30 45.7081005 -73.6515157
491 Manchester New Hampshire 30 42.9956397 -71.4547891
492 Fort Worth Texas 30 32.753177 -97.3327459
493 Basildon 29 51.5754602 0.4757363
494 Nagoya 29 35.1851045 136.8998438
495 South Bend Indiana 28 41.6833813 -86.2500066
496 Granada Nicaragua 28 11.8134002 -85.9031625
497 Bonn 28 50.735851 7.10066
498 Belgrade 28 44.8178131 20.4568974
499 Tempe Arizona 27 33.4255056 -111.9400091
500 Huntsville Alabama 27 34.729847 -86.5859011
501 Mar del Plata 27 -37.9977225 -57.5482703
502 Mulheim 27 51.4272925 6.8829192
503 Salamanca 27 40.9651572 -5.6640182
504 Cuernavaca 27 18.9218274 -99.2342282
505 Bielefeld 27 52.0191005 8.531007
506 La Romana 27 18.4975148 -68.9766638
507 Sobral Ceara 27 -3.6879135 -40.3456372
508 Terrassa 27 41.5629623 2.0100492
509 Tallahassee Florida 27 30.4380832 -84.2809332
510 Galisbay 27 18.0721304 -63.0818943
511 Kelowna 27 49.8879177 -119.4959025
512 La Serena 26 -29.902631 -71.2520253
513 Oaxaca 26 17.0 -96.5
514 Split 26 43.5116383 16.4399659
515 Blackburn 26 53.749326 -2.4840566
516 Bauru Sao Paulo 26 -22.3218102 -49.0705863
517 Paramaribo 26 5.8247628 -55.1703941
518 Choloma 26 15.6127426 -87.950694
519 Arecibo 26 18.4702985 -66.7190726
520 Muscat 26 23.5907634 58.44600501458025
521 Malmo 26 55.6052931 13.0001566
522 Yokohama 25 35.444991 139.636768
523 Waco Texas 25 31.549333 -97.1466695
524 Burbank California 25 34.1816482 -118.3258554
525 Oranjestad 25 12.5268736 -70.0356845
526 Kobe 25 34.6932379 135.1943764
527 Oakville 25 43.447436 -79.666672
528 Durango 25 24.833333 -104.833333
529 Perth 25 -31.9527121 115.8604796
530 Erie Pennsylvania 24 42.1294712 -80.0852695
531 Duisburg 24 51.434999 6.759562
532 Fes 24 34.0346534 -5.0161926
533 Morelia 24 19.7027116 -101.1923818
534 Norman Oklahoma 24 35.2225717 -97.4394816
535 Odessa 24 46.4858883 30.683651011009996
536 Fairfield California 24 38.2493581 -122.039966
537 Amman 24 31.9515694 35.9239625
538 Valladolid 24 41.6521328 -4.728562
539 Vancouver Washington 24 45.6306954 -122.6744557
540 Devonshire 24 50.724140500000004 -3.6607788161410735
541 Denton Texas 23 33.1838787 -97.1413417
542 Camaguey 23 21.3791765 -77.9183681
543 Belgorod 23 50.5955595 36.5873394
544 Coquimbo 23 -30.7546652 -70.9005536
545 Guanghan 23 30.9818013 104.2725546
546 Messina 23 38.1937571 15.5542082
547 Berdyansk 23 46.9120891 36.54406086365567
548 Cambridge 22 52.2055314 0.1186637
549 Palermo 22 38.1112268 13.3524434
550 Salto Uruguay 22 -31.38889 -57.9608876
551 Baton Rouge Louisiana 22 30.4459596 -91.18738
552 Bonaire 22 12.167 -68.29096143734236
553 Osaka 22 34.6198813 135.490357
554 Guaruja Sao Paulo 22 -23.9927768 -46.2558332
555 Evansville Indiana 22 37.9747645 -87.5558483
556 Cádiz 22 36.5297438 -6.2928976
557 Cangzhou 22 38.3042796 116.8511597
558 Bytom 21 50.3657432 18.87153251609449
559 Nueva San Salvador 21 13.7588604 -86.5339705
560 Kuwait City 21 29.3797091 47.9735629
561 Mulhouse 21 47.7467233 7.3389937
562 Salzburg 21 47.7981346 13.0464806
563 Copiapo 21 -27.3664685 -70.3322753
564 Ganzhou 21 25.8332103 114.9287362
565 Vilnius 21 54.6870458 25.2829111
566 Arlington Texas 21 32.701938999999996 -97.10562379033699
567 Parma 20 44.8013678 10.3280833
568 Waterbury Connecticut 20 41.5538091 -73.0438362
569 Brest 20 48.3905283 -4.4860088
570 Bacau 20 46.42613415 26.71205400126924
571 Xico 20 19.4457798 -97.0707568368614

572 Logroño 20 42.4661196 -2.4396676
573 Natal Río Grande Do Norte 20 -5.805398 -35.2080905
574 Provo Utah 20 40.2338438 -111.6585337
575 Cabo Frio Río De Janeiro 20 -22.8804369 -42.0189227
576 Tuxtla Gutierrez 20 16.753801 -93.115959
577 San Cristobal 19 18.5200904 -70.2076771
578 Maipú 19 -33.5094409 -70.756182
579 Apopa 19 13.8013036 -89.1790784
580 Adoni 19 39.913451 9.185837
581 Minatitlan 19 17.7052686 -94.38617333390417
582 Thunder Bay 19 48.406414 -89.259796
583 Juliaca 19 -15.4915945 -70.132216
584 Tirana 19 41.3279485 19.8185512
585 Hialeah Florida 18 25.8670439 -80.29146452058569
586 Chillan 18 -36.6066616 -72.1033194
587 Mecca 18 21.420847 39.826869
588 Papeete 18 -17.5373835 -149.5659964
589 Almada 18 38.6764302 -9.1649974
590 Innsbruck 18 47.2654296 11.3927685
591 Windsor 18 51.483757749999995 -0.6040964041849046
592 Catania 18 37.5023612 15.0873718
593 Pucallpa 18 -8.3820737 -74.5387507
594 Apeldoorn 18 52.17957375 5.930077460807249
595 San Miguel de Tucumán 18 -26.8303703 -65.2038133
596 Espoo 18 60.2047672 24.6568435
597 Avellaneda 18 -34.6648394 -58.3628061
598 Ajax 18 43.8505287 -79.0208814
599 Casablanca 17 33.5675527 -7.618756606822727
600 Cape Coral Florida 17 26.6059432 -81.9806771
601 Tarapoto 17 -6.4877198 -76.3598708
602 Cagliari 17 39.2169525 9.1128513
603 Cork 17 51.897077 -8.4654674
604 Montreux 17 46.4310831 6.9129921
605 Merida Venezuela 17 8.5816963 -71.1658075
606 Palmdale California 17 34.5793131 -118.1171108
607 Cedar Rapids Iowa 17 41.9758872 -91.6704053
608 Ciudad del Carmen 17 18.651739 -91.81492
609 Tampico 17 22.2329889 -97.8614802
610 Besancon 17 47.2380222 6.0243622
611 Springfield Massachusetts 17 42.1018764 -72.5886727
612 Santa Bárbara Doeste Sao Paulo 17 -22.6778643 -47.6307433
613 Fresno California 17 36.7295295 -119.70886126075588
614 Sabara Minas Gerais 17 -19.8900372 -43.8107916
615 Olomouc 17 49.5940567 17.251143
616 Beian 17 36.437208 120.4702696
617 Ljubljana 17 46.0499803 14.5068602
618 Cabimas 17 10.395075 -71.4414049
619 Andong 16 40.128668 124.3863404
620 Dakar 16 14.693425 -17.447938
621 Islamabad 16 33.6938118 73.0651511
622 Cape Town 16 -33.928992 18.417396
623 Winston Salem North Carolina 16 36.0998131 -80.2440518
624 Pembroke Pines Florida 16 26.0031465 -80.223937
625 Guantanamo 16 20.1431797 -75.2034783
626 Ulsan 16 35.5391697 129.3119136
627 Shahe 16 36.8616265 114.5112915
628 Liege 16 50.6451381 5.5734203
629 Concord California 16 37.9768525 -122.0335624
630 Burgos 16 42.343926 -3.696977
631 Los Alcarrizos 15 18.531222749999998 -70.03914909997818
632 Grand Prairie Texas 15 32.7459645 -96.9977846
633 College Station Texas 15 30.5955289 -96.3071042
634 Curico 15 -34.985368 -71.2393705
635 Mobile Alabama 15 30.6943566 -88.0430541
636 Regina 15 50.44876 -104.61731
637 Thaiti 15 -7.2894905 -76.1035012
638 Kampala 15 0.3177137 32.5813539
639 Osijek 15 45.5548719 18.6953719
640 Abidjan 15 5.320357 -4.016107
641 Lincoln Nebraska 15 40.8088861 -96.7077751
642 Clarksville Tennessee 15 36.5277607 -87.3588703
643 New Bombay 15 14.5610994 121.0254199
644 San Miguel 15 38.0292476 -108.4712533
645 Linz 14 48.3059078 14.286198
646 Fontana California 14 34.0922335 -117.435048
647 Ángeles City 14 7.12251 125.6460898
648 Daly City California 14 37.6904826 -122.47267
649 Wellington 14 -41.2887953 174.7772114
650 Everett Washington 14 47.9673056 -122.2013998
651 Buraydah 14 26.331667 43.971667
652 Barakaldo 14 43.29548 -2.9900933
653 Caguas 14 18.2345399 -66.0351316
654 Tarragona 14 41.1172364 1.2546057
655 Oruro 14 -18.666667 -67.666667
656 Vitoria Espirito Santo 14 -8.1354776 -35.2947744
657 Rijeka 14 45.3271752 14.4412309
658 Suzano Sao Paulo 14 -23.5427842 -46.3108391
659 Accra 14 5.5571096 -0.2012376
660 Tyler Texas 14 32.3512601 -95.3010624
661 Hagen 14 51.3582945 7.473296
662 Lansing Michigan 14 42.7337712 -84.5553805
663 Marigot 14 18.0668544 -63.0848869
664 Ageo 14 35.9774082 139.5930504
665 Andorra la Vella 14 42.5069391 1.5212467
666 Almetyevsk 14 54.9005008 52.2963777
667 Ansan 14 43.6859601 0.7869127217687082
668 Arvada Colorado 13 39.8005505 -105.0811573
669 Brno 13 49.1922443 16.6113382
670 Ashkelon 13 31.6644874 34.5730157
671 Babruysk 13 53.1449683 29.2281209
672 Zacatecas 13 23.0823582 -103.20856984509811
673 Coral Springs Florida 13 26.271192 -80.2706044
674 Hanzhong 13 33.069049 107.018889
675 Vitoria Da Conquista Bahía 13 -14.8567487 -40.8414804
676 Ahuachapan 13 13.9234192 -89.8462907
677 Worcester Massachusetts 13 42.2625621 -71.8018877
678 Huddersfield 13 53.6466645 -1.7822482
679 Christchurch 13 -43.530955 172.6366455
680 Sao Caetano Do Sul Sao Paulo 13 -23.6195923 -46.5688323
681 Lubbock Texas 13 33.5635206 -101.879336
682 Magdeburg 13 52.1315889 11.6399609
683 Chennai 13 13.0836939 80.270186
684 Neuquén 13 -38.3695057 -69.832275
685 Providenciales 13 21.8020614 -72.30044556984475
686 Paranagua Parana 13 -25.5148822 -48.5226695
687 Guarapuava Sao Paulo 13 -25.3773895 -51.4706157
688 Clearwater Florida 13 27.9658533 -82.8001026
689 Mesa Arizona 13 33.4151117 -111.8314792
690 Cartagena 13 37.6019353 -0.9841152
691 Toledo Ohio 13 41.6529143 -83.5378173
692 Poznan 13 52.4006632 16.91973259178088
693 Philipsburg 13 18.0250713 -63.0483073
694 Guangshui 12 31.6190052 113.8203522
695 Kaunas 12 54.8982139 23.9044817
696 Georgetown Grand Cayman 12 19.3360115 -81.3793574
697 Adana 12 36.9863599 35.3252861
698 Blackpool 12 53.8182212 -3.0564845
699 Leipzig 12 51.3406321 12.3747329
700 Shreveport Louisiana 12 32.5221828 -93.7651944
701 Arnhem 12 51.984257 5.9108573
702 Jaén 12 37.9557275 -3.492055612037218
703 Cienfuegos 12 22.1457501 -80.4526242
704 Resistencia 12 -27.4511235 -58.9865196
705 Verona 12 45.4384958 10.9924122
706 Popayan 12 2.4422295 -76.6072368
707 Rotterdam 12 51.9244424 4.47775
708 Killeen Texas 12 31.1171441 -97.727796
709 Debrecen 12 47.531399 21.6259782
710 St Johns 12 34.5058698 -109.3609327
711 Oldham 12 35.3907651 -102.6193428
712 Dresden 12 51.0493286 13.7381437
713 Barra Mansa Río de Janeiro 11 -22.5394843 -44.1735129
714 Funchal 11 32.6496497 -16.9086783
715 Latina 11 41.45952605 13.012591212188894
716 Fremont California 11 37.5482697 -121.988571
717 Grand Cayman 11 19.3298691 -81.17122907994889
718 Lakewood Colorado 11 39.631108499999996 -105.11005818223015
719 Zhuhai 11 22.273734 113.5721327
720 Belem Para 11 -1.45056 -48.4682453
721 Ciudad Delgado 11 13.722637 -89.1705245
722 Mckinney Texas 11 33.1976496 -96.6154471
723 Los Mochis 11 25.7928058 -108.990188
724 Manama 11 17.1750495 95.9999652
725 Colima 11 19.166667 -104.0
726 Altay 11 49.808 86.6446
727 Ashdod 11 31.7977314 34.6529922
728 Acarigua 11 9.5507961 -69.2032823
729 Durres 11 41.33105689999999 19.456792561190838
730 Ciudad Obregon 11 27.4846619 -109.9337782
731 Braga 11 41.5510583 -8.4280045
732 Changchun 11 43.8130735 125.3171216
733 Fayetteville North Carolina 11 35.0525759 -78.878292
734 Westminster Colorado 11 39.8366528 -105.0372046
735 Almere 11 52.3657098 5.2210432
736 Bochum 10 51.4818111 7.2196635
737 Coro 10 11.4055796 -69.6679115
738 Chernihiv 10 51.272593 31.7417235
739 Kingston Upon Hull 10 53.7435722 -0.3394758
740 Chengde 10 41.40122 117.18432312807089
741 Pine Cay 10 24.336145000000002 -77.86068004636513
742 Ribeirao Das Neves Sao Paulo 10 -19.8053386 -44.0078352
743 Abuja 10 9.0643305 7.4892974
744 Guaynabo 10 18.3581491 -66.1116969
745 Atibaia Sao Paulo 10 -23.1177393 -46.5547861
746 Podgorica 10 42.4415238 19.2621081
747 Shenzhen 10 22.5445741 114.0545429
748 Saint Etienne 10 45.4401467 4.3873058
749 Praia 10 14.9162811 -23.5095095
750 Kempton Park 10 -26.0964372 28.2336325
751 New Taipei 10 25.011997 121.4656619
752 Bakersfield California 10 35.3738712 -119.0194639
753 Nijmegen 10 51.842574850000005 5.838960628748229
754 Ap Lei Chau 10 22.23993535 114.15452436190014
755 Peoria Arizona 10 33.5806115 -112.237294
756 Qianjiang 10 30.4049826 112.8940372
757 Cotonou 10 6.3676953 2.4252507
758 Abohar 10 30.1450543 74.1956597
759 Rabat 10 34.022405 -6.834543
760 Daugavpils 10 55.8712267 26.5159337
761 West Covina California 10 34.0471735 -117.8963242650494
762 Liverpool 10 53.4071991 -2.99168
763 Carolina Puerto Rico 10 18.44599505 -66.03212789280533
764 Mainz 9 50.0012314 8.2762513

765 Akesu 9 41.1686701 80.2581875
766 Ho Chi Minh City 9 10.7715512 106.6983801
767 Miramar Florida 9 25.9873137 -80.2322706
768 Vitoria Gasteiz 9 42.8465088 -2.6724025
769 High Wycombe 9 51.627422 -0.7484153
770 Le Mans 9 48.0073849 0.1967849
771 Araure 9 9.5832311 -69.2239795
772 Honghu 9 29.924292299999998 113.46038938825592
773 Recklinghausen 9 51.6143815 7.1978546
774 Alexandria 9 31.199004 29.894378
775 Matamoros 9 25.8520977 -97.5017951
776 Abbottabad 9 34.1448298 73.2142212
777 Jerusalén 9 31.7788242 35.2257626
778 Antioch California 9 38.0049214 -121.805789
779 Carolina 9 35.90503535 -79.04775326525107
780 Sunnyvale California 9 37.3688301 -122.036349
781 Salvaleón de Higuey 9 18.6127983 -68.7119822
782 Riyadh 9 24.638916 46.7160104
783 Dunedin 9 -45.8740984 170.5035755
784 Sao Vicente Sao Paulo 9 -23.9603686 -46.3847024
785 Whitby 9 54.47997505 -0.6242561969485891
786 Arad 9 46.1753793 21.3196342
787 Buon Ma Thuot 9 12.6796827 108.0447368
788 Chorzow 9 50.288556299999996 18.97044253093511
789 Bila Tserkva 9 49.8038191 30.1116924
790 Barretos Sao Paulo 9 -20.5531437 -48.5697509
791 Olinda Pernambuco 9 -7.9986401 -34.8459552
792 Fuzhou Jiangxi 9 27.9511188 116.3530413
793 Choluteca 9 13.3696253 -87.07564445652513
794 Barinas 9 8.166667 -69.833333
795 Middle Caicos 9 21.795955 -71.76025948545293
796 Bydgoszcz 9 53.1219648 18.0002529
797 Changhua 8 24.0755667 120.5444667
798 Barcelona Venezuela 8 10.1373006 -64.6862532
799 Salem Oregón 8 44.9391565 -123.033121
800 Malabo 8 3.752828 8.780061
801 Simi Valley California 8 34.2677404 -118.7538071
802 Burgas 8 42.343926 -3.696977
803 Liberec 8 50.7702648 15.0583947
804 Bat Yam 8 32.0154565 34.7505283
805 San Luis Río Colorado 8 31.9939483 -114.29076765838929
806 Cambridge Massachusetts 8 42.3750997 -71.1056157
807 Palmas Tocantins 8 -10.1837852 -48.3336423
808 Hancheng China 8 35.4762519 110.4508029
809 Badalona 8 41.4493539 2.248254
810 Cherkasy 8 49.3402711 31.610320733574746
811 Tulancingo 8 23.7451576 -99.161172
812 Klaipeda 8 55.7127529 21.1350469
813 Chalco de Diaz Covarrubias 8 19.2612215 -98.8958362
814 Belford Roxo Río de Janeiro 8 -22.7667284 -43.4033603
815 Port Moresby 8 -9.4743301 147.1599504
816 Ambon 8 47.55539425 -2.554524246013524
817 Trento 8 46.102817 11.129543099871789
818 Ankara 8 39.9207886 32.8540482
819 Szczecin 8 53.42968095 14.592912670292268
820 Barcadera 8 12.4927619 -69.9820134
821 Tokorozawa 8 35.7994271 139.4687478
822 Clermont Ferrand 8 45.7774551 3.0819427
823 Schaerbeek 8 50.8676041 4.3737121
824 Darwin 8 -12.46044 130.8410469
825 Maracay 8 10.2375144 -67.5890216
826 Achinsk 8 56.2694846 90.4953964
827 Dhaka 8 23.8175925 90.21930545737357
828 San Felipe de Puerto Plata 8 19.7893977 -70.6940515
829 Jeddah 8 21.5810088 39.1653612
830 Arkhangelsk 8 64.543022 40.537121
831 Ghent 8 51.0538286 3.7250121
832 El Progreso 8 14.852206 -90.0648909
833 Nova Iguacu Río de Janeiro 8 -22.7592175 -43.4508728
834 Cardiff 8 51.4816546 -3.1791934
835 Rennes 8 48.1113387 -1.6800198
836 Le Havre 8 49.4938975 0.1079732
837 Salerno 8 40.419441649999996 15.310756230322482
838 Kigali 8 -1.950851 30.061507
839 Coimbra 8 40.2111931 -8.4294632
840 Macae Río de Janeiro 8 -22.3712958 -41.7866922
841 Santa Rosa California 8 38.4404925 -122.7141049
842 Bangalore 8 12.9767936 77.590082
843 Laredo Texas 8 16.6310622 -93.104496
844 Baku 8 40.163999149999995 50.27770925520258
845 Miass 7 55.065304 60.108337
846 Nancy 7 48.68806655 6.181150361127399
847 Marrakech 7 31.626794750000002 -8.003024256894616
848 West Valley City Utah 7 40.696629 -111.9867271
849 Augusta Richmond County Georgia 7 33.4709714 -81.9748429
850 Elche 7 38.2653307 -0.6988391
851 Sao Goncalo Río de Janeiro 7 -22.8219014 -43.0309252
852 Resende Río De Janeiro 7 -22.4683626 -44.4463494
853 Angarsk 7 52.5311117 103.8826109
854 Pescara 7 42.3102619 13.95759010584892
855 Pearland Texas 7 29.5639758 -95.2864299
856 Ciudad Acuña 7 29.319604 -100.94784
857 Anyang South Korea 7 37.3938528 126.9570605
858 Rancagua 7 -34.170249 -70.7407427
859 Baghdad 7 33.3024309 44.3787992
860 Chiayi 7 23.4591664 120.2930004
861 Orebro 7 59.2747287 15.2151181
862 Grenoble 7 45.1875602 5.7357819
863 El Alto 7 -16.5048228 -68.1624337
864 Stockton California 7 37.9577016 -121.2907796
865 Agra 7 27.1752554 78.0098161
866 Sanmenxia 7 34.7678842 111.1908398
867 Attard 7 35.8909172 14.4430093
868 Maribor 7 46.5576439 15.6455854
869 Panevezys 7 55.7344985 24.3578055
870 Abiko 7 35.863999 140.0280653
871 Riverside California 7 33.9459413 -117.41024442439222
872 North Las Vegas Nevada 7 36.2005843 -115.121584
873 Amadora 7 38.7595162 -9.223677009460125
874 Ilheus Bahía 7 -14.792599 -39.0453843
875 Czestochowa 7 50.8120466 19.113213
876 Burnaby 7 49.2433804 -122.9725459
877 Freiburg Im Breisgau 7 47.9960901 7.8494005
878 Campo Grande Mato Grosso Do Sul 7 -20.4640173 -54.6162947
879 Santiago del Estero 7 -27.6431016 -63.5408542
880 Huizhou 7 23.1146515 114.4107202
881 Beihai 7 21.4845174 109.1165772
882 Taranto 7 40.54881555 17.08058012454743
883 Coquitlam 7 49.2842958 -122.793281
884 Ensenada 7 31.8658887 -116.6029835
885 Kaohsiung 7 22.6203348 120.3120375
886 Monza 7 45.5834418 9.2735257
887 Woodbridge Township New Jersey 7 40.5498525 -74.2874185506135
888 Lancaster California 7 34.6981064 -118.1366153
889 Georgetown Penang 7 5.4141619 100.3287352
890 Moreno Valley California 7 33.937517 -117.2305944
891 Bournemouth 7 50.7194784 -1.8767712
892 Palmira 7 3.5308373 -76.2988048
893 Chernivtsi 7 48.2864702 25.9376532
894 Downey California 7 33.942215 -118.1235646
895 Livorno 7 42.79021905 10.340281392353766
896 Ananindeua Para 7 -1.374035 -48.4016623
897 Maringa Parana 7 -23.425269 -51.9382078
898 Aurora Colorado 7 39.7405111 -104.8309947
899 Walbrzych 7 50.7659054 16.2825424
900 Heidelberg 7 49.4093582 8.694724
901 Kosice 7 48.7172272 21.2496774
902 Pilsen 7 49.7477415 13.3775249
903 Hualien 7 23.9913421 121.6197276
904 Tartu 7 58.3801207 26.72245
905 Barueri Sao Paulo 6 -23.5112184 -46.8764612
906 Armavir 6 44.9993585 41.1294061
907 Kingston 6 17.9712148 -76.7928128
908 Saint Thomas 6 49.5020115 3.8175587164613276
909 Peoria Illinois 6 40.6938609 -89.5891008
910 Ahvaz 6 31.3229936 48.6793316
911 Oxford 6 51.7520131 -1.2578499
912 Guadalupe 6 16.230490850000002 -61.68711970810108
913 Vicenza 6 45.63485905 11.40635425660249
914 Potosí 6 -20.666667 -66.666667
915 Sincelejo 6 9.315429349999999 -75.43297645405696
916 Reynosa 6 26.0704018 -98.2963932
917 Lleida 6 41.6147605 0.6267842
918 Novara 6 45.584250049999994 8.545996970894572
919 Maputo 6 -25.966213 32.56745
920 Fresnillo 6 23.2249237 -103.01628907146873
921 Agadir 6 30.4211144 -9.5830626
922 Thousand Oaks California 6 34.1705609 -118.8375937
923 Braganca Paulista Sao Paulo 6 -22.9520235 -46.5418586
924 Corona California 6 33.8752945 -117.5664449
925 Balzan 6 35.8986113 14.4510172
926 Criciuma Santa Catarina 6 -28.6733503 -49.3797365
927 Multan 6 30.1979793 71.4724978
928 Mesquite Texas 6 32.7666103 -96.599472
929 Hong Kong Central 6 22.2850394 114.1583819
930 Santa Clara California 6 37.2333253 -121.6846349
931 Aracaju Sergipe 6 -10.9162061 -37.0774655
932 Pleven 6 43.409022 24.6180123
933 Mejicanos 6 13.722484 -89.1869905
934 Bahawalnagar 6 29.9935922 73.2527621
935 Castellón de la Plana 6 39.9860347 -0.0377354
936 Mónaco 6 48.1371079 11.5753822
937 Aksaray 6 38.4326291 33.8976963
938 Causeway Bay 6 22.2820777 114.1891587
939 Lanús 6 -34.7033363 -58.3953235
940 Olathe Kansas 6 38.8838856 -94.81887
941 Xalapa 6 19.5408338 -96.9146374
942 Phnompenh 6 11.568271 104.9224426
943 Lagos 6 6.4550575 3.3941795
944 Boa Vista Roraima 6 2.8208478 -60.6719582
945 Ailinglapalap Island 6 7.4157353 168.5526407385468
946 Sapucaia Do Sul Río Grande Do Sul 6 -29.8197019 -51.1608722

In [137]:
# Lazo para obtener coordenadas - Grupo 2

destinos_2 = []
for index, row in df_ranking_destinos_2.iterrows():
    location = geolocator.geocode(row['destino'])
    print(index, row['destino'], row['cantidad'], location.latitude, location.longitude)

    destino_fila = {'destino':row['destino'],'cantidad':row['cantidad'], 'latitud':location.latitude, 'longitud':location.longitude}
    destinos_2.append(destino_fila)

947 Colombo Sri Lanka 6 6.9387469 79.8541134
948 Kamianets Podilskyi 6 48.6784597 26.5852225
949 Valdivia 6 -39.8141262 -73.2459859
950 Aizuwakamatsu 6 37.48043 139.942135
951 Santa Rita Paraiba 6 -7.128465 -34.9846186
952 Gijón 6 43.5449422 -5.66275
953 Vasteras 6 59.6110992 16.5463679
954 Breda 6 51.5887845 4.7760237
955 Fuenlabrada 6 40.282476 -3.7923422
956 Glendale Arizona 5 33.5386858 -112.1859941
957 Rostock 5 54.0924445 12.1286127
958 Newcastle 5 54.9738474 -1.6131572
959 Padua 5 45.4077172 11.8734455
960 Skopje 5 41.9960924 21.4316495
961 Ostrava 5 49.8349139 18.2820084
962 Hodeidah 5 14.7978677 42.9544872
963 Beni Melal 5 32.34222505 -6.214006774979477
964 Sabadell 5 41.5421013 2.1138977
965 Almaty 5 43.2363924 76.9457275
966 Machida 5 35.564193 139.442839
967 Wanxian 5 30.8104729 108.4030841
968 Lille 5 50.6365654 3.0635282
969 Dar Es Salaam 5 -6.8160837 39.2803583
970 Florencia Caquetá 5 1.7554212 -75.60811976268113
971 Banjul 5 13.4410165 -16.56275092072591
972 Kerch 5 45.3534002 36.4538645
973 Bottrop 5 51.521581 6.929204
974 Xian 5 38.1904931 116.1191021
975 Mataró 5 41.5398348 2.4448926
976 Shenyang 5 41.6749893 123.458674
977 Santa Cruz 5 28.469648 -16.2540884
978 Noord 5 5.60067755 -55.28013661064335
979 Oxnard California 5 34.1976308 -119.1803818
980 Canberra Queanbeyan 5 -35.3569079 149.2240442
981 Chincha Alta 5 -13.417488 -76.1325726
982 Sheikhupura 5 31.7085285 73.9864014
983 Getafe 5 40.3081807 -3.7302679
984 Vantaa 5 60.3091871 25.0364526
985 Piedras Negras 5 28.6998135 -100.52671
986 Saint George 5 12.0535331 -61.751805
987 Anda 5 46.4114331 125.3285572
988 Ufa 5 54.7261409 55.947499
989 Gold Coast Tweed 5 -28.164853 153.5081045532748
990 Brighton And Hove 5 50.8453169 -0.14974689789029522
991 Akishima 5 35.70248 139.350065
992 Grenville 5 45.622998 -74.5969294
993 Haicheng 5 40.8515302 122.7475513
994 Zarqa 5 32.0668425 36.0885771
995 Cayenne 5 4.9371143 -52.3258307
996 Chai Wan 5 22.2656067 114.2379644
997 Pueblo Colorado 5 38.2544472 -104.609141
998 Erfurt 5 50.9777974 11.0287364
999 Antakya 5 36.26465455 36.176266473988434
1000 Taian 5 24.3225724 120.7492097
1001 Barisal 5 22.24113425 90.43569764018648
1002 Goiania Goias 5 -16.680882 -49.2532691
1003 St Petersburg Florida 5 27.7703796 -82.6695085
1004 Airok 5 7.2788932 168.820906
1005 Eskisehir 5 39.6821156 31.0723476
1006 Akashi 5 34.6832635 134.9476925
1007 Huntington Beach California 5 33.6783336 -118.0000166
1008 Ibirite Minas Gerais 5 -20.0214251 -44.0621506
1009 Changwon 5 35.227956 128.6818586
1010 Los Ángeles 5 34.0536909 -118.242766
1011 Addis Ababa 5 9.0107934 38.7612525
1012 Vinh 5 18.6692445 105.6881594
1013 Adiyaman 5 37.78936 38.3141101
1014 Bloemfontein 5 -29.116395 26.215496
1015 Río Claro Sao Paulo 5 -22.4100108 -47.5603933
1016 Pachuca 5 20.1165413 -98.7413535
1017 Garland Texas 5 32.912624 -96.6388833
1018 Berkeley California 5 37.8753497 -122.23963364918777
1019 Orleans 5 47.9027336 1.9086066
1020 Abadan 5 30.3636097 48.2591475
1021 Munster 5 52.307621600000004 -8.570897276292667
1022 Alor Setar 5 6.1231908 100.3683962
1023 Krasnodar 5 45.7684014 39.0261044
1024 Petrolina Pernambuco 5 -9.3817334 -40.4968875
1025 Dos Quebradas 5 -3.7363055 -80.0016905
1026 Gravatai Río Grande Do Sul 4 -29.9440222 -50.9930938
1027 Leganés 4 40.3281942 -3.76527
1028 Freeport 4 42.2966861 -89.6212271
1029 Pompano Beach Florida 4 26.2378597 -80.1247667
1030 Scottsdale Arizona 4 33.4942189 -111.9260184
1031 Beaumont Texas 4 30.0860459 -94.1018461
1032 Chetumal 4 18.5145865 -88.3005528
1033 Osorno 4 42.4106725 -4.3609815
1034 Aurora Illinois 4 41.7571701 -88.3147539
1035 Yerevan 4 40.1776245 44.5126174
1036 Benoni 4 -26.1930356 28.3082376
1037 Oshawa 4 43.8975558 -78.8635324
1038 Maua Sao Paulo 4 -23.6669527 -46.4616922
1039 Nimes 4 43.8374249 4.3600687
1040 Zwolle 4 52.5089759 6.0943765
1041 Anshan 4 41.1075276 122.9902689
1042 Belgaum 4 15.8572666 74.5069343
1043 Timisoara 4 45.7538355 21.2257474
1044 Araraquara Sao Paulo 4 -21.7886713 -48.1773096
1045 Ayacucho 4 -14.0 -74.0
1046 Dominica 4 19.28131815 -70.035906834967
1047 Mage Río de Janeiro 4 -22.6604221 -43.0426162
1048 San Fernando 4 36.4643934 -6.198203
1049 Saguenay 4 48.405959 -71.069183
1050 Santiago de Cuba 4 20.0214637 -75.8294928
1051 Sorocaba Sao Paulo 4 -23.1657874 -47.739015
1052 Yogyakarta 4 -7.9778383999999996 110.36722565020224
1053 Plano Texas 4 33.0136764 -96.6925096
1054 Osasco Sao Paulo 4 -23.5324859 -46.7916801
1055 Cebu City 4 10.2931062 123.9020773
1056 Taboao Da Serra Sao Paulo 4 -23.6121912 -46.7790539
1057 Sarajevo 4 43.8519774 18.3866868
1058 Baicheng 4 45.6156275 122.8360811
1059 Wendeng 4 37.1960899 122.0479985
1060 Samara 4 53.3216598 50.195217127836344
1061 Santo Andre Sao Paulo 4 -23.6573395 -46.5322504
1062 Plovdiv 4 42.1418541 24.7499297
1063 La Ceiba 4 15.7833743 -86.7917749
1064 Gaziantep 4 37.0628317 37.3792617
1065 Omsk 4 54.991375 73.371529
1066 Cumana 4 10.4468102 -64.1559216
1067 Monrovia 4 6.328034 -10.797788
1068 Hayward California 4 37.6688205 -122.080796
1069 Ciudad Nicolas Romero 4 19.6184235 -99.3035542
1070 Bayamo 4 20.3734232 -76.6491893
1071 Qingdao 4 36.0638034 120.3781372
1072 Kyoto 4 35.021041 135.7556075
1073 Kryvyi Rih 4 47.9102734 33.3917703
1074 Visalia California 4 36.3302284 -119.2920585
1075 Tampere 4 61.4980214 23.7603118
1076 Baoding 4 38.8579735 115.490696
1077 Bobo Dioulasso 4 11.1757783 -4.2957591
1078 Tunis 4 33.8439408 9.400138
1079 Leicester 4 52.6361398 -1.1330789
1080 Pouso Alegre Minas Gerais 4 -22.2343858 -45.9327241
1081 Maidstone 4 51.2748258 0.5231646
1082 Couva 4 10.4223291 -61.458708
1083 Damascus 4 33.5130695 36.3095814
1084 Shangzhi 4 44.980196 128.315814
1085 Ipatinga Minas Gerais 4 -19.4777807 -42.5270802
1086 Bahawalpur 4 29.394644 71.6638747
1087 Buga 4 3.9000578 -76.302013
1088 Tripoli 4 32.896672 13.1777923
1089 Santa Coloma de Gramenet 4 41.4515626 2.2083371
1090 Essen 4 51.4582235 7.0158171
1091 Iguala 4 18.3466358 -99.5376944
1092 Baiyin 4 36.5451563 104.1355419
1093 Sao Jose de Ribamar Maranhao 4 -2.5609115 -44.0559509
1094 Juba 4 4.8472017 31.5951655
1095 Caguas Puerto Rico 4 18.2436271 -66.0255897
1096 Dabrowa Gornicza 4 50.3308692 19.2078918
1097 Budaun 4 28.06831165 79.04607312079293
1098 Wiesbaden 4 50.0820384 8.2416556
1099 Salt Cay 4 21.32283945 -71.20779089037738
1100 Douala 4 4.0429408 9.706203
1101 Dijon 4 47.3215806 5.0414701
1102 Perpignan 4 42.6985304 2.8953121
1103 Bulawayo 4 -20.1560599 28.5887063
1104 San Cristóbal de la Laguna 4 28.4857715 -16.3159422
1105 Luanda 4 -8.8272699 13.2439512
1106 Terni 4 42.6539486 12.439657354368808
1107 Hortolandia Sao Paulo 4 -22.85833 -47.22
1108 Adapazari 4 40.7755188 30.4020898
1109 Lublin 4 51.250559 22.5701022
1110 Afyon 3 38.6852729 30.6427411
1111 Ipswich 3 52.0579495 1.1526345
1112 Campinas Sao Paulo 3 -22.90556 -47.06083
1113 Grozny 3 43.29200475 45.6977949903832
1114 Beawar 3 26.0992137 74.3127044
1115 Lahti 3 60.9826014 25.6613764
1116 Tehuacan 3 18.465801149999997 -97.39783479972402
1117 Dortmund 3 51.5142273 7.4652789
1118 Diadema Sao Paulo 3 -23.681347 -46.62052
1119 Baishan 3 41.9316387 126.4200169
1120 Latakia 3 35.5200185 35.7781044
1121 Reims 3 49.2577886 4.031926
1122 Darmstadt 3 49.872775 8.651177
1123 Ciudad Valles 3 22.075792399999997 -99.07337577278943
1124 Nicosia 3 35.1748976 33.3638568
1125 Fernando de la Mora 3 -25.3281673 -57.5521492
1126 Maseru 3 -29.310054 27.478222
1127 Namur 3 50.4665284 4.8661892
1128 Sao Leopoldo Río Grande Do Sul 3 -29.7544405 -51.1516497
1129 Villeurbanne 3 45.7733124 4.886899
1130 Bnei Brak 3 32.0873899 34.8324376
1131 Cay Bay 3 18.0270578 -63.0826797
1132 Saint Georges 3 50.35246465 2.0724643234172246
1133 Junagadh 3 21.5174104 70.4642754
1134 Tainan 3 22.9912348 120.184982
1135 Sarh 3 9.1406471 18.3937969
1136 Chicoloapan de Juarez 3 19.416543 -98.9199249
1137 Tulua 3 4.0856667 -76.1972779
1138 Fujin 3 47.174394 132.516788
1139 Christ Church 3 51.7504245 -1.2554174011389523
1140 Toda 3 35.8175874 139.6778944
1141 Teresopolis Río de Janeiro 3 -22.4164578 -42.975194
1142 Braunschweig 3 52.2646577 10.5236066
1143 Saanich 3 48.4594315 -123.3764946
1144 Stara Zagora 3 42.4248111 25.6257479
1145 Balikpapan 3 -1.2398711 116.8593379

1146 Latur 3 18.35159075 76.75542361334745
1147 Belmopan 3 17.250199 -88.770018
1148 Agartala 3 23.8312377 91.2823821
1149 Kharkiv 3 49.9923181 36.2310146
1150 Antipolo City Rizal 3 14.5870262 121.1758611
1151 Jyvaskyla 3 62.2393002 25.745951
1152 Mazari Sharif 3 36.7099311 67.1092145
1153 Katlehong 3 -26.338611 28.151111
1154 Hiroshima 3 34.3916058 132.4518156
1155 Itaborai Río De Janeiro 3 -22.7496231 -42.8557428
1156 Akita 3 39.6898802 140.342608
1157 Hildesheim 3 52.1521636 9.9513046
1158 Trier 3 49.7596208 6.6441878
1159 Wroclaw 3 51.1089776 17.0326689
1160 Módena 3 44.5384728 10.935960870530739
1161 Cheonan 3 36.8150283 127.1140654
1162 Puerto Cabello 3 10.4680625 -68.0098561
1163 Sao Jose Do Río Preto Sao Paulo 3 -20.8125851 -49.3804212
1164 Gaborone 3 -24.6581357 25.9088474
1165 Limassol 3 34.6852901 33.0332657
1166 Sint Nicolaas 3 12.4361328 -69.9094505
1167 Anapolis Goias 3 -16.3332828 -48.9525756
1168 Iskenderun 3 36.6215136 36.26541810027814
1169 Erbil 3 36.1911624 44.0094652
1170 Shiraz 3 29.6060218 52.5378041
1171 Cacak 3 43.8914332 20.3491624
1172 Tarawa Sur 3 1.3490778 173.0386512
1173 Portlouis 3 16.4240135 -61.52829803506056
1174 Cabuyao City Laguna 3 14.2433816 121.1102238
1175 Guangyuan 3 32.4329637 105.8563402
1176 Emeishan City 3 29.60173 103.48222
1177 Overland Park Kansas 3 38.9742502 -94.6851702
1178 Reading 3 51.456659 -0.9696512
1179 Quilmes 3 -34.7303025 -58.268868
1180 Bokaro Steel City 3 23.6579595 86.0839161
1181 Gyeongju 3 35.8556705 129.2248811
1182 Sharjah 3 25.3461498 55.4210633
1183 Bolton 3 53.5782863 -2.4300367
1184 Ahmedabad 3 23.0216238 72.5797068
1185 Fukuoka 3 33.6251241 130.6180016
1186 Limoges 3 45.8354243 1.2644847
1187 Maicao 3 11.4048743 -72.31316022980582
1188 Bago 3 18.327818200000003 95.64238092814989
1189 Osnabruck 3 52.2719595 8.047635
1190 Chilpancingo 3 17.5542149 -99.5048416
1191 Sassari 3 40.7232643 8.5610074
1192 Jeongju 3 35.543255 126.889958
1193 Neuss 3 51.1981778 6.6916476
1194 Varan 3 56.4253353 12.6766598
1195 Trieste 3 45.6496485 13.7772781
1196 Cam Pha 3 21.004432 107.278029
1197 Amol 3 36.4718947 52.3499009
1198 Gyumri 3 40.7810335 43.85065023704098
1199 San Pedro de Macoris 3 18.5116478 -69.4799563
1200 Maradi 3 13.501206 7.102534
1201 Bradford 3 53.7944229 -1.7519186
1202 Furth 3 49.4772475 10.9893626
1203 Boksburg 3 -26.2124639 28.2617471
1204 Erlangen 3 49.5978157 11.0038064
1205 Vallejo California 3 38.1040864 -122.2566367
1206 Lages Santa Catarina 3 -27.4822614 -50.1238775
1207 Passo Fundo Río Grande Do Sul 3 -28.2550598 -52.3966606
1208 Ulm 3 48.3974003 9.9934336
1209 Rimini 3 43.9470982 12.630768610516004
1210 Castries 3 43.6905836 3.980869699586502
1211 Joao Pessoa Paraiba 3 -7.1215981 -34.882028
1212 Koszalin 3 54.19092 16.17707
1213 Bhalwal 3 32.2710743 72.896564
1214 Jecheon 3 37.1326042 128.1913508
1215 Kathmandu 3 27.708317 85.3205817
1216 Groningen 3 53.2190652 6.5680077
1217 Pune 3 18.521428 73.8544541
1218 Tachikawa 3 35.724463 139.404766
1219 Gongzhuling 3 43.7703784 124.7656749
1220 Dimitrovgrad 3 54.2188995 49.6038982
1221 Markham 3 43.8563707 -79.3376825
1222 Bamako 3 12.61326555 -7.984739136241295
1223 Gilbert Arizona 3 33.3527632 -111.7890373
1224 Niigata 3 37.6452283 138.7669125
1225 Carrollton Texas 3 32.9537349 -96.8902816
1226 Ghotki 3 27.9939917 69.3134549
1227 Sao Jose Dos Campos Sao Paulo 3 -23.1860383 -45.8866816
1228 Uppsala 3 59.8586126 17.6387436
1229 Horlivka 3 48.3085463 38.06270321692582
1230 Mayaguez 3 18.2011161 -67.1391124
1231 Chelyabinsk 3 55.1598408 61.4025547
1232 Nesfield 3 53.9424842 -1.8593402
1233 Tortola 3 18.42105685 -64.63883251023499
1234 Lambaré 3 -25.3455354 -57.6261456
1235 Cubatao Sao Paulo 3 -23.8857982 -46.4241869
1236 Baidoa 3 3.1549999499999997 43.584009230208295
1237 Sao Luis Maranhao 3 -2.5634605 -44.2448718
1238 Zhenjiang 3 32.1901111 119.4200584
1239 Boulogne Billancourt 3 48.8356649 2.240206
1240 Batumi 3 41.6509502 41.6360085
1241 Ramallah 3 31.9030543 35.1952255
1242 Soledad Atlantico 3 10.9149593 -74.7821054
1243 Kralendijk 3 12.1471741 -68.2740783
1244 Lowell Massachusetts 3 42.6334247 -71.3161718
1245 Ciudad del Este 3 -25.5169015 -54.6168645
1246 Suzhou Anhui 2 33.6482366 116.9588062
1247 Niihama 2 33.9603497 133.2835899
1248 Urgench 2 41.5753153 60.5998905
1249 Radom 2 51.4022557 21.1541546
1250 Amarah 2 31.8497708 47.1496466
1251 Naucalpan 2 19.4785796 -99.2328791
1252 Santa Clarita California 2 34.3916641 -118.542586
1253 Hyderabad India 2 17.360589 78.4740613
1254 Tilburg 2 51.585618749999995 5.066061908648313
1255 Campina Grande Paraiba 2 -7.2246743 -35.8771292
1256 San Nicolas de los Garza 2 25.73584235 -100.26649451652247
1257 Medina 2 29.2836281 -99.1126826
1258 Vinnytsia 2 48.8990315 28.516068
1259 Haarlem 2 52.383705750000004 4.643559696559635
1260 San Cristobal de las Casas 2 16.6835469 -92.61551841991157
1261 Phoenix Islands 2 -4.45304385 -171.24688135668373
1262 Hamm 2 51.6804093 7.815197
1263 Santa Cruz Do Sul 2 -29.7141869 -52.4285914
1264 Shanwei 2 22.7891796 115.3704551
1265 Perm 2 58.88439115 56.43899467562514
1266 Bhagalpur 2 25.28669805 87.13225355111148
1267 Chenzhou 2 25.7733598 113.0094337
1268 Paderborn 2 51.71895955 8.764869778177559
1269 Indaiatuba Sao Paulo 2 -23.09028 -47.21806
1270 Alexandra 2 -45.2535683 169.3870836
1271 Giza 2 29.9870753 31.2118063
1272 Chapeco Santa Catarina 2 -26.3658003 -52.8496059
1273 Schwerin 2 53.6288297 11.4148038
1274 Aparecida de Goiania Goias 2 -16.8226769 -49.2452546
1275 Herat 2 34.3508273 62.2164003
1276 Gliwice 2 50.294113 18.6657306
1277 San Ignacio 2 23.92493515 -106.27530726923777
1278 Miramar 2 25.9873137 -80.2322706
1279 Trois Rivieres 2 46.3507999 -72.5571257
1280 Girardot 2 4.306643 -74.8015665
1281 West Bromwich 2 52.5186579 -1.9923114
1282 Garden Grove California 2 33.7746292 -117.9463717
1283 Fuzhou Fujian 2 26.0774954 119.2918215
1284 Tarija 2 -21.583333 -63.833333
1285 San Francisco de Macoris 2 19.2972812 -70.2533206
1286 Londrina Parana 2 -23.3112878 -51.1595023
1287 Hengshui 2 37.7364305 115.6677229
1288 San Lorenzo 2 42.390538 9.291211936541739
1289 Teresina Piaui 2 -5.0896403 -42.809588
1290 Coimbatore 2 11.0018115 76.9628425
1291 Dessie 2 11.122604 39.634982
1292 Berezniki 2 59.4084171 56.8036958
1293 Cuiabá Mato Grosso 2 -15.6 -55.3
1294 Rostov On Don 2 47.2213858 39.7114196
1295 Eindhoven 2 51.4392648 5.478633
1296 Liaocheng 2 36.4441808 115.9642007
1297 Cockburn Town 2 21.4607723 -71.1399956
1298 Ain Beida 2 36.2640803 6.29859
1299 Fu An 2 27.0909995 119.6433621
1300 Valera 2 9.3148173 -70.6081655
1301 La Florida 2 -33.530816599999994 -70.54407548567474
1302 Baranovichi 2 53.13217855 25.97101338172825
1303 Warren Michigan 2 42.4932575 -83.0062746
1304 Elgin Illinois 2 42.03726 -88.2810994
1305 Regensburg 2 49.0195333 12.0974869
1306 Kassel 2 51.3154546 9.4924096
1307 Beaubassin 2 46.16060095 -64.31737467324993
1308 Basse Terre 2 16.0000778 -61.7333373
1309 Mississauga 2 43.5896231 -79.6443879
1310 Erzincan 2 39.7467552 39.49103
1311 Pasadena California 2 34.1476452 -118.1444779
1312 Toyokawa 2 34.827644 137.378586
1313 Handa 2 34.8938136 136.9369523
1314 Wuhan 2 30.5951051 114.2999353
1315 Bangui 2 4.3907153 18.5509126
1316 Sumare Sao Paulo 2 -22.8217964 -47.267105
1317 Gelsenkirchen 2 51.5110321 7.0960124
1318 Gonaives 2 19.4460597 -72.6884336
1319 Jhubei 2 24.8391734 121.0092345
1320 Montreuil 2 50.4652969 1.7750000323853201
1321 Hargeisa 2 9.561733 44.061803
1322 Milton Keynes 2 52.0429797 -0.7589607
1323 Oberhausen 2 51.4696137 6.8514435
1324 Nagasaki 2 33.1154683 129.7874339
1325 Okinawa 2 26.4748948 127.91146866408414
1326 Sucre 2 -19.0477251 -65.2594306
1327 Petare 2 10.321205 -64.3756932
1328 Changde 2 29.034552 111.6928724
1329 Mogilev 2 53.9090245 30.3429838
1330 Zinder 2 13.8063421 8.9891659
1331 Huelva 2 37.2575874 -6.9484945
1332 Lubeck 2 53.866444 10.684738
1333 Saint Peter 2 44.3238384 -93.9585295
1334 Silang Cavite 2 14.223624 120.9741497
1335 Floridablanca 2 7.0625358 -73.0858228
1336 Baia Mare 2 47.6565584 23.5719843
1337 Shangqiu 2 34.4168215 115.6507447
1338 Maturin 2 9.7452286 -63.1799873
1339 Barysaw 2 54.2240665 28.5117849
1340 Pomona California 2 34.0553813 -117.7517496
1341 Baoji 2 34.3645811 107.2332184

1342 Leverkusen 2 51.0324743 6.9881194
1343 Wurzburg 2 49.79245 9.932966
1344 Zapopan 2 20.7211203 -103.3913671
1345 Mersin 2 36.7978381 34.6298391
1346 Chania 2 35.5120831 24.0191544
1347 Gottingen 2 51.5328328 9.9351811
1348 Abia 2 5.4540953 7.5153071
1349 Opole 2 50.6668184 17.9236408
1350 El Bosque 2 17.0247264 -92.74723009318356
1351 Foshan 2 23.1102636 112.99801241836545
1352 Dundee 2 56.4605938 -2.97019
1353 Greater Sudbury 2 46.49272 -80.991211
1354 Huancayo 2 -12.0761679 -75.2063189
1355 San Pablo de las Salinas 2 19.67091 -99.0857988
1356 Prato 2 43.935718050000006 11.09414726770089
1357 Kiel 2 54.3227085 10.135555
1358 Panjin 2 41.1169056 122.0655098
1359 Cheju 2 22.1996436 112.701568
1360 Khmelnytskyi 2 49.268624 27.0635998
1361 Munger 2 25.22081165 86.51720367235285
1362 Lome 2 6.130419 1.215829
1363 Winterthur 2 47.4991723 8.7291498
1364 Zaporizhia 2 47.4165079 35.922969
1365 Hanoi 2 21.0294498 105.8544441
1366 Nottingham 2 52.9534193 -1.1496461
1367 Riffa 2 26.1315261 50.5503431
1368 Plymouth 2 50.3712659 -4.1425658
1369 Batam 2 1.1061034 104.0378246
1370 Asau 2 46.4388969 26.4008405
1371 Lilongwe 2 -13.9875107 33.768144
1372 Grand Case 2 18.100531 -63.0575966
1373 Messaad 2 34.1538348 3.4958059
1374 Basra 2 30.4952371 47.8090981
1375 Taichung 2 24.163162 120.6478282
1376 Mombasa 2 -4.05052 39.667169
1377 Dehiwala Mount Lavinia 2 6.83172535 79.86283955
1378 Vung Tau 2 10.3486485 107.0765028
1379 Roseville California 2 38.7521235 -121.2880059
1380 Nilopolis Río de Janeiro 2 -22.8080114 -43.4138222
1381 Conakry 2 9.5170602 -13.6998434
1382 Itu Sao Paulo 2 -23.2638828 -47.298892
1383 Los Teques 2 10.5245738 -63.3119212
1384 Chaguanas 2 10.5147394 -61.4076757
1385 Peñalolén 2 -33.48622465 -70.50929029561439
1386 Mahe 2 11.7021978 75.5364701
1387 Costa Mesa California 2 33.6636611 -117.91946518435181
1388 Komsomolsk On Amur 2 50.550877 137.020782
1389 Hue 2 16.4639321 107.5863388
1390 Balakovo 2 52.01812 47.819141
1391 Envigado 2 6.1701348 -75.587415
1392 Saltillo 2 25.4230425 -100.9927509
1393 Antigua 2 17.10371515 -61.790450458055844
1394 Ajdabiya 2 30.7550035 20.2233257
1395 Brasov 2 45.6523093 25.6102746
1396 Wollongong 2 -34.4243941 150.89385
1397 Yangon Rangoon 2 16.7967129 96.1609916
1398 Taiz 2 13.4115414 43.5570871
1399 Pristina 2 42.6638771 21.1640849
1400 Bacolod City 2 8.1697263 123.8504977
1401 Chiniot 2 31.7219942 72.9800348
1402 Guarenas 2 10.466288 -66.6078417
1403 Santa Luzia Minas Gerais 2 -19.7702097 -43.8505291
1404 Guelph 2 43.5460516 -80.2493276
1405 Smolensk 2 54.7814057 32.0461261
1406 Haerbin 2 41.8096404 123.4147612
1407 Lusaka 2 -15.4164488 28.2821535
1408 Orizaba 2 18.849722 -97.103611
1409 Ankang 2 32.7165184 108.9912989
1410 Ji An Jiangxi 2 27.0937349 114.961355
1411 Limerick 2 52.661252 -8.6301239
1412 Cheongju 2 36.6421169 127.4891742
1413 Karlsruhe 2 49.0068705 8.4034195
1414 Lodz 2 51.772806599999996 19.47849495849145
1415 Neyveli 2 11.535987 79.4824392
1416 Cluj Napoca 2 46.769379 23.5899542
1417 Dordrecht 2 51.7958812 4.6779351
1418 Harare 2 -17.831773 31.045686
1419 Shuangcheng 2 45.3662519 126.3046846
1420 Imperatriz Maranhao 2 -5.5269279 -47.478115
1421 Tobago 2 11.24046155 -60.67200597857749
1422 Hat Yai 2 7.0026257 100.4577414
1423 Móstoles 2 40.3238525 -3.8649214
1424 Exeter 2 50.7255794 -3.5269497
1425 Sapporo 2 43.061936 141.3542924
1426 Elazig 2 38.6747164 39.2227135
1427 Middlesbrough 2 54.5760419 -1.2344047
1428 Durg 2 21.19903535 81.3979545573657
1429 El Monte California 2 34.0751571 -118.036849
1430 Sanming 2 26.3355765 117.442474
1431 Changzhi 2 36.1829336 113.0985394
1432 Mannheim 2 49.4892913 8.4673098
1433 Mariehamn Maarianhamina 2 60.102423 19.94126
1434 San Giljan 2 35.9199225 14.4877119
1435 Leiden 2 52.1518157 4.4811088666204295
1436 Grandes Cayes 2 18.1161983 -63.01988793018336
1437 Bugibba 2 35.9483211 14.4105059
1438 Anyang China 2 36.1023552 114.33633
1439 Hsinchu 2 24.8066333 120.9686833
1440 Zhangshu 2 28.0593779 115.5409818
1441 Vitebsk 2 55.1930197 30.2070437
1442 Mandaluyong City 2 14.57004155 121.05149143318062
1443 Ruse 2 43.8480413 25.9542057
1444 Barbuda 2 17.6219203 -61.78395876274433
1445 Wafangdian 2 39.6304711 121.999975
1446 Apucarana Paraná 1 -23.5525327 -51.4610764
1447 Buzau 1 45.26925815 26.7748172789942
1448 Wuzhou 1 23.5715402 111.0139268
1449 Henderson Nevada 1 36.0301134 -114.9826194
1450 Warangal 1 17.9819448 79.5969982
1451 Khartoum 1 15.5635972 32.5349123
1452 Vanadzor 1 40.8111917 44.4851995
1453 Capiatá 1 -25.3548171 -57.4427315
1454 Novomoskovsk 1 48.6358512 35.2595541
1455 Port Victoria 1 -34.4971885 137.4873896
1456 Little Cayman 1 19.6853317 -80.04777972988352
1457 Fuchu Tokyo 1 35.6611119 139.4734451
1458 Ciudad Guayana 1 8.3223763 -62.6896622
1459 Muntinlupa City 1 14.38779025 121.04642062450495
1460 Guaymas 1 28.0738847 -111.01852472776024
1461 Lobito 1 -12.3506867 13.5464318
1462 Quezon City 1 14.6509905 121.0486155
1463 Richmond Hill 1 43.880078 -79.439392
1464 Shangluo 1 33.8678555 109.9353876
1465 Navotas City 1 14.6571862 120.9479692
1466 Dili 1 -8.5536809 125.5784093
1467 Dorp Rincon 1 12.2386709 -68.329816
1468 Johore Bharu 1 1.5021627 103.6857516
1469 Goma 1 -1.6665685 29.225652
1470 Caen 1 49.1813403 -0.3635615
1471 Cabinda 1 -5.056395 12.3211749
1472 Bulandshahr 1 28.38886085 77.97479772598118
1473 Bizerte 1 37.2720905 9.8708565
1474 Wolverhampton 1 52.5847651 -2.127567
1475 Arak 1 34.0865203 49.6888415
1476 Orange Walk 1 17.78310235 -88.85774666564073
1477 Brahmapur 1 19.299904050000002 84.8071371267063
1478 Puno 1 -15.0 -70.0
1479 Poza Rica 1 20.5320852 -97.4536355
1480 St Catharines 1 43.1579812 -79.2441003
1481 Mariupol 1 47.0957648 37.5499621
1482 Weihui 1 35.4126425 114.0633095
1483 Siping 1 43.1669821 124.364739
1484 Sertaozinho Sao Paulo 1 -21.1375782 -47.9913741
1485 L Hospitalet de Llobregat 1 41.3598601 2.0997927
1486 Camacari Bahía 1 -12.6998188 -38.3260762
1487 Chuxiong 1 25.0446371 101.5413867
1488 Hidalgo del Parral 1 26.9287164 -105.6674058
1489 Arrah 1 25.62345725 84.59683868653386
1490 Nagano 1 36.1143945 138.0319015
1491 Cuautitlan 1 19.705518249999997 -99.16662568774402
1492 Tau 1 30.9248944 101.1574419
1493 Luton 1 51.8784385 -0.4152837
1494 Tando Adam Khan 1 25.7620954 68.6578079
1495 Vladimir 1 56.1288899 40.4075203
1496 Vryheid 1 -27.7704908 30.7885741
1497 Balikesir 1 39.5400798 28.0228793
1498 Yau Ma Tei 1 22.312364600000002 114.17077886436581
1499 Bhopal 1 23.2584857 77.401989
1500 Yucca 1 34.8726671 -114.1498589
1501 Bacoor Cavite 1 14.4589855 120.9398889
1502 Sosnowiec 1 50.2780834 19.1342944
1503 Moroni 1 -11.6931255 43.2543044
1504 Oradea 1 47.0549163 21.9285231
1505 Pindamonhangaba Sao Paulo 1 -22.9250074 -45.4547251
1506 Jena 1 50.9281717 11.5879359
1507 Shangrao 1 28.4582821 117.9381305
1508 San Pedro Garza Garcia 1 25.6651051 -100.4022714
1509 Irbid 1 32.5556091 35.8493023
1510 Dera Ghazi Khan 1 30.0321374 70.6401114
1511 Zaozhuang 1 34.8113006 117.3178278
1512 Jeonju 1 35.8242715 127.1480657
1513 Chaohu 1 31.627503 117.8842395
1514 Sorsogon City Sorsogon 1 12.9707848 124.0052543
1515 Galati 1 45.4338215 28.0549395
1516 Orenburg 1 51.767452 55.097118
1517 Tangier 1 35.777103 -5.803792
1518 Okara 1 30.8091281 73.4493301
1519 Mandaue City 1 10.3386873 123.954666
1520 Huánuco 1 -9.5 -75.833333
1521 Lida 1 31.9489012 34.8884857
1522 Birgu 1 35.8881119 14.5238445
1523 Itabuna Bahía 1 -14.7935179 -39.274318
1524 Tlalnepantla 1 19.029783799999997 -98.98581963546584
1525 Zabrze 1 50.3086154 18.7863749
1526 Santa Catarina 1 -27.0628367 -51.114965
1527 Toowoomba 1 -27.5610193 151.953351
1528 Bayamon Puerto Rico 1 18.3990551 -66.1560326
1529 Embu 1 -23.6495294 -46.8528497
1530 Chiang Mai 1 18.7882778 98.9858802
1531 Las Condes 1 -33.4247879 -70.51749760753927
1532 Kandy 1 7.2930922 80.6350768
1533 Trabzon 1 41.0062202 39.7257547
1534 Catia La Mar 1 10.6032328 -67.0273069
1535 Dodoma 1 -6.1791181 35.7468174
1536 Kyzyl 1 51.719079 94.4300679
1537 Beersheba 1 31.2457442 34.7925181
1538 Pohang 1 36.0189315 129.3429384
1539 Harbour Island 1 25.499754799999998 -76.63404797983921
1540 Poole 1 50.74020055 -1.9537512539581008
1541 Chatham Kent 1 42.41833 -82.0898417
1542 Cascavel Paraná 1 -24.9554996 -53.4560544

1543 Bolu 1 40.6212099 31.6460259
1544 Drobeta Turnu Severin 1 44.6257835 22.6531975
1545 Chongqing 1 29.5647398 106.5478767
1546 Kokshetau 1 53.2852054 69.3814676
1547 Annaba 1 36.8982165 7.7549272
1548 Baie de Prony 1 -22.3216291 166.8146226
1549 Nagpur 1 21.1498134 79.0820556
1550 San Juan Bautista Tuxtepec 1 18.05040725 -96.11441883995342
1551 Sanya 1 18.2534658 109.5034392
1552 Khutsong 1 -24.6166667 30.7613889
1553 Fort de France 1 14.6027962 -61.0676724
1554 Point Fortin 1 10.1737672 -61.672388881539796
1555 Hung Hom 1 22.3031874 114.1820106
1556 Binzhou 1 45.7774951 127.6646783
1557 Gustavia 1 17.8957043 -62.8508372
1558 Maanshan 1 21.9612731 120.7581571
1559 Davis Station 1 -68.5766666 77.967496
1560 Toledo City Cebu 1 10.3749385 123.6344069
1561 Ciudad Madero 1 22.278368 -97.82428606900629
1562 Dalian 1 38.9181714 121.6282945
1563 Duitama 1 5.8277055 -73.0338939
1564 Oulu 1 65.0118734 25.4716809
1565 Valencia City Bukidnon 1 7.9028844 125.0898033
1566 Dehradun 1 30.3255646 78.0436813
1567 Mogi Guacu Sao Paulo 1 -22.372222 -46.9425
1568 Mandalay 1 21.9812746 96.082375
1569 Pitesti 1 44.8572343 24.8719422
1570 Vaughan 1 43.7941544 -79.5268023
1571 Salzgitter 1 52.1503721 10.3593147
1572 Godhra 1 22.7785001 73.6245157
1573 Ain Oussera 1 35.4492582 2.9071065
1574 Haifa 1 32.8191218 34.9983856
1575 Ilagan Isabela 1 17.139318 121.87741446809737
1576 Townsville 1 -19.2569391 146.8239537
1577 Farah 1 32.607111 62.671011
1578 Tatui Sao Paulo 1 -23.3518451 -47.848026
1579 Changshu 1 31.6572954 120.7480757
1580 Ndola 1 -12.9693056 28.6365894
1581 Sloviansk 1 48.8522691 37.6058241
1582 Yosu 1 43.1059433 -2.4244248
1583 Enshi 1 30.2745483 109.4833079
1584 Limeira Sao Paulo 1 -22.5615068 -47.401766
1585 Ha Kwai Chung 1 22.3512293 114.1273578
1586 The Hague 1 52.0799838 4.3113461
1587 Kirov 1 58.6035661 49.6666241
1588 Ciudad Cuauhtemoc 1 28.4009579 -106.8665305
1589 Valletta 1 35.8989818 14.5136759
1590 Pinhais Parana 1 -25.4443488 -49.1900307
1591 Oujda 1 34.677874 -1.929306
1592 Cabo De Santo Agostinho Pernambuco 1 -8.2838945 -35.0320984
1593 Launceston 1 -41.4340813 147.1373496
1594 Mabalacat Pampanga 1 15.222768 120.5733199
1595 Maraba Para 1 -5.3462821 -49.1007401
1596 Mykolaiv 1 47.3886032 31.9442334
1597 Kofu 1 35.6652481 138.5710441
1598 Gilgit 1 35.9208102 74.314044
1599 Berbera 1 10.4386215 45.0134007
1600 Kielce 1 50.85403585 20.609914352101452
1601 Cherthala 1 9.740204 76.33246715541219
1602 Seongnam 1 37.4201556 127.1262092
1603 Changzhou 1 31.8122623 119.9691539
1604 Jiangyou 1 31.9525495 104.9347205
1605 Druif 1 12.6049459 -70.03114148420279
1606 Elektrostal 1 55.7903785 38.4405711
1607 Firozabad 1 27.17736635 78.38991197951182
1608 Jiamusi 1 46.8087794 130.3734556
1609 Sunshine Coast 1 -26.5443222 153.0507705
1610 Peel 1 54.2229326 -4.6957105
1611 Taebaek 1 37.17609425 128.98423114660807
1612 Al Fashir 1 13.6238244 25.3555559
1613 Katowice 1 50.2598987 19.0215852
1614 Nouakchott 1 18.062922200000003 -15.962904570040749
1615 Dniprodzerzhynsk 1 48.5167748 34.6068797
1616 Safi 1 32.2650776 -9.230554032530662
1617 Nogales 1 38.5865813 -6.7491704
1618 Astana 1 51.1282205 71.4306682
1619 A Larish 1 36.294669 -119.782968
1620 Uberlandia Minas Gerais 1 -18.865186 -48.265278
1621 Contagem Minas Gerais 1 -19.9132749 -44.0840953
1622 Bohicon 1 7.1816331 2.0695683
1623 Triesen 1 47.106994 9.5274876
1624 Kannur 1 11.8763391 75.3737987
1625 Kalisz 1 51.74736505 18.079590087700034
1626 Bally 1 22.6469581 88.343612
1627 Suncheon South Korea 1 34.9505457 127.4872992
1628 Arayat Pampanga 1 15.1515014 120.7695638
1629 Sochi 1 43.5854823 39.723109
1630 Brazzaville 1 -4.2694407 15.2712256
1631 Vadodara 1 22.2973142 73.1942567
1632 Tepexpan 1 19.614402 -98.9360188
1633 Ahmednagar 1 19.162772500000003 74.85802430085195
1634 Ferraz de Vasconcelos Sao Paulo 1 -23.541056 -46.37097
1635 Pelotas Río Grande Do Sul 1 -31.7699736 -52.3410161
1636 Corozal 1 9.2045175 -75.27619980073368
1637 Maunath Bhanjan 1 25.95462835 83.6473503444569
1638 Ferrara 1 44.766764249999994 11.827938995640167
1639 Kallithea 1 37.9560111 23.7033792
1640 Guaratingueta Sao Paulo 1 -22.8057839 -45.1908926
1641 Asahikawa 1 43.7627501 142.3579263
1642 Melitopol 1 46.8487478 35.3676448
1643 Nabadwip 1 23.3889007 88.37243900644481
1644 Suzhou Jiangsu 1 31.3016935 120.5810725
1645 Torrance California 1 33.8358492 -118.3406288
1646 Gweru 1 -19.4616316 29.8205953
1647 Douliou 1 23.7050525 120.5372523
1648 Maykop 1 44.6062079 40.104053
1649 Donetsk 1 48.0158753 37.8013407
1650 Grudziadz 1 53.47251195 18.761893676880046
1651 Lviv 1 49.841952 24.0315921
1652 Al Mansurah 1 31.037566 31.38649
1653 Dumont D Urville Station 1 -66.6632764 140.0010954
1654 Ivano Frankivsk 1 48.7481718 24.5207477
1655 Penza 1 53.200001 45.0
1656 Yongzhou 1 26.423568 111.6081495
1657 Remscheid 1 51.1798706 7.1943544
1658 Batman 1 37.7874104 41.2573924
1659 Embu Das Artes Sao Paulo 1 -23.6495294 -46.8528497
1660 Olsztyn 1 53.7767239 20.47778052818325
1661 Aktau 1 43.652058 51.157997
1662 Pasadena Texas 1 29.6910625 -95.2091006
1663 Makhachkala 1 42.9830241 47.5048717
1664 Joetsu 1 37.1478816 138.2359501
1665 Cayman Brac 1 19.71988615 -79.79313999026272
1666 Santa Maria Río Grande Do Sul 1 -29.6860512 -53.8069214
1667 Tours 1 47.3900474 0.6889268
1668 Gdynia 1 54.5164982 18.5402738
1669 Moers 1 51.451283 6.62843
1670 Bandjarmasin 1 -3.3187496 114.5925828
1671 Zaanstad 1 52.4689235 4.773783522451712
1672 Oskemen 1 49.9484438 82.6274791
1673 Baranagar 1 22.6493438 88.3685302
1674 Wau 1 7.41950155 27.37407451370531
1675 Bankura 1 23.13195425 87.20739720367507
1676 Uzhhorod 1 48.6223732 22.3022569
1677 Misato 1 35.830091 139.8722251
1678 Bharatpur 1 27.26521245 77.36912554739122
1679 Laval 1 48.0706687 -0.7734022
1680 Miskolc 1 48.1030643 20.7900429
1681 Jaboatao Dos Guararapes Pernambuco 1 -8.1752476 -34.9468716
1682 Chandan Nagar 1 26.5054763 93.9777388
1683 Fanling 1 22.4946255 114.1382744
1684 Burewala 1 31.025763 74.8566529
1685 Canillo 1 42.5668305 1.5977647
1686 Plock 1 52.535347099999996 19.713630138580008
1687 Abemama 1 0.5146916500000001 173.78831291950218
1688 Utrecht 1 52.080985600000005 5.12768396945229
1689 Fullerton California 1 33.8739385 -117.9243399
1690 Ghazni 1 33.3149631 67.828989
1691 Ting Kau 1 22.3692331 114.0785595
1692 Corlu 1 41.114126150000004 27.751715247805304
1693 Torun 1 53.0102721 18.6048094
1694 Huangshi Hubei 1 30.200255 115.0333466
1695 Vila Nova de Gaia 1 41.1300103 -8.6058415
1696 Shchyolkovo 1 55.9206499 37.9915576
1697 Virgin Gorda 1 18.465439 -64.41546930691665
1698 Sana A 1 15.3538569 44.2058841
1699 Santa Ana 1 33.7494951 -117.8732213
1700 Stoke On Trent 1 53.0162014 -2.1812607
1701 Siauliai 1 55.9340823 23.3157775
1702 Pekanbaru 1 0.5262455 101.4515727
1703 Bimbo 1 4.3325548 18.5250512
1704 Joliet Illinois 1 41.5263603 -88.0840212
1705 Kingstown 1 13.1561864 -61.2279621
1706 Kochi India 1 9.931308 76.2674136
1707 Solingen 1 51.1712468 7.0838996
1708 Ambala 1 30.3843674 76.770421
1709 Bamenda 1 5.9614117 10.1516505
1710 Mahabad 1 33.5252176 52.2132573
1711 Balashikha 1 55.8036225 37.9646488
1712 Tanga 1 -19.9160819 -175.202642
1713 Sterling Heights Michigan 1 42.5803122 -83.0302033
1714 Kediri 1 -7.8057219 112.16852174866582
1715 Sfax 1 34.723126 10.335817132619365
1716 Kecskemet 1 46.9080791 19.6928069
1717 Balurghat 1 25.2634866 88.78900293567636
1718 Petrozavodsk 1 61.790039 34.390007
1719 Tbilisi 1 41.6934591 44.8014495
1720 Kuala Belait 1 4.5755266 114.2160809600034
1721 Abomey 1 7.165446 1.9828803672675925
1722 La Horquetta 1 10.5973023 -61.2754374
1723 Yamaguchi 1 34.1781317 131.4737077
1724 Taejon Daejeon 1 36.3322464 127.4346482
1725 Changsha 1 28.1450774 113.2384362
1726 Padang 1 -0.9247587 100.3632561
1727 Thessaloniki 1 40.6403167 22.9352716
1728 Haiphong 1 20.858864 106.6749591
1729 Thornton Colorado 1 39.8695516 -104.985181
1730 Kadamrasul 1 23.599533 90.5140024
1731 Blida 1 36.4701645 2.8287985
1732 Durban 1 -29.861825 31.009909
1733 Sterlitamak 1 53.632374 55.952259
1734 Kanazawa 1 36.5780499 136.6480247
1735 Roseau 1 48.7710371 -95.7697882
1736 Koblenz 1 50.3533278 7.5943951
1737 Aydin 1 37.8483767 27.8435878
1738 Haridwar 1 29.9384473 78.1452985
1739 Salihorsk 1 52.7893039 27.5318168

1740 Al Ain 1 24.2258413 55.7474052
1741 Anlu 1 31.2578483 113.683285
1742 Oita 1 33.1819875 131.4270217
1743 Port Sudan 1 19.619217 37.211709
1744 Zhangjiajie 1 29.1176794 110.4741428
1745 Da Lat 1 11.9402416 108.4375758
1746 Chelmsford 1 51.7345398 0.4724553
1747 Mianyang 1 31.4627341 104.7463432
1748 Arzamas 1 55.3989463 43.8408129
1749 Rehovot 1 31.8952532 34.8105616
1750 Kota Bharu 1 6.12584 102.2399785
1751 Fuji 1 35.362799 138.730781
1752 Wolfsburg 1 52.4205588 10.7861682
1753 Chatsworth Durban 1 -29.9033096 30.9249446
1754 Gaza 1 31.4432234 34.360007
1755 Oceanside California 1 33.1958696 -117.3794834
1756 Arima 1 10.6372057 -61.2829762
1757 Richmond 1 37.5385087 -77.43428
1758 Greater Hobart 1 -42.8825088 147.3281233
1759 Obninsk 1 55.0951738 36.611913
1760 Laiwu 1 36.2030789 117.654083
1761 Arusha 1 -3.52386665 36.8004200748534
1762 Preston 1 53.7593363 -2.6992717
1763 Damanhur 1 31.0374982 30.4710625
1764 Irian Jaya 1 -6.1895236 106.6149199
1765 Cirebon 1 -6.7137044 108.5608483
1766 Masjed Soleyman 1 31.9461316 49.3013154
1767 Tripoli 1 32.896672 13.1777923
1768 Toledo Parana 1 -24.7222438 -53.7402476
1769 Ludwigshafen 1 49.4704113 8.4381568
1770 Aranuka 1 0.22451795 173.62125479474997
1771 Ciudad Victoria 1 23.7389846 -99.1441352
1772 La Pintana 1 -33.59143 -70.6364588831282
1773 Nanchang 1 28.687547 115.8540042
1774 Braila 1 45.2716092 27.9742932
1775 Derby 1 52.9212617 -1.4761491
1776 Guanare 1 9.0407855 -69.7412593
1777 Meiktila 1 20.8814233 95.8619463
1778 Southampton 1 50.9025349 -1.404189
1779 Kuching 1 1.5574127 110.3439862
1780 Geelong 1 -38.1492813 144.3598269
1781 Escaldes Engordany 1 42.48691275 1.6070001140292214
1782 Quanzhou 1 24.8755492 118.6723605
1783 Timón Maranhao 1 -5.1023325 -42.8449518
1784 Bushiribana 1 12.55370675 -69.97662362701709
1785 Gatineau 1 45.4841214 -75.6813728
1786 San Buenaventura Ventura California 1 34.3640573 -119.31101594866902
1787 Atyrau 1 47.63530685 51.6639453241291
1788 Gojra 1 31.6515891 73.1794794
1789 Dudley 1 52.5110832 -2.0816813
1790 Tianjin 1 39.0856735 117.1951073
1791 Ramat Gan 1 32.0686867 34.8246812
1792 Can Tho 1 10.0364216 105.7875219
1793 Nuevo Laredo 1 27.4761506 -99.5185992
1794 Ouargla 1 30.9980145 6.766453639443059
1795 Jhenaidah 1 23.5446964 89.1731943
1796 Ashgabat 1 37.9404648 58.3823487
1797 Gorzow Wielkopolski 1 52.7309926 15.2400451
1798 Ebetsu 1 43.110455 141.5572956
1799 Richards Bay 1 -28.7707857 32.0577775
1800 Antalya 1 36.9009641 30.6954846
1801 Blumenau Santa Catarina 1 -26.9195567 -49.0658025
1802 Kota Kinabalu 1 5.9780066 116.0728988
1803 Carrefour 1 -6.1655386 106.81938650526047
1804 Al Fayyum 1 29.3073841 30.8398896
1805 Kisumu 1 -0.1029109 34.7541761
1806 Taonan 1 45.3289825 122.7831976
1807 Aweil 1 8.7693352 27.3962085
1808 Sao Joao de Meriti Río De Janeiro 1 -22.8043744 -43.3724125
1809 Tokuyama 1 34.0512305 131.8027197
1810 Charleroi 1 50.4120332 4.4436244
1811 Basseterre Saint Kitts 1 17.2960919 -62.722301
1812 Stavropol 1 44.941379850000004 43.66309345141463
1813 Qurghonteppa 1 37.8357217 68.7820957
1814 Jaipur 1 26.9154576 75.8189817
1815 Izmir 1 38.4147331 27.1434119
1816 Queimados Río De Janeiro 1 -22.7156978 -43.555754
1817 Huludao 1 40.7515443 120.8404789
1818 Cabanatuan City Nueva Ecija 1 15.5095366 121.0445945
1819 Chibi 1 29.72817 113.8951222
1820 Fanning Islands 1 3.8717155500000002 -159.31176600565215
1821 Okazaki 1 34.950974 137.260842
1822 Botosani 1 47.85234105 26.759511926593397
1823 Saint Lucia 1 13.8250489 -60.975036
1824 Asyut 1 27.1832822 31.1853836
1825 Qamishli 1 37.048347500000006 41.21667453656927
1826 Nakuru 1 -0.29815515000000004 36.152786740574385
1827 Zhoukou 1 33.6306299 114.6423617
1828 Zanzibar 1 -6.09994425 39.32094431715264
1829 Ondal 1 23.60617895 87.19762954296422
1830 Teixeira de Freitas 1 -17.5376644 -39.7458096
1831 Cha Kwo Ling 1 22.3022493 114.2289627
1832 Gomez Palacio 1 25.5732473 -103.494779
1833 Diego Martin 1 10.71385965 -61.579355509504495
1834 Gaya 1 24.7964355 85.0079563
1835 Portsmouth 1 50.8036831 -1.075614
1836 Irving Texas 1 32.8295183 -96.9442177
1837 Carcar Cebu 1 10.1062939 123.6393625
1838 Higashihiroshima 1 34.42683 132.741552
1839 Prokopyevsk 1 53.890972 86.737663
1840 Itapevi Sao Paulo 1 -23.54888 -46.933889
1841 Talcahuano 1 -36.7144863 -73.1141463
1842 Huozhou 1 36.5719389 111.7309206
1843 Samarkand 1 39.6550017 66.9756954
1844 Pavlohrad 1 48.5317201 35.8703535
1845 Mangora 1 34.7723457 72.3537345
1846 Maceio Alagoas 1 -9.6476843 -35.7339264
1847 Sint Eustatius 1 17.5085293 -62.995421926129886
1848 Malacca City 1 2.1942647 102.2486651
1849 Surabaya 1 -7.2459717 112.7378266
1850 Nongoma 1 -27.9063801 31.744662092754403
1851 Huangshan 1 30.13235465 118.15669182577278
1852 Arno 1 7.081172 171.6562687
1853 Portsaid 1 -34.5617016 -58.4567021
1854 Kislovodsk 1 43.9128743 42.7192186
1855 Erzurum 1 39.9063215 41.2727638
1856 Hindupur 1 13.826383 77.4937723
1857 Veliky Novgorod 1 58.5209862 31.2757862
1858 Fuyang 1 32.8926763 115.8090001
1859 Mostar 1 43.3435855 17.8076584
1860 Cap Haitien 1 19.7595236 -72.2008068
1861 Sabha 1 -18.1415884 178.4421662
1862 Keelung 1 25.1317232 121.744652
1863 Kunsan Gunsan 1 35.9993608 126.7602959
1864 Rouen 1 49.4404591 1.0939658
1865 Abeokuta 1 7.1547129 3.3467344
1866 Ojo de Agua 1 20.2690825 -97.5251407
1867 Kaifeng 1 34.7961106 114.3472038
1868 Birgunj 1 27.0135196 84.8763804
1869 Kaili 1 26.5710542 107.9769525
1870 Balzers 1 47.0671067 9.5002584
1871 Delmas 1 18.5518464 -72.2920071
1872 Gallis Bay 1 46.9994595 -52.90705297458881
1873 Bafoussam 1 5.4758083 10.4215565
1874 Suihua 1 46.6520483 126.9607485
1875 Daito 1 34.710679 135.635478
1876 Catanduva Sao Paulo 1 -21.1331035 -48.9712817
1877 Pingxiang 1 37.0535651 115.00500269301412
1878 Da Nang 1 16.068 108.212
1879 Rancho Cucamonga California 1 34.1279268 -117.56432205849399
1880 Kairouan 1 35.6710101 10.10062
1881 Khon Kaen 1 16.6022387 102.6352933
1882 Sao Jose Santa Catarina 1 -27.6157733 -48.6276491
1883 Zhangzhou 1 24.5164639 117.6424895
1884 Malang 1 -7.9771206 112.6340291
1885 Ipoh 1 4.5986817 101.0900236
1886 Ndjamena 1 12.1191543 15.0502758
1887 Enschede 1 52.2209855 6.8940537
1888 Saint Philip 1 13.12953895 -59.46741020029613
1889 Peterborough 1 52.5725769 -0.2427336
1890 Niteroi Río de Janeiro 1 -22.8832371 -43.1154552
1891 Fergana 1 40.3983651 71.78755737387597
1892 Malita Davao del Sur 1 6.4092036 125.5927235
1893 Benin City 1 6.3330586 5.6221058

In [48]:
destinos

[{'destino': 'Tumbes',
  'cantidad': 112610,
  'latitud': -3.833333,
  'longitud': -80.5},
 {'destino': 'Miami Florida',
  'cantidad': 111128,
  'latitud': 25.7741728,
  'longitud': -80.19362}]

In [138]:
# Unión de partes

df = pd.DataFrame(destinos)

In [139]:
df_2 = pd.DataFrame(destinos_2)

In [140]:
df.head()

             destino  cantidad    latitud    longitud
0             Tumbes    112610  -3.833333  -80.500000
1      Miami Florida    111128  25.774173  -80.193620
2  New York New York    103389  36.102144 -115.174495
3              Pasto     64577   1.214601  -77.278276
4             Madrid     60558  40.416705   -3.703582

In [141]:
df_2.head()

               destino  cantidad    latitud    longitud
0    Colombo Sri Lanka         6   6.938747   79.854113
1  Kamianets Podilskyi         6  48.678460   26.585223
2             Valdivia         6 -39.814126  -73.245986
3        Aizuwakamatsu         6  37.480430  139.942135
4   Santa Rita Paraiba         6  -7.128465  -34.984619

In [143]:
df.rename({'destino': 'lug_prod'}, axis='columns',inplace=True)
df_2.rename({'destino': 'lug_prod'}, axis='columns',inplace=True)

In [145]:
datos_ciudades = pd.concat([df,df_2])

In [146]:
datos_ciudades.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1892 entries, 0 to 946
Data columns (total 4 columns):
lug_prod    1892 non-null object
cantidad    1892 non-null int64
latitud     1892 non-null float64
longitud    1892 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 73.9+ KB

In [156]:
# Coordenadas de ciudades en CSV

datos_ciudades.to_csv('datos_ciudades.csv')

In [37]:
#########################
# Reload Ciudades
#########################
datos_ciudades = pd.read_csv (r'datos_ciudades.csv',skipinitialspace=True)
datos_ciudades.head()

   Unnamed: 0           lug_prod  cantidad    latitud    longitud
0           0             Tumbes    112610  -3.833333  -80.500000
1           1      Miami Florida    111128  25.774173  -80.193620
2           2  New York New York    103389  36.102144 -115.174495
3           3              Pasto     64577   1.214601  -77.278276
4           4             Madrid     60558  40.416705   -3.703582

In [39]:
datos_ciudades = datos_ciudades.iloc[: , 1:]
datos_ciudades.head()

            lug_prod  cantidad    latitud    longitud
0             Tumbes    112610  -3.833333  -80.500000
1      Miami Florida    111128  25.774173  -80.193620
2  New York New York    103389  36.102144 -115.174495
3              Pasto     64577   1.214601  -77.278276
4             Madrid     60558  40.416705   -3.703582

In [44]:
# Limpieza datos salidas

# Limpieza ciudades
datos_salidas = datos_salidas[datos_salidas['lug_prod'] != "Sin especificar"]
datos_salidas.replace(r'^s*$', float('NaN'), regex = True)
datos_salidas.dropna(inplace = True) 

datos_salidas['lug_prod'] = datos_salidas['lug_prod'].str.replace('Islas Marquezas','Islas Marquesas')
datos_salidas['lug_prod'] = datos_salidas['lug_prod'].str.replace('Batyam','Bat Yam')
datos_salidas['lug_prod'] = datos_salidas['lug_prod'].str.replace('Elalto','El Alto')
datos_salidas['lug_prod'] = datos_salidas['lug_prod'].str.replace('Benimellal','Beni Melal')
datos_salidas['lug_prod'] = datos_salidas['lug_prod'].str.replace('Alorsetar','Alor Setar')
datos_salidas['lug_prod'] = datos_salidas['lug_prod'].str.replace('Changweon','Changwon')
datos_salidas['lug_prod'] = datos_salidas['lug_prod'].str.replace('Tripolilebanon','Tripoli')
datos_salidas['lug_prod'] = datos_salidas['lug_prod'].str.replace('Mazarisharif','Mazari Sharif')
datos_salidas['lug_prod'] = datos_salidas['lug_prod'].str.replace('Ramatgan','Ramat Gan')
datos_salidas['lug_prod'] = datos_salidas['lug_prod'].str.replace('Thehague','The Hague')
datos_salidas['lug_prod'] = datos_salidas['lug_prod'].str.replace('Jhenida','Jhenaidah')
datos_salidas['lug_prod'] = datos_salidas['lug_prod'].str.replace('Pakanbaru','Pekanbaru')
datos_salidas['lug_prod'] = datos_salidas['lug_prod'].str.replace('Chonchu Jeonju','Jeonju')
datos_salidas['lug_prod'] = datos_salidas['lug_prod'].str.replace('Aletay','Altay')
datos_salidas['lug_prod'] = datos_salidas['lug_prod'].str.replace('Salva León de Higuey','Salvaleón de Higuey')
datos_salidas['lug_prod'] = datos_salidas['lug_prod'].str.replace('Bneibrak','Bnei Brak')
datos_salidas['lug_prod'] = datos_salidas['lug_prod'].str.replace('Kathlehong','Katlehong')
datos_salidas['lug_prod'] = datos_salidas['lug_prod'].str.replace('Chechon','Jecheon')
datos_salidas['lug_prod'] = datos_salidas['lug_prod'].str.replace('Mogilevmahilyow','Mogilev')
datos_salidas['lug_prod'] = datos_salidas['lug_prod'].str.replace('Kyongju Gyeongju','Gyeongju')

datos_salidas = datos_salidas[datos_salidas['lug_prod'] != "Aguas Internacionales"]

# Limpieza fechas
datos_salidas['dia_movi'] = datos_salidas['dia_movi'].astype(str)
datos_salidas['anio_movi'] = datos_salidas['anio_movi'].astype(str)

datos_salidas['mes_movi'] = datos_salidas['mes_movi'].str.replace('Enero','01')
datos_salidas['mes_movi'] = datos_salidas['mes_movi'].str.replace('Febrero','02')
datos_salidas['mes_movi'] = datos_salidas['mes_movi'].str.replace('Marzo','03')
datos_salidas['mes_movi'] = datos_salidas['mes_movi'].str.replace('Abril','04')
datos_salidas['mes_movi'] = datos_salidas['mes_movi'].str.replace('Mayo','05')
datos_salidas['mes_movi'] = datos_salidas['mes_movi'].str.replace('Junio','06')
datos_salidas['mes_movi'] = datos_salidas['mes_movi'].str.replace('Julio','07')
datos_salidas['mes_movi'] = datos_salidas['mes_movi'].str.replace('Agosto','08')
datos_salidas['mes_movi'] = datos_salidas['mes_movi'].str.replace('Septiembre','09')
datos_salidas['mes_movi'] = datos_salidas['mes_movi'].str.replace('Octubre','10')
datos_salidas['mes_movi'] = datos_salidas['mes_movi'].str.replace('Noviembre','11')
datos_salidas['mes_movi'] = datos_salidas['mes_movi'].str.replace('Diciembre','12')

datos_salidas['fecha'] = datos_salidas["dia_movi"]+"/"+datos_salidas["mes_movi"]+"/"+datos_salidas["anio_movi"]

datos_salidas.head()

,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,via_tran,...,pais_res,subcont_res,cont_res,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad,fecha
0,Salida,Extranjero,2020,01,22,Hombre,El Salvador,América Central,América,Vía Aérea,...,El Salvador,América Central,América,Aeropuerto Internacional Mariscal Sucre,Pichincha,Quito,No inmigrante 12-II,Personal de apoyo administrativo no clasificad...,55,22/01/2020
1,Salida,Extranjero,2020,01,3,Mujer,Chile,América del Sur,América,Vía Aérea,...,Ecuador,América del Sur,América,Aeropuerto Internacional José Joaquín de Olmedo,Guayas,Guayaquil,Convenio Chileno Ecuatoriano,Profesionales de la ensenanza no clasificados ...,72,3/01/2020
8,Salida,Extranjero,2020,01,16,Hombre,Estados Unidos de América,América del Septentrional,América,Vía Aérea,...,Estados Unidos de América,América del Septentrional,América,Aeropuerto Internacional José Joaquín de Olmedo,Guayas,Guayaquil,Convenio Chileno Ecuatoriano,Jubilados y pensionistas,64,16/01/2020
21,Salida,Extranjero,2020,01,16,Hombre,Sri Lanka,Asia Meridional,Asia,Vía Aérea,...,Colombia,América del Sur,América,Aeropuerto Internacional Mariscal Sucre,Pichincha,Quito,No inmigrante RT-CIE,Contables,37,16/01/2020
22,Salida,Extranjero,2020,01,17,Hombre,México,América Central,América,Vía Aérea,...,Ecuador,América del Sur,América,Aeropuerto Internacional José Joaquín de Olmedo,Guayas,Guayaquil,No inmigrante RT-CIE,Ingenieros no clasificados bajo otros epigrafes,34,17/01/2020

In [45]:
datos_salidas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1040823 entries, 0 to 2021475
Data columns (total 25 columns):
tip_movi        1040823 non-null object
tip_naci        1040823 non-null object
anio_movi       1040823 non-null object
mes_movi        1040823 non-null object
dia_movi        1040823 non-null object
sex_migr        1040823 non-null object
nac_migr        1040823 non-null object
subcont_nac     1040823 non-null object
cont_nac        1040823 non-null object
via_tran        1040823 non-null object
mot_viam        1040823 non-null object
pais_prod       1040823 non-null object
subcont_prod    1040823 non-null object
cont_prod       1040823 non-null object
lug_prod        1040823 non-null object
pais_res        1040823 non-null object
subcont_res     1040823 non-null object
cont_res        1040823 non-null object
jef_migr        1040823 non-null object
pro_jefm        1040823 non-null object
can_jefm        1040823 non-null object
cla_migr        1040823 non-null object
ocu_migr        1040823 non-null object
edad            1040823 non-null int64
fecha           1040823 non-null object
dtypes: int64(1), object(24)
memory usage: 206.5+ MB

In [46]:
# Unión de datos salidas con coordenadas

dataset_salidas = pd.merge(datos_salidas,datos_ciudades,on='lug_prod')

In [47]:
dataset_salidas.head()

,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,via_tran,...,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad,fecha,cantidad,latitud,longitud
0,Salida,Extranjero,2020,01,22,Hombre,El Salvador,América Central,América,Vía Aérea,...,Aeropuerto Internacional Mariscal Sucre,Pichincha,Quito,No inmigrante 12-II,Personal de apoyo administrativo no clasificad...,55,22/01/2020,27585,-12.062107,-77.036526
1,Salida,Extranjero,2020,01,1,Hombre,Perú,América del Sur,América,Vía Aérea,...,Aeropuerto Internacional José Joaquín de Olmedo,Guayas,Guayaquil,Inmigrantes 10-VI,Fotografos,35,1/01/2020,27585,-12.062107,-77.036526
2,Salida,Extranjero,2020,01,1,Hombre,Nigeria,África Occidental,África,Vía Aérea,...,Aeropuerto Internacional Mariscal Sucre,Pichincha,Quito,Inmigrantes RP-CAF,Comerciantes de tiendas,48,1/01/2020,27585,-12.062107,-77.036526
3,Salida,Extranjero,2020,01,2,Mujer,Perú,América del Sur,América,Vía Aérea,...,Aeropuerto Internacional Mariscal Sucre,Pichincha,Quito,Inmigrantes 10-VI,Profesores de formacion profesional,48,2/01/2020,27585,-12.062107,-77.036526
4,Salida,Extranjero,2020,01,2,Hombre,Uruguay,América del Sur,América,Vía Aérea,...,Aeropuerto Internacional José Joaquín de Olmedo,Guayas,Guayaquil,Inmigrantes 10-VI,Estudiantes,44,2/01/2020,27585,-12.062107,-77.036526

In [48]:
dataset_salidas['fecha']= pd.to_datetime(dataset_salidas['fecha'])

In [49]:
dataset_salidas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1040828 entries, 0 to 1040827
Data columns (total 28 columns):
tip_movi        1040828 non-null object
tip_naci        1040828 non-null object
anio_movi       1040828 non-null object
mes_movi        1040828 non-null object
dia_movi        1040828 non-null object
sex_migr        1040828 non-null object
nac_migr        1040828 non-null object
subcont_nac     1040828 non-null object
cont_nac        1040828 non-null object
via_tran        1040828 non-null object
mot_viam        1040828 non-null object
pais_prod       1040828 non-null object
subcont_prod    1040828 non-null object
cont_prod       1040828 non-null object
lug_prod        1040828 non-null object
pais_res        1040828 non-null object
subcont_res     1040828 non-null object
cont_res        1040828 non-null object
jef_migr        1040828 non-null object
pro_jefm        1040828 non-null object
can_jefm        1040828 non-null object
cla_migr        1040828 non-null object
ocu_migr        1040828 non-null object
edad            1040828 non-null int64
fecha           1040828 non-null datetime64[ns]
cantidad        1040828 non-null int64
latitud         1040828 non-null float64
longitud        1040828 non-null float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(23)
memory usage: 230.3+ MB

In [50]:
dataset_salidas.head()

,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,via_tran,...,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad,fecha,cantidad,latitud,longitud
0,Salida,Extranjero,2020,01,22,Hombre,El Salvador,América Central,América,Vía Aérea,...,Aeropuerto Internacional Mariscal Sucre,Pichincha,Quito,No inmigrante 12-II,Personal de apoyo administrativo no clasificad...,55,2020-01-22,27585,-12.062107,-77.036526
1,Salida,Extranjero,2020,01,1,Hombre,Perú,América del Sur,América,Vía Aérea,...,Aeropuerto Internacional José Joaquín de Olmedo,Guayas,Guayaquil,Inmigrantes 10-VI,Fotografos,35,2020-01-01,27585,-12.062107,-77.036526
2,Salida,Extranjero,2020,01,1,Hombre,Nigeria,África Occidental,África,Vía Aérea,...,Aeropuerto Internacional Mariscal Sucre,Pichincha,Quito,Inmigrantes RP-CAF,Comerciantes de tiendas,48,2020-01-01,27585,-12.062107,-77.036526
3,Salida,Extranjero,2020,01,2,Mujer,Perú,América del Sur,América,Vía Aérea,...,Aeropuerto Internacional Mariscal Sucre,Pichincha,Quito,Inmigrantes 10-VI,Profesores de formacion profesional,48,2020-02-01,27585,-12.062107,-77.036526
4,Salida,Extranjero,2020,01,2,Hombre,Uruguay,América del Sur,América,Vía Aérea,...,Aeropuerto Internacional José Joaquín de Olmedo,Guayas,Guayaquil,Inmigrantes 10-VI,Estudiantes,44,2020-02-01,27585,-12.062107,-77.036526

In [51]:
# Ordenar por fecha

dataset_salidas.sort_values(by=['fecha'], inplace=True)
dataset_salidas.head()

,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,via_tran,...,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad,fecha,cantidad,latitud,longitud
904409,Salida,Extranjero,2020,01,1,Hombre,España,Europa Meridional,Europa,Vía Aérea,...,Aeropuerto Internacional José Joaquín de Olmedo,Guayas,Guayaquil,Sin Especificar,Personal de apoyo administrativo no clasificad...,45,2020-01-01,10711,41.382894,2.177432
251275,Salida,Extranjero,2020,01,1,Hombre,Colombia,América del Sur,América,Vía terrestre,...,Centro Nacional de Atención Fronteriza Rumichaca,Carchi,Tulcán,No inmigrante T-3,Tecnicos en ingenieria mecanica,60,2020-01-01,64577,1.214601,-77.278276
251274,Salida,Extranjero,2020,01,1,Hombre,Colombia,América del Sur,América,Vía terrestre,...,Centro Nacional de Atención Fronteriza Rumichaca,Carchi,Tulcán,No inmigrante T-3,Comerciantes de tiendas,28,2020-01-01,64577,1.214601,-77.278276
251273,Salida,Extranjero,2020,01,1,Hombre,Colombia,América del Sur,América,Vía terrestre,...,Centro Nacional de Atención Fronteriza Rumichaca,Carchi,Tulcán,No inmigrante T-3,Comerciantes de tiendas,27,2020-01-01,64577,1.214601,-77.278276
251272,Salida,Extranjero,2020,01,1,Hombre,Francia,Europa Occidental,Europa,Vía terrestre,...,Centro Nacional de Atención Fronteriza Rumichaca,Carchi,Tulcán,No inmigrante T-3,Sin especificar,30,2020-01-01,64577,1.214601,-77.278276

In [52]:
# Guardar en CSV
dataset_salidas.to_csv('datos_salidas.csv')

In [53]:
# Para visualizacion

dataset_visualizacion = dataset_salidas[["latitud", "longitud","fecha","lug_prod"]]
dataset_visualizacion.head()

          latitud   longitud      fecha   lug_prod
904409  41.382894   2.177432 2020-01-01  Barcelona
251275   1.214601 -77.278276 2020-01-01      Pasto
251274   1.214601 -77.278276 2020-01-01      Pasto
251273   1.214601 -77.278276 2020-01-01      Pasto
251272   1.214601 -77.278276 2020-01-01      Pasto

In [54]:
dataset_visualizacion.to_csv('datos_visualizacion.csv')

In [ ]:
#dataset_salidas.style.format({"fecha": lambda t: t.strftime("%d/%m/%Y")})

In [90]:
# Principales países de destino

ranking_paises = datos_salidas['pais_prod'].value_counts()
ranking_paises

Estados Unidos de América          391601
Perú                               158557
Colombia                           132032
España                              81819
México                              69877
                                    ...
San Bartolomé                           1
Brunei Darussalam                       1
República Democrática del Congo         1
Timor-Leste                             1
Mauritania                              1
Name: pais_prod, Length: 192, dtype: int64

In [91]:
df_ranking_paises = pd.DataFrame(ranking_paises)
df_ranking_paises = df_ranking_paises.reset_index()
df_ranking_paises.columns = ['destino', 'cantidad']

In [92]:
df_ranking_paises

                             destino  cantidad
0          Estados Unidos de América    391601
1                               Perú    158557
2                           Colombia    132032
3                             España     81819
4                             México     69877
..                               ...       ...
187                    San Bartolomé         1
188                Brunei Darussalam         1
189  República Democrática del Congo         1
190                      Timor-Leste         1
191                       Mauritania         1

[192 rows x 2 columns]

In [59]:
df_ranking_paises.to_csv('datos_ranking_paises.csv')

In [60]:
#########################
# Sexo y edades
#########################
datos_edades_sexo = pd.read_csv (r'datos_salidas.csv',skipinitialspace=True)

In [61]:
datos_edades_sexo.tail()

,Unnamed: 0,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,...,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad,fecha,cantidad,latitud,longitud
1040823,420528,Salida,Ecuatoriano,2020,12,31,Hombre,Ecuador,América del Sur,América,...,Centro Binacional de Atención Fronteriza Huaqu...,El Oro,Huaquillas,Clase migratoria para ecuatorianos,"Capitanes, oficiales de cubierta y practicos",39,2020-12-31,112610,-3.833333,-80.50000
1040824,420527,Salida,Extranjero,2020,12,31,Hombre,Perú,América del Sur,América,...,Centro Binacional de Atención Fronteriza Huaqu...,El Oro,Huaquillas,No inmigrante Tripulante,"Conductores de automoviles, taxis y camionetas",42,2020-12-31,112610,-3.833333,-80.50000
1040825,420526,Salida,Extranjero,2020,12,31,Hombre,Perú,América del Sur,América,...,Centro Binacional de Atención Fronteriza Huaqu...,El Oro,Huaquillas,No inmigrante Tripulante,"Capitanes, oficiales de cubierta y practicos",44,2020-12-31,112610,-3.833333,-80.50000
1040826,420542,Salida,Extranjero,2020,12,31,Hombre,Perú,América del Sur,América,...,Centro Binacional de Atención Fronteriza Huaqu...,El Oro,Huaquillas,No inmigrante Tripulante,"Capitanes, oficiales de cubierta y practicos",47,2020-12-31,112610,-3.833333,-80.50000
1040827,562205,Salida,Extranjero,2020,12,31,Hombre,Estados Unidos de América,América del Septentrional,América,...,Aeropuerto Internacional José Joaquín de Olmedo,Guayas,Guayaquil,No inmigrante T-3,Menores de edad,7,2020-12-31,111128,25.774173,-80.19362

In [37]:
#sex_migr
#edad

ranking_sexo = datos_edades_sexo['sex_migr'].value_counts()
ranking_sexo

Hombre        554348
Mujer         486441
Indefinido        39
Name: sex_migr, dtype: int64

In [38]:
#sex_migr
#edad

ranking_edad = datos_edades_sexo['edad'].value_counts()
ranking_edad

30     23819
29     23572
31     23328
28     23105
32     22870
       ...
98        14
101        4
100        3
99         2
103        2
Name: edad, Length: 103, dtype: int64

In [39]:
#jef_migr

ranking_puerto_embarque = datos_edades_sexo['jef_migr'].value_counts()
ranking_puerto_embarque

Aeropuerto Internacional José Joaquín de Olmedo                  436764
Aeropuerto Internacional Mariscal Sucre                          389757
Centro Binacional de Atención Fronteriza Huaquillas              112457
Centro Nacional de Atención Fronteriza Rumichaca                  65217
Unidad de Control Migratorio Frontera Terrestre Macara             8474
Centro Binacional de Atención Fronteriza San Miguel                5716
Unidad de Control Migratorio Puerto Marítimo Guayaquil             5145
Unidad de Control Migratorio Frontera Terrestre Lalamor            4896
Unidad de Control Migratorio Puerto Marítimo Manta                 3071
Aeropuerto Internacional Cotopaxi                                  2707
Unidad de Control Migratorio Puerto Marítimo Esmeraldas            1471
Aeropuerto Transfronterizo Coronel Carlos Concha Torres            1359
Unidad de Control Migratorio Puerto Marítimo Bolívar                910
Aeropuerto Internacional Eloy Alfaro                                855
Unidad de Control Migratorio Puerto Marítimo La Libertad            656
Unidad de Control Migratorio Puerto Fluvial San Lorenzo             646
Unidad de Control Migratorio Puerto Marítimo Ayora                  308
Unidad de Control Migratorio Puerto Marítimo Baquerizo Moreno       109
Unidad de Control Migratorio Puerto Marítimo Seymour                 98
Unidad de Control Migratorio Frontera Terrestre Jimbura              94
Unidad de Control Migratorio Puerto Marítimo Posorja                 41
Unidad de Control Migratorio Puerto Marítimo Isabela                 37
Aeropuerto Mariscal Lamar                                            36
Aeropuerto Seymour de Baltra                                          2
Unidad de Control Migratorio Frontera Terrestre La Balsa              2
Name: jef_migr, dtype: int64

In [44]:
#pro_jefm

ranking_provincia_embarque = datos_edades_sexo['pro_jefm'].value_counts()
ranking_provincia_embarque

Guayas              441950
Pichincha           389757
El Oro              113367
Carchi               65217
Loja                 13464
Sucumbios             5716
Manabí                3926
Esmeraldas            3476
Cotopaxi              2707
Santa Elena            656
Galápagos              554
Azuay                   36
Zamora Chinchipe         2
Name: pro_jefm, dtype: int64

In [40]:
#can_jefm

ranking_canton_embarque = datos_edades_sexo['can_jefm'].value_counts()
ranking_canton_embarque

Guayaquil        441950
Quito            389757
Huaquillas       112457
Tulcán            65217
Macará             8474
Sucumbíos          5716
Zapotillo          4896
Manta              3926
Esmeraldas         2830
Latacunga          2707
Machala             910
Salinas             656
San Lorenzo         646
Santa Cruz          408
San Cristóbal       109
Espíndola            94
Isabela              37
Cuenca               36
Chinchipe             2
Name: can_jefm, dtype: int64

In [85]:
#ocu_migr

ranking_ocupacion = datos_edades_sexo['ocu_migr'].value_counts().to_frame()
ranking_ocupacion

                                                    ocu_migr
Personal de apoyo administrativo no clasificado...    257889
Menores de edad                                       116264
Estudiantes                                           107533
Amas de casa                                           74420
Jubilados y pensionistas                               63898
...                                                      ...
Meteorologos                                              13
Tecnicos de protesis medicas y dentales                   10
Astrologos, adivinadores y afines                          8
Operadores de maquinas para fabricar productos ...         8
Catadores y clasificadores de alimentos y bebidas          6

[150 rows x 1 columns]

In [86]:
ranking_ocupacion.head(20)

                                                    ocu_migr
Personal de apoyo administrativo no clasificado...    257889
Menores de edad                                       116264
Estudiantes                                           107533
Amas de casa                                           74420
Jubilados y pensionistas                               63898
Sin especificar                                        45997
Comerciantes de tiendas                                41978
Capitanes, oficiales de cubierta y practicos           39039
Ingenieros no clasificados bajo otros epigrafes        28844
Conductores de automoviles, taxis y camionetas         20530
Directores generales y gerentes generales              18471
Pilotos de aviacion y afines                           15859
Medicos generales                                      14451
Profesionales de la ensenanza no clasificados b...     12844
Abogados                                               12501
Profesores de formacion profesional                     9323
Oficiales, operarios y artesanos de artes mecan...      6740
Contables                                               6325
Auxiliares de servicios de abordo                       6292
Marineros de cubierta y afines                          5017

In [98]:
ranking_ocupacion.to_csv('datos_ocupacion.csv')

In [74]:
#tip_naci

ranking_nacionalidad = datos_edades_sexo['tip_naci'].value_counts().to_frame()
ranking_nacionalidad

             tip_naci
Extranjero     534548
Ecuatoriano    506280

In [102]:
#nac_migr

ranking_nac = datos_edades_sexo['nac_migr'].value_counts().to_frame()
ranking_nac

                           nac_migr
Ecuador                      506280
Estados Unidos de América    159049
Colombia                      88841
España                        55116
Perú                          45651
...                             ...
Seychelles                        1
Papúa Nueva Guinea                1
Fiyi                              1
Samoa                             1
Islas Salomón                     1

[181 rows x 1 columns]

In [103]:
ranking_nac.to_csv('datos_nacionalidad.csv')

In [51]:
#Dia de la semana
datos_edades_sexo['fecha']= pd.to_datetime(datos_edades_sexo['fecha'])
datos_edades_sexo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1040828 entries, 0 to 1040827
Data columns (total 29 columns):
Unnamed: 0      1040828 non-null int64
tip_movi        1040828 non-null object
tip_naci        1040828 non-null object
anio_movi       1040828 non-null int64
mes_movi        1040828 non-null int64
dia_movi        1040828 non-null int64
sex_migr        1040828 non-null object
nac_migr        1040828 non-null object
subcont_nac     1040828 non-null object
cont_nac        1040828 non-null object
via_tran        1040828 non-null object
mot_viam        1040828 non-null object
pais_prod       1040828 non-null object
subcont_prod    1040828 non-null object
cont_prod       1040828 non-null object
lug_prod        1040828 non-null object
pais_res        1040828 non-null object
subcont_res     1040828 non-null object
cont_res        1040828 non-null object
jef_migr        1040828 non-null object
pro_jefm        1040828 non-null object
can_jefm        1040828 non-null object
cla_migr        1040828 non-null object
ocu_migr        1040828 non-null object
edad            1040828 non-null int64
fecha           1040828 non-null datetime64[ns]
cantidad        1040828 non-null int64
latitud         1040828 non-null float64
longitud        1040828 non-null float64
dtypes: datetime64[ns](1), float64(2), int64(6), object(20)
memory usage: 230.3+ MB

In [53]:
#día de la semana
#Monday 0 - Sunday 6
datos_edades_sexo['fecha'].dt.dayofweek.value_counts()

4    176473
3    150018
2    149635
0    148512
6    143858
5    139667
1    132665
Name: fecha, dtype: int64

In [54]:
#mes_movi
#sex_migr

datos_edades_sexo.groupby(['mes_movi', 'sex_migr']).size()

mes_movi  sex_migr
1         Hombre        149109
          Indefinido        17
          Mujer         133184
2         Hombre        142352
          Indefinido        10
          Mujer         128319
3         Hombre         80260
          Indefinido         4
          Mujer          72870
4         Hombre          4542
          Indefinido         1
          Mujer           2246
5         Hombre          5306
          Indefinido         1
          Mujer           2493
6         Hombre          8271
          Indefinido         1
          Mujer           5274
7         Hombre         14738
          Mujer          12323
8         Hombre         18971
          Indefinido         1
          Mujer          15971
9         Hombre         21659
          Indefinido         1
          Mujer          17722
10        Hombre         30332
          Indefinido         1
          Mujer          26135
11        Hombre         38099
          Mujer          34204
12        Hombre         40709
          Indefinido         2
          Mujer          35700
dtype: int64

In [69]:
datos_edades_sexo['grupo_edad'] = pd.cut(datos_edades_sexo['edad'], [0,17,25,35,45,55,65,103], labels=["0-17","18-25","26-35","36-45","46-55","56-65","+65"], right=False)

#pd.cut(datos_edades_sexo['edad'], [0,17,25,35,45,55,65,103], labels=["0-17","18-25","26-35","36-45","46-55","56-65","+65"], right=False).value_counts()

In [70]:
datos_edades_sexo.head()

,Unnamed: 0,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,...,pro_jefm,can_jefm,cla_migr,ocu_migr,edad,fecha,cantidad,latitud,longitud,grupo_edad
0,904409,Salida,Extranjero,2020,1,1,Hombre,España,Europa Meridional,Europa,...,Guayas,Guayaquil,Sin Especificar,Personal de apoyo administrativo no clasificad...,45,2020-01-01,10711,41.382894,2.177432,46-55
1,251275,Salida,Extranjero,2020,1,1,Hombre,Colombia,América del Sur,América,...,Carchi,Tulcán,No inmigrante T-3,Tecnicos en ingenieria mecanica,60,2020-01-01,64577,1.214601,-77.278276,56-65
2,251274,Salida,Extranjero,2020,1,1,Hombre,Colombia,América del Sur,América,...,Carchi,Tulcán,No inmigrante T-3,Comerciantes de tiendas,28,2020-01-01,64577,1.214601,-77.278276,26-35
3,251273,Salida,Extranjero,2020,1,1,Hombre,Colombia,América del Sur,América,...,Carchi,Tulcán,No inmigrante T-3,Comerciantes de tiendas,27,2020-01-01,64577,1.214601,-77.278276,26-35
4,251272,Salida,Extranjero,2020,1,1,Hombre,Francia,Europa Occidental,Europa,...,Carchi,Tulcán,No inmigrante T-3,Sin especificar,30,2020-01-01,64577,1.214601,-77.278276,26-35

In [79]:
# Promedio edad
datos_edades_sexo["edad"].mean()

38.55061643230197

In [71]:
datos_edades_sexo.groupby(['sex_migr','grupo_edad']).size()

sex_migr    grupo_edad
Hombre      0-17           51735
            18-25          64765
            26-35         120689
            36-45         116870
            46-55          95029
            56-65          65149
            +65            40111
Indefinido  0-17               5
            18-25              9
            26-35              7
            36-45              7
            46-55              4
            56-65              6
            +65                1
Mujer       0-17           51944
            18-25          63226
            26-35         105764
            36-45          84887
            46-55          73953
            56-65          61830
            +65            44835
dtype: int64

In [80]:
datos_edades_sexo.groupby(['via_tran']).size()

via_tran
Vía Aérea        831480
Vía Maritimo      11846
Vía fluvial         646
Vía terrestre    196856
dtype: int64

In [81]:
datos_edades_sexo.groupby(['mot_viam']).size()

mot_viam
Aislamiento       114
Estudios        15206
Eventos         43411
Negocios        11372
Otros           69902
Residencia     561079
Turismo        339744
dtype: int64

In [93]:
# Pais y ciudades
datos_edades_sexo.head()

,Unnamed: 0,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,...,pro_jefm,can_jefm,cla_migr,ocu_migr,edad,fecha,cantidad,latitud,longitud,grupo_edad
0,904409,Salida,Extranjero,2020,1,1,Hombre,España,Europa Meridional,Europa,...,Guayas,Guayaquil,Sin Especificar,Personal de apoyo administrativo no clasificad...,45,2020-01-01,10711,41.382894,2.177432,46-55
1,251275,Salida,Extranjero,2020,1,1,Hombre,Colombia,América del Sur,América,...,Carchi,Tulcán,No inmigrante T-3,Tecnicos en ingenieria mecanica,60,2020-01-01,64577,1.214601,-77.278276,56-65
2,251274,Salida,Extranjero,2020,1,1,Hombre,Colombia,América del Sur,América,...,Carchi,Tulcán,No inmigrante T-3,Comerciantes de tiendas,28,2020-01-01,64577,1.214601,-77.278276,26-35
3,251273,Salida,Extranjero,2020,1,1,Hombre,Colombia,América del Sur,América,...,Carchi,Tulcán,No inmigrante T-3,Comerciantes de tiendas,27,2020-01-01,64577,1.214601,-77.278276,26-35
4,251272,Salida,Extranjero,2020,1,1,Hombre,Francia,Europa Occidental,Europa,...,Carchi,Tulcán,No inmigrante T-3,Sin especificar,30,2020-01-01,64577,1.214601,-77.278276,26-35

In [99]:
ranking_pais_ciudad = datos_edades_sexo.groupby(['pais_prod','lug_prod']).size().to_frame()
ranking_pais_ciudad.head()

                           0
pais_prod  lug_prod
Afganistán Farah           1
           Ghazni          1
           Herat           2
           Mazari Sharif   3
Albania    Durres         11

In [100]:
ranking_pais_ciudad.to_csv('datos_pais_ciudad.csv')

In [101]:
# Ranking ciudades
ranking_ciu = datos_edades_sexo['lug_prod'].value_counts().to_frame()
ranking_ciu.head(20)

                         lug_prod
Tumbes                     112610
Miami Florida              111128
New York New York          103388
Pasto                       64577
Madrid                      60558
Mexico City                 46212
Bogotá Dc                   44039
Fort Lauderdale Florida     43056
Lima                        27585
Santiago                    24805
Panamá City                 22876
Newark New Jersey           22034
Cancun                      16123
Orlando Florida             14577
Buenos Aires                14509
Piura                       13575
Los Ángeles California      11635
Toronto                     11402
Barcelona                   10711
Houston Texas               10362